@import "../../bower_components/normalize.css/normalize.css";
@import "lib/base";

* {
  box-sizing:border-box;
  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
    color: $grey;
    opacity: 1;
  }
  &:focus{
    outline:0;
  }
}
a{
  text-decoration: none; 
}
body {
  input:focus:required:invalid, textarea:focus:required:invalid, input:required:valid, textarea:required:valid {}
}

.header, #wrap {
  ::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
    background-color: $grey;
  }

  ::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #777;
    background-color: #919191;
    cursor: pointer;
  }
}

* {
  margin: 0;
  padding: 0;
}

a, img {
  outline: none;
}

#wrap, header {
  max-width: 1280px;
  margin: 0 auto;
  @include r(1280){
    padding: 0 10px;
  }
  @include r(768){
    padding: 0 15px;
    overflow: hidden;
  }  
}
header{
  @include r(1280){
    padding: 0;
  }
}
.hidden-block {
  background: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.hidden_bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(74, 74, 74, 0.34);
  height: 100%;
  padding-top: 65px;
}

.hidden-block-close {
  position: relative;

  &:after {
    content: "";
    background: url("../img/main/close.svg");
    width: 15px;
    height: 15px;
    position: absolute;
    right: -29px;
    top: -30px;
    cursor: pointer;
  }
}

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: $ProximaRegular;
  color: #3c3c3c;
}

.hidden {
  display: none;
}

/* top-line */

.top-line {
  padding-top: 12px;
  padding-bottom: 26px;
  @include r(482){
    display: none;
  }
  a {
    color: #3c3c3c;
    text-decoration: none;
    font-size: 13px;

    &:hover {
      color:$red;
    }
  }

  ul li {
    list-style-type: none;
  }
}

.top-line-region, .top-line-nav, .top-line-call {
  display: inline-block;
  vertical-align: top;
}

.top-line-region {
  padding-right: 144px;
  @include r(1150){
    padding-right: 40px;
  }
  a {
    position: relative;
    padding-right: 24px;

    &:after {
      content: "";
      width: 14px;
      height: 8px;
      background: url(../img/arrow_small.svg);
      background-size: 14px 8px;
      position: absolute;
      top: 50%;
      margin-top: -2px;
      right: -2px;
    }
  }
}
.top-line-nav{
  @include r(840){
    display: none;
  }
}
.top-line-nav nav > ul > li {
  display: inline-block;
  padding-right: 27px;
  vertical-align: top;
  position: relative;
  //hide 3rd block that appended in dropdonw
  &:nth-child(3){
    @include r(1054){
    display: none;
    }
  }
  &:first-child {
    font-family: $ProximaSemibold;
    font-weight: bold;
  }
    .drop-line-nav li{
      &:first-child{
        display: none;
        @include r(1054){
          display: block;
        }
      }
  }
  &.dropdown-btn{
    .icon{
      width:20px;
     position: absolute;
      right: 0;
      top:0;
    }
  }
}

.wrap-catalog-btn {
  display: none;

  p {
    font-weight: bold;
    position: relative;
    font-family: $ProximaSemibold;
    cursor: pointer;
    display: inline-block;

    &:before {
      content: "";
      position: absolute;
      background: url("../img/main/3line.jpg");
      width: 18px;
      height: 14px;
      left: 0;
      top: 50%;
      margin-top: -7px;
    }
  }
}
.dropdown-btn{
  a.active{
    a{
      color:$red;
    }
    .st1{
        fill:$red;
    }
  }
}

.drop-menu-wrapper{
  padding-top: 22px;
  position: absolute;
  z-index: 1;
  width: 150px;
  top: 0;
  display: none;
}
.drop-line-nav {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width:100%;
  li {
    border-left: 2px solid #fff;
    &:hover {
      background: #f4f4f4;
      border-left: 2px solid #fb0101;
    }

    a {
      padding-left: 17px;
      padding:12px 10px;
      display: block;
      width:100%;

      &:hover {
        color: #fb0101;
      }
    }
  }
}

.top-line-call {
  float: right;
  font-size: 12px;

  p span {
    font-family: $ProximaSemibold;
    font-weight: bold;
    font-size: 14px;
  }

  a {
    color: $red;
  }
}

.regions_hidden {
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
}

.regions_wrap {
  width: 940px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 45px 45px 70px;

  h2 {
    font-size: 28px;
    line-height: 1;
    padding-bottom: 35px;
  }
}

.regions_map {
  width: 600px;
  display: inline-block;
  vertical-align: top;

  img {
    width: 100%;
  }
}

.regions {
  display: inline-block;
  width: 220px;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 27px;

  h3 {
    font-size: 14px;
    padding-bottom: 17px;
  }
}

.region_form {
  label {
    display: block;
    line-height: 36px;
    color: #000;

    &:hover {
      color: $red;
    }
  }

  input {
    &[type="radio"] {
      margin-right: 10px;
      cursor: pointer;
      width: 18px;
      height: 18px;
      position: relative;
      top: 4px;
    }

    &[type=submit] {
      background: $red;
      border: none;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      color: #fff;
      text-align: center;
      width: 150px;
      line-height: 40px;
      cursor: pointer;
      outline: none;
      margin-top: 24px;
    }
  }
}

/* line */

.line {
  padding-bottom: 20px;
  @include clearfix;
  position: relative;
  @include r(482){
    padding-bottom: 0;
    padding-top: 15px;
  }
}

.line-wrap-logo {
  display: inline-block;
  vertical-align: top;
  padding-right: 12px;
  @include r(482){
      padding-top: 10px;
      .logo{
        margin-top: 5px;
        width:130px !important;
      }
    }
  .logo {
    width: 170px;
    display: inline-block;
    vertical-align: top;
  }

  .logo-market {
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
    @include r(900){
      display: none;
    }
    p {
      line-height: 1.2;

      &.market {
        color: $red;
        font-size: 18px;
        font-weight: bold;

        /* Óñòàíîâèòü øðèôò Proxima Nova Bold Italic */
        font-style: italic;
      }

      &.bigmarket {
        font-size: 12px;
        color: $letters;
        font-style: italic;

        /* Óñòàíîâèòü øðèôò Proxima Nova Italic */
      }
    }
  }
}
//прозрачный текст при фокусе
input:focus::-webkit-input-placeholder {
  color:transparent;
}
input:focus:-moz-placeholder {
  color:transparent;
}
 #dva2:checked +label{
    color:$red;
    background-color: $yellowHov;
  }
#dva1:checked +label{
    color:$red;
    background-color: $yellowHov;
  }
.line-search-form {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width:34%;
  @include r(900){
    width:38%;
  }
   @include r(688){
    display: none;
  }
  .select-container{
    position: absolute;
    top:30%;
    right:26%;
    display: none;
    background-color: $white;
    padding-left: 6px;
    a{
      display: inline-block;
      text-decoration:none;
      color: #000;
      height:100%;
      .img{
        @include x-rem(width, 8px);
        @include x-rem(height, 4px);
        @include x-rem(padding-left, 6px);
        display: inline-block;
        float:right;
        svg{
          display: inline-block;
          vertical-align: middle;
        }
      }
      &.active{
        color:$red;
        .img{
          svg{
          transform: rotate(180deg);
          fill:$red;
        }
        }
      }
    }
    .section{
      display:none;
      border:none;
      outline: 0;
      position: absolute;
      top:50px;
      right:-100px;
      z-index: 2;
      height:90px;
      font-size: 16px;
      font-weight: 600;
      box-shadow: 0 0 10px rgba(0,0,0,.3);
      .section-item{
        @include x-rem(font-size, 14px);
        @include x-rem(width, 130px);
        @include x-rem(height, 45px);
        transition: all.3s;
        cursor: pointer;
        background-color:$white;
        position: relative;
        overflow: hidden;
        input{
          position: absolute;
          float:left;
          display: inline-block;
          width:100%;
          height:100%;
          opacity:0;
          top:0;
          z-index: 2;
        }
        label{
          display: inline-block;
          position: absolute;
          top:0;
          z-index: 1;
          height: 100%;
          width:100%;
          line-height:45px;
          padding-left: 20px;
        }
        &:hover{
          background-color: $yellowHov;
          color:$red;
          transition: all.3s;
        }
        }
         &.active{
          display: block;
        }
    }
  }

  form {
    border: 2px solid #eaeaea;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    width:100%;
  }

  input {
    &[type='search'], &[type='submit'] {
      background: none;
      border: none;
      outline: none;
      display: inline-block;
      line-height: 52px;
    }
    &[type='search'] {
      padding: 0 13px;
      border-right: 1px solid #eaeaea;
      display: block;
      overflow: hidden;
      width: 80%;
    
      &:focus{
        color:transparent;
      }
      &.search{
        color:#000;
        }
    }

    &[type='submit'] {
      width:20%;
      cursor: pointer;
      float: right;
    
      &:hover{
        background-color: $yellowHov;
      }
    }
  }
}

.line_search_hidden {
  background: #ffffff;
  border-radius: 3px;
  padding: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  top: 60px;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}

.search_list {
  padding-bottom: 17px;
  a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
    line-height: 36px;
    position: relative;

    &:after {
      content: '';
      background: url("../img/main/scroll_down.svg");
      width: 18px;
      height: 18px;
      position: absolute;
      right: -30px;
      top: 50%;
      margin-top: -9px;
    }
  }
}

.line-tools {
  padding-left: 26px;
  position: relative;
  @include r(1100){
    padding-left: 1%;
  }
  @include r(768){
     float: right;
    }
  @include r(482){
      margin-top: 10px;
    }
  .account {
    display: inline-block;
    vertical-align: top;
  }

  display: inline-block;
  vertical-align: top;
}

//mobile searsh

.mobile-search{
    position: absolute;
    @include x-rem(bottom,-10px);
    width:100%;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    background: $white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all.3s;
    &.active{
      @include x-rem(bottom,-80px);
      opacity: 1;
      visibility: visible;
      transition: all.3s;
    }
    .mobile-search-submit,.mobile-search-input{
      background: 0 0;
      border: none;
      outline: 0;
      display: inline-block;
      @include x-rem(padding,15px); 
    }
    .mobile-search-submit{
      float: right;
      color:transparent;
      width:20%;
      background: url(../img/utility/search_2.svg); 
      background-repeat: no-repeat;
      @include x-rem(background-size,20px 20px);
      background-position: center center;
    }
    .mobile-search-input{
      width:80%;
    }
  }
.tools-defer,.tools-comparison {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin: 14px;
  cursor: pointer;
  @include r(482){
    display:none;
  }
}

.tools-comparison {
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    background: url(../img/main/comparison.svg);
    background-size: 16px 16px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
  }

  &:hover:before {
    content: "";
    width: 16px;
    height: 16px;
    background: url(../img/main/empty_compariso.svg);
    background-size: 16px 16px;
    position: absolute;
    top: 50%;
    margin-top: -8px;

  }
}

.cart:hover::after, .tools-defer:hover::after, .tools-comparison:hover::after {
  content: attr(data-title);
  background: #fff;
  text-align: center;
  z-index: 1;
  line-height: 1.3;
  position: absolute;
  font-size: 14px;
  display: inline-block;
  padding: 20px 10px;
  top: 50px;
  width: 156px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.tools-defer:hover::after {
  width: 170px;
  padding: 11px 10px;
}

.cart:hover::after {
  right: 0;
  color: #000;
  font-weight: normal;
  width: 250px;
  font-size: 14px;
  top: 58px;
}

.tools-defer:before {
  content: "";
  width: 16px;
  height: 16px;
  background: url(../img/main/defer.svg);
  background-size: 16px 16px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  @include r(482){
      left:25%;
    }
}

/*
.tools-defer:hover:before{
	content: "";
	width: 14px;
	height: 8px;
	background: url(../img/main/empty_compariso.svg);
	background-size: 14px 8px;
	position: absolute;
	top: 50%;
	margin-top: -2px;
	right: -2px;
}
*/
.tools-search{
  position: relative;
  display: none;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin: 10px;
  cursor: pointer;
  @include r(482){
    display: inline-block;
    @include x-rem(width,40px)
     margin: 0;
     padding: 0;
     @include x-rem(height,40px)
  }
  &:before {
    content: "";
    width: 17px;
    height: 17px;
    background: url(../img/utility/search_1.svg);
    background-size: 17px 17px;
    position: absolute;
    top: 50%;
    @include r(482){
      left:33%;
      top:38%;
    }
  }
}
.line-tools .account {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 30px;
  height: 33px;
  padding-top: 11px;
  margin-left: 30px;

  @include r(1024){
     margin-left: 14px;
    }
  @include r(482){
     @include x-rem(width,40px)
     margin: 0;
     padding: 0;
     @include x-rem(height,40px)
    }
  span {
    color: $letters;
    line-height:20px;
    @include r(1180){
      display: none;
    }
  }

  &:before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../img/main/account.svg);
    background-size: 20px 20px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 0;
    @include r(482){
      left:33%;
      top:45%;
    }
  }
}

.line-cart {
  display: inline-block;
  vertical-align: top;
  float: right;
  position: relative;
  @include r(482){
      color:transparent !important;
      padding-top: 10px;
      }
  .cart {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background: $red;
    position: relative;
    padding: 12px 12px 14px 47px;
    line-height: 46px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    @include r(1024){
        padding-left: 14px;
      }
    @include r(768){
        padding:0;
        background: transparent;
        color:transparent;
        &.active{
          background: transparent !important;
          color: transparent !important;
        }
        span{
          background-color: $red;
          color:$white;
          position: absolute;
          top:-10px;
          right:0;
          height:20px;
          line-height:1.4; 
        }
      }
      @include r(482){
        span{
          top:0;
        }
      }
  }

}



.line-cart {
  .cart {
    @include r(482){
      float: right;
      margin-right: 10px;
    }
    &.active {
      background: #fff445;
      color: #000;
    }

    &:before {
      content: "";
      width: 23px;
      height: 18px;
      background: url(../img/main/cart.svg);
      background-size: 23px 18px;
      position: absolute;
      top: 50%;
      margin-top: -9px;
      left: 13px;
      @include r(1024){
        display: none;
      }@include r(768){
        display: block;
      }
    }
  }

  a span {
    color: $red;
    background: #fff;
    padding: 2px 6px;
    font-size: 12px;
    margin-left: 7px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }

  .cart:hover span {
    color: #000000;
  }

}
.cart_list-wrapper,.cart_list-empty{
  padding-top: 60px;
  display: none;
  width: 408px;
  height: 543px;
   border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: absolute;
  right: 0px;
  z-index: 1;
  top: 0;
}
.cart_list_hidden {
  width:100%;
  background:#fff;
  padding: 17px 17px 30px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
}

.cart_list_block_scroll {
  height: 370px;
  overflow: auto;
}

.cart_list_block {
  padding-bottom: 15px;
  position: relative;

  &:after {
    content: "";
    background: url("../img/main/del_product.svg");
    position: absolute;
    width: 13px;
    height: 15px;
    top: 5px;
    right: 16px;
    cursor: pointer;
  }

  img {
    display: inline-block;
    vertical-align: top;
  }
}

.cart_list_descr {
  display: inline-block;
  vertical-align: top;
  width: 75%;
  padding: 0 14px;
  box-sizing: border-box;

  p {
    line-height: 1.4;
  }
}

.cart_list_name {
  font-size: 16px;
  color: #000;
  padding: 3px 0;
}

.cart_list_coast {
  padding-top: 5px;

  p {
    font-size: 14px;
  }
}

.cart_total {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  line-height: 60px;

  span {
    color: #9d9c9c;
    font-size: 14px;
    font-weight: normal;
  }

  p {
    color: #9d9c9c;
    font-size: 14px;
    font-weight: normal;

    > span {
      color: #000;
      font-size: 17px;
      font-weight: bold;
      margin-left: 43px;
    }
  }
}

.cart_buttons {
  padding-top: 28px;

  a {
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    line-height: 35px;
    padding: 0 18px;
    margin: 0 13px;
    display: inline-block;
  }
}

.cart_incart {
  color: #000;
  background: #fff445;
}

.cart_content {
  color: #fff;
  background: $red;
}

/* nav */
.main-nav{
  position: relative;
}
.nav {
  background: $yellow;
  border-bottom: 2px solid #fb0101;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  .dropdown-btn{
      position: relative;
      text-align: center;
      cursor: pointer;
      height: 100%;
      display: none;
      &:hover{
          background-color: $red;
          &>a{
            color:$white;
             transition:color .3s;
          }
          .st1{
            fill:$white;
            transition:fill .3s;
          }
        }
      @include r(1054){
        display: table-cell;
      }
      @include r(768){
        display: none;
      }
      
      &>a{
        padding:12px 0;
      }
      .drop-line-nav {
        min-width:200px;
        li{
          padding-right: 0;
        }
        
      }
      a{
        color: #000;
        font-size: 17px;
        font-weight: 700;
        text-decoration: none;
        text-align: right;
        width:100%;
        display: inline-block;
        height:100%;
        padding:10px;
      }
      .icon{
        display: inline-block;
        width:20px;
        height:100%;
        margin-left: 2px;
        @include r(960){
          display: none;
        }
        .st1{
          transition:fill .3s;
        }
      }
      .drop-menu-wrapper{
        right:0;
        width:auto; 
        padding-top: 48px;
      }
    }
  > ul {
    position: relative;
    display: table;
    width: 100%;
    height: 50px;
    @include r(768){
      @include x-rem(padding-top,10px)
      position: absolute;
      display: none;
      background: $white;
      z-index: 4;
      margin-top: 5px;
    }
    > li {
      display: table-cell;
      border-right: 1px solid $yellowLight;
      &:nth-child(n+6){
        @include r(1054){
          display: none;
        }
      }
      @include r(768){
        border-right:1px solid transparent;
        display: block;
        background: $white;
        border-bottom: 1px solid $greyLight;
        &:hover{
          a{
            background: $greyLight;
          }
          
        }
      }
      > a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        color: #000000;
        font-size: 17px;
        font-weight: bold;
        transition: color.3s;
        /* Proxima Nova Semibold */
        text-decoration: none;
        text-align: center;
        padding: 12px 0;
        @include r(768){
          text-align: left;
          padding: 12px 2px;
        }
      }

      &:last-child {
        border-right: none;
      }

      a.sale {
        color: $red;
        &:hover {
          color: #fff;
          transition:background .3s;
          transition: color.3s;
        }
      }
    }
  }
}
.js-mobile-menu-btn{
  padding: 12px 10px;
  display: none;
  @include r(768){
    display: block;
  }
  a{
    color: #000;
    @include x-rem(font-size, 17px)
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    width:100%;
  }
  .icon.arr-r{
    height:100%;
    width:20px;
    float: right;
    transform: rotate(270deg);
    transform-origin: 50%;
  }
}
.main-nav-dropmenu {
  display: none;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
  border-top: 2px solid red;
  background: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav > ul > li:hover {
  > a {
    color: #fff;
    background: #f20101;
    transition:background .3s;
  }

  .main-nav-dropmenu {
    display: block;
  }
}

.nav-main {
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #e3e3e3;
  width: 312px;
  padding: 25px 0;
  position: relative;

  > ul > li {
    width: 310px;
    list-style-type: none;
    background: #fff;
    border-left: 2px solid transparent;

    a {
      font-size: 14px;
      font-weight: bold;
      font-family: $ProximaSemibold;
      text-align: left;
      padding-left: 17px;
      line-height: 34px;
      color: #000;
      text-decoration: none;

      &:hover {
        color: #fb0101;
        background: transparent;
      }
    }

    &:hover {
      background: #f4f4f4;
      border-left: 2px solid #fb0101;
    }
  }
}

.drop-nav-dropmenu {
  position: absolute;
  right: -240px;
  top: 26px;
  display: none;

  ul li {
    list-style-type: none;

    a {
      font-weight: normal;
      width: 100%;
      height: 100%;
      display: inline-block;
      span {
        color: #fb0101;
      }
    }
  }
}

.nav-main > ul > li:hover {
  > a {
    color: #fb0101;
  }

  .drop-nav-dropmenu {
    display: block;
  }
}

.featur-brands ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0 7px;
  @include r(996){
      &:nth-child(n+4){
        display: none;
      }
    }
  img {
    max-width: 100px;
    @include r(930){
      max-width:75px; 
    }
  }
}

.nav-main-wrap {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  @include r(1040){
    width:40%;
  }
}

.main-nav-featur {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  @include r(1040){
    float:right;
    margin-right: 10px;
  }
  @include r(768){
    display: none;
  }
}

.featur-blocks-wrap {
  float: right;
  .themed_block{
    @include r(1040){
    float:right;
    &:last-child{
      display: none;
    }
  }
  @include r(960){
    &:not(:first-child){
      display: none;
    }
  }
  }
}

.featur-brands {
  float: right;
  padding: 24px 0;

}

.featur-blocks-wrap img {
  padding-bottom: 0;
}

.main-nav-featur {
  padding-top: 15px;
}

/* section @promo@ */

.promo {
  padding-top: 15px;
  font-size: 0;
  overflow: hidden;
}

.promo-slider {
  width: 50%;
  height: 400px;
  display: inline-block;
  vertical-align: top;
  border-radius: 4px;
  position:relative;
  @include r(980){
    width:100%;
    height:380px;
  }
  @include r(768){
    width:100%;
    height:380px;
  }
  @include r(480){
    width:100%;
    height:250px;
  }
  .slick-track{
    height:100%;
  }
  .galery__nav{
    position: absolute;
    top:45%;
    @include x-rem(height, 40px)
    width:100%;
    z-index: 1;
    .slick-arrow{
      display: inline-block;
      @include x-rem(width, 15px);
      @include x-rem(height, 40px);
      border:none;
      background: none;
      outline: 0;
      cursor:pointer;
      &:hover{
        .icon{
          .st0{
          fill:$yellow;
          transition: fill .3s;
        }
        }
      }
      .icon{
        width:100%;
        height:100%;
        svg{
          width:40px;
          height:15px;
        }
        .st0{
          fill:$white;
          transition: fill .3s;
        }
      }
    }
    .carousel-next{
      float:right;
      @include x-rem(margin-right, 20px);
      svg{
          transform: rotate(270deg);
          transform-origin: 50% 100%;
        }

    }
    .carousel-prev{
      float:left;
      svg{
          transform: rotate(-270deg);
          transform-origin: 50% 100%;
        }

    }
  }
  .slide {
    position: relative;
    outline: none;
  }

  h3 {
    margin-top: 40px;
    padding-left: 45px;
    font-size: 28px;
    line-height: 1.3;
    font-weight: normal;
    @include r(480){
    margin-top: 10px;
  }

    /* Proxima Nova Regular */
  }

  p {
    padding-left: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: normal;

    /* Proxima Nova Regular */
  }

  .promo-link__wrapper{
    margin-left: 45px;
    width: 132px;
    height: 31px;
    position: absolute;
    /* Proxima Nova Semibold */
    transform: skew(-10deg);
    background: $red;
    border-radius: 3px;
    a{
      transform: skew(10deg);
      display: inline-block;
      width:100%;
      height:100%;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      color: #fff;
      text-decoration: none;
      line-height: 30px;
    }
  }

  img {
    position: absolute;
    bottom: 0;
    z-index: -1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height:100%;
    @include r(980){
      height:auto;
      width:100%;
    }
    @include r(480){
      height:100%;
    }
  }
}

.promo-banners {
  width: 50%;
  overflow: hidden;
  display: inline-block;
  height: 400px;
  float: right;
  @include r(980){
    padding-top: 10px;
    width:100%;
    float: left;
  }
  @include r(480){
      height:auto;
    }
  a {
    display: block;
    width: 100%;
    height: 100%;
    min-height:200px;
    text-decoration: none;
    transition: opacity .3s;
    overflow: hidden;
    padding:0 20px;
    &:hover{
      opacity: .8;
      transition: opacity .3s;
    }
  }

  h3 {
    font-size: 17px;
    color: #000000;
    text-align: center;
    padding: 22px 0 8px;
    line-height: 1.3;
    font-weight: bold;

    /* fonts Proxima Nova Semibold*/
  }

  p {
    text-align: center;
    font-size: 16px;
    color: $letters;
  }

  img {
    max-width:279px;
    display: block;
    margin:30px auto ;
  }

  .ban_1 {
    width: 50%;
    height: 400px;
    display: inline-block;
    float: left;
    border-radius: 4px;
    position: relative;
    left: 2px;
    min-height: 1px;
    padding:0 6px;
    overflow: hidden;
    @include r(980){
    width:50%;
    float: left;
    height: 410px;
    padding: 0 6px 0 0; 
   }
   @include r(480){
      width:100%;
      margin-bottom: 10px;
    }
   img{
    @include r(1230){
      width:100%;
      }
    }
  }

  .ban_3, .ban_2 {
    display: inline-block;
    width: 50%;
    height: 196px;
    float: right;
    border-radius: 4px;
    position: relative;
    min-height: 1px;
    overflow: hidden;
    padding:0 6px;
  @include r(980){
    width:50%;
    float: left;
    height: 50%;
    padding:0 0 0 6px;
  }
  @include r(480){
    width:100%;
  }
  }

  .ban_3 {
    top: 8px;
  .text__wrapper{
    width:150px;
    display: inline-block;
    float: left;
    @include r(980){
    padding-left: 20px;
  }
  }
    h3, p {
      text-align: left;
      width: 130px;
      line-height: 1.3;
      display: inline-block;
    }
    img{
    position: absolute;
    right:30px;
    margin:0;
    bottom:20px;
  }
  }
}

/* section @features@ */
.section-feature{
  position: relative;
}
.features {
  margin-top: 20px;
  box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.9);
  -moz-box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.9);
  -webkit-box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.9);
  height: 74px;
  @include r(570){
    height: 150px;
  }
}
.features__nav{
    position: absolute;
    top:28%;
    @include x-rem(height, 40px)
    width:100%;
    z-index: 1;
    @include r(570){
    top:40%;
  }
    .slick-arrow{
      display: inline-block;
      @include x-rem(width, 15px);
      @include x-rem(height, 40px);
      border:none;
      background: none;
      outline: 0;
      cursor:pointer;
      &:hover{
        .icon{
          .st0{
          fill:$yellow;
          transition: fill .3s;
        }
        }
      }
      .icon{
        width:100%;
        height:100%;
        svg{
          width:40px;
          height:15px;
        }
        .st0{
          fill:$grey;
          transition: fill .3s;
        }
      }
    }
    .carousel-next{
      float:right;
      @include x-rem(margin-right, 10px);
      svg{
          transform: rotate(270deg);
          transform-origin: 45% 130%;
        }

    }
    .carousel-prev{
      float:left;
      @include x-rem(margin-left, 10px);
      svg{
          transform: rotate(-270deg);
          transform-origin: 25% 45%;

        }

    }
  }
.features_block {
  line-height: 72px;
  border: 1px solid #eaeaea;
  border-left: none;
  width: 25%;
  display: inline-block;
  @include r(570){
    height: 150px;
    text-align: center;
  }
    &:first-child {
        border-left: 1px solid #eaeaea;
      }
    &:last-child {
        border-right: 1px solid transparent;
      }
  .features--img {
    padding-left: 35px;
    display: inline-block;
    @include r(570){
    display: block;
    padding: 0;
  }
    svg{
      display: inline-block;
    vertical-align: middle;
    @include x-rem(width, 40px);
    }
  }

  p {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    width: 63%;
    padding-left: 18px;
    line-height: 1.3;
    @include r(570){
    text-align: center;
    padding: 0;
  }
  }
}

/* section @discount@ */

.discount {
  padding-top: 30px;
  font-size: 0;
  &.discount_inner:last-child{
    .discount-slider{
    border-bottom-color: transparent;
    }
  }
  h2 {
    font-size: 28px;
  }
}

.discount_slider {
  position: relative;
  display: table;
  width: 100%;
}
.discount-hoverable{
    height: 400px;
    position: relative;
    z-index: 4;
}
.discount_block {
  @include clearfix
  &:hover{
        .discount_name{
            background: $yellowHov;
      transition: background .2s;
        }
    }
  img {
    margin: 0 auto;
    display: block;
  }

  .discount_coast {
    text-align: center;
    color: #000000;
    font-weight: bold;

    /* Proxima Nova Semibold */
    font-size: 14px;
  }
}

.discount_name{
    @include clearfix;
    top:0;
    text-align:center; 
    @include x-rem(padding,8px 12px );
    background: $yellow;
    .discount{
      padding: 0;
      color:$red;
      text-align:left;
      @include x-rem(font-size,16px)
      vertical-align: top;
      @include x-rem(padding-left,4px)
    }
    .name{
      @include x-rem(font-size,16px);
      white-space: nowrap;                   
      overflow: hidden;           
      text-overflow: ellipsis;
      max-width:70%;
      text-align:center; 
      display: inline-block;
      color:$letters;
    }
  }
.discount-slider {
  padding: 35px 0 44px;
  border-bottom: 1px solid #e3e3e3;
}
.slider_block{
  margin: 3px;
}
.slick-prev {
  top: -65px;
}

.slick-next {
  top: -65px;
  right: 0px;
}

.slick-prev {
  right: 31px;
  left:auto;
}

.slick-next:before {
  content: '';
  width: 41px;
  height: 37px;
  background: url(../img/main/scroll.svg);
  background-size: 83px 37px;
  position: absolute;
  top: 50%;
  left: -21px;
  margin-top: -9px;
  background-position: -41px;
  transition: all .3s;
}

.slick-prev:before {
  content: '';
  width: 41px;
  height: 37px;
  background: url(../img/main/scroll.svg);
  background-size: 83px 37px;
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -9px;
  background-position: 0px;
}

/* section @HITS!@ */

.hits_status{
  position: absolute;
  top:15px;
  right:5%;
  @include x-rem(height, 30px);
  width:auto;
  @include clearfix
  .status_item{
    display: inline-block;
    @include x-rem(min-width, 50px);
    @include x-rem(height, 30px);
    border:2px solid $white;
    transform: skew(-10deg);
    @include x-rem(margin,0 3px);
    border-radius: 4px;
    .status__item-bg{
      width:100%;
      height:100%;
      border-radius: 4px;
      span{
        color: $white;
        width: 100%;
        @include x-rem(line-height,30px);
        display: inline-block;
        @include x-rem(font-size,14px);
        text-align:center;
        vertical-align: middle;
        transform: skew(10deg);
        @include x-rem(letter-spacing,1px);
      }
    }
  }
    .status_item.item-new{
      .status__item-bg{
      background-color: $new;
    }
  }
    .status_item.item-sale{
      .status__item-bg{
      background-color: $red;
    }
  }
}

.hits-bg {
  position: relative;
  img{
    width:100%;
  }
}

.hits_block_wrap {
  width:100%;
  padding: 14px 16px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  box-shadow: 1px 0 8px rgba(1, 0, 0, 0);
  background: $white;
  &:hover {
    box-shadow: 1px 0 8px rgba(0, 0, 0, 0.38);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    .hits_descr {
      height: 66px;
    }

    .hits_stat, .hits_tools {
      display: block;
    }
  }
}

.hits_block {}


.hits_about {
  padding-bottom: 10px;
}

.hits_name {
  height: 43px;

  a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    text-align: left;
    line-height: 1.3;

    &:hover {
      color: $red;
    }
  }
}

.hits_descr {
  font-size: 14px;
  text-align: left;
  height: 26px;
  overflow: hidden;
}

.hits_coast_new {
  color: $red;
  font-size: 17px;
  line-height: 1.3;
  font-weight: bold;

  /* Proxima Nova Semibold */
}

.hits_coast span, .hits_coast_new span {
  color: #9d9c9c;
  font-size: 14px;
}

.hits_coast {
  color: #000;
  line-height: 1.3;
  font-size: 17px;
  font-weight: bold;

  /* Proxima Nova Semibold */

  .old {
    text-decoration: line-through;
  }
}

.hits_tools {
  padding: 18px 0;
  display: none;

  ul li {
    display: inline-block;
    vertical-align: middle;
  }
}

.hits_comparison img {
  width: 16px;
}

.hits_defer {
  img {
    width: 16px;
  }

  padding: 0 26px;
}

.hits_review a {
  color: #000000;
  font-size: 14px;
  text-decoration: none;

  span {
    color: #9d9c9c;
  }
}

.hits_stat {
  overflow: hidden;
  display: none;

  .stat_yes {
    color: #49b210;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 25px;
    top: 4px;

    &:before {
      content: '';
      width: 23px;
      height: 17px;
      background: url(../img/main/in_stock.svg);
      background-size: 22px 17px;
      position: absolute;
      left: 0;
    }
  }

  a {
    display: inline-block;
    vertical-align: middle;
    float: right;
    color: #fff;
    background: $red;
    font-size: 14px;
    text-decoration: none;
    line-height: 28px;
    padding: 0 17px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
}

/* section @brands@ */

#brand {
  padding-top: 10px;
  border-top-width: 0px;

  .tabs {
    padding-bottom: 15px;

    span {
      font-size: 14px;
      color: #000;
      cursor: pointer;
      margin-right: 30px;
    }

    a {
      font-size: 14px;
      color: #000;
      text-decoration: none;
    }
  }

  .brand_all {
    display: inline-block;
    float: right;
    margin-right: 88px;
    a{
      color:#9d9c9c;
      span{
          color:#9d9c9c;
        }
    }
    
    &:hover{
      a{
        color:$red;
        span{
          border:none;
        }
      }
    }
  }
}

.tab_item {
  font-size: 14px;
}

#brand .tabs span:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid $red;
}

.wrap_brand .tab.active {
  padding-bottom: 5px;
  border-bottom: 1px solid $red;
  font-weight: bold;
}

#brand .brand {
  font-size: 0;
}

.brand_block_wrap {
  position: relative;
  display: table;
  width: 100%;
}

.brand_block {
  display: table-cell;
  position: relative;

  a {
    text-decoration: none;
  }

  p {
    color: #9d9c9c;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
  }
}

.brand_img {
  height: 60px;
  line-height: 46px;
  text-align: center;
}

.brand_block img {
  vertical-align: middle;
}

/* section @themed@ */

.themed {
  border-bottom: 1px solid #e3e3e3;

  h2 {
    padding-bottom: 15px;
  }

  h3 {
    color: #000;
    font-size: 17px;
    padding-bottom: 9px;
    font-weight: bold;

    /* Proxima Nova Semibold */
    font-family: $ProximaSemibold;
  }
}

.themed_block {
  display: inline-block;
  vertical-align: text-top;
  width: 182px;
  padding: 0px 8px;
  box-sizing: border-box;
  img {
    margin: 0 auto;
    padding-bottom: 14px;
  }
}

.themed_name a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.3;
  font-family: $ProximaRegular;

  &:hover {
    color: $red;
  }
}

.themed_cat {
  color: $letters;
  font-size: 14px;
}

.themed_coast {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  font-family: $ProximaSemibold;
}

.themed .discount-slider {
  border-bottom: none;
}

.themed_more a {
  color: #3c3c3c;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 130px;
  line-height: 30px;
  margin-bottom: 50px;
  text-decoration: none;
  font-size: 14px;
  background-color: $yellow;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  transition:background-color .3s;
  &:hover{
    background-color: $yellowHov;
    transition:background-color .3s;
  }
}

/* section @news@ */

.news_block {
  padding-right: 27px;

  a {
    text-decoration: none;
  }

  img {
    float: left;
    padding-right: 15px;
  }

  .news_date {
    color: #9d9c9c;
    font-size: 14px;
  }

  .news_descr {
    color: #000;
    font-size: 16px;
    line-height: 1.3;
    display: block;
    overflow: hidden;
  }
}

/* footer */

footer {
  padding-bottom: 57px;
  @include clearfix;
}
.footer__content-wrapper{
  @include clearfix;
  position: relative;
  display: inline-block;
  @include r(1280){
    width:70%;
  }
  @include r(768){
    width:100%;
  }
  @include r(420){
    padding-bottom: 220px;
  }
}
.footer__menu-wrapper{
  display: inline-block;
  float: left;
  width:600px;

  @include r(1280){
    margin-top: 80px;
    width:100%;
  }
  @include r(1080){
    margin-top: 80px;
    width:100%;
  }
  @include r(768){
    margin-top: 40px;
    width:100%;
    padding-bottom: 70px;
  }
  @include r(420){
    margin-top: 10px;
  }


}
.footer {
  font-size: 0;
  padding-top: 30px;
  display: inline-block;
  width:100%;
  @include r(420){
    padding-top: 0;
  }
}

.footer_help, .footer_info, .footer_catalog, .footer_contacts {
  display: inline-block;
  vertical-align: top;
}

.footer_help h3, .footer_info h3, .footer_catalog h3, .footer_contacts h3 {
  font-size: 14px;
  .icon{
    width:20px;
    height:100%;
    transform: rotate(270deg);
    transform-origin: center center; 
    display: none;
    float: right;
    @include r(420){
      display: inline-block;
    }
  }
}

.footer_info, .footer_help {
  width: 30%;
  min-width:150px;
  padding-right:10px;
  @include r(1280){
    width:30%;
    margin-right:10px;
  }
  @include r(768){
    width:50%;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
  }
  @include r(420){
    width:100%;
  }
}

.footer_catalog {
  width: 30%;
  min-width:150px;
  @include r(1280){
    width:30%;
  }
  @include r(768){
    width:50%;
    margin-top: 20px;
    padding: 0;
  }
  @include r(420){
    width:100%;
    margin-top: 0;
  }
}
.footer_help , .footer_info , .footer_catalog {
  ul{
    display: block;
  }
    @include r(420){
    h3{
      display: block;
      width:100%;
      line-height:3;
      cursor: pointer;
     @include x-rem(font-size, 18px);
     border-bottom: 1px solid rgba(143, 143, 143, 0.53);
    }
  }
.ftr-arr{
  fill:#3b3b3b!important;
}
}
.footer_help li, .footer_info li, .footer_catalog li {
  list-style-type: none;
  padding-top: 15px;
}

.footer_help li a, .footer_info li a, .footer_catalog li a {
  text-decoration: none;
  font-size: 14px;
  color: $letters;
  display:inline-block;
  width:100%;
  height:100%;
  text-align: left;
}

.footer_contacts h3 {
  line-height: 1.3;
  font-size: 14px;
}

.footer-form {
  border: 2px solid $yellow;
  margin-top: 15px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  @include r(420){
        border-color: transparent;
      }
  @include r(1280){
    float: left;
    display: inline-block;
    }
  @include r(768){
    width:100%;
    }
  form{
    @include r(1280){
    width:360px;
    }
    @include r(768){
    width:100%;
    display: inline-block;
    position: relative;
    z-index: 2;
    }
  }
  input {
    border: none;
    outline: none;
    background: none;
    @include r(420){
        border: 3px solid $yellow;
        width:100%;
        border-radius: 4px;
        @include x-rem(height,45px);
      }
    &[type="submit"] {
      cursor: pointer;
      padding: 0 17px;
      font: initial;
      font-family: $ProximaRegular;
      border-left: 2px solid $yellow;
      height: 35px;
      color: $letters;
      @include r(420){
        display: inline-block;
        width:100%;
        background-color: $yellowHov;
        @include x-rem(height,45px);
      }
    }

    &[type="email"] {
      width: 222px;
      padding-left: 15px;
      box-sizing: border-box;
      font: initial;
      font-family: $ProximaRegular;
      height: 35px;
      @include r(1280){
         width:60%;
         display: inline-block;
      }
      @include r(768){
         width:65%;
      }
       @include r(420){
         width:100%;
         margin-bottom: 20px;
          @include x-rem(height,45px);
      }
    }
  }
}

.footer_soc {
  padding-top: 34px;
@include r(1280){
    float: left;
    padding: 0;
    margin-top: -18px;
    margin-left:21%;
  }
  @include r(1100){
    margin-left:10%;
  }
  @include r(900){
    margin-left:5%;
  }
  @include r(768){
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    margin:0;
  }
  @include r(420){
    position: relative;
    left:auto;
    bottom:auto;
    transform: translateX(0);
    width:100%;
    float:none;
    h3{
      display: none;
    }
    li{
      margin:20px;
      img{
        width:50px !important;
        height: 50px;
      }
    }

  }
  h3 {
    padding-bottom: 20px;
    font-size: 14px;
    @include r(768){
         text-align:center;
      }
  }
  ul{
    @include r(768){
         text-align:center;
      }
  }
  li {
    list-style-type: none;
    display: inline-block;
    &:not(:last-child){
      margin-right: 18px;
      @include r(1280){
      margin-right: 28px;
        }
    @include r(900){
      margin-right: 18px;
        }
    }
    img {
      width: 30px;
    }
  }
}
.footer_contacts{
  @include r(1280){
    float: left;
    display:inline-block;
    width:100%;
      }
  @include r(768){
    width:100%;
      }
  @include r(420){
    position: absolute;
    bottom:0;
  }
}
.footer_VK {
  display: inline-block;
  float: right;
  @include r(1280){
    float: right;
    padding:0;
    width:30%;
      }
  @include r(768){
    display: none;
  }
}

.footer_line {
  font-size: 0px;
  padding-top: 50px;
  @include clearfix;
  @include r(420){
    padding-top: 0;
  }
}

.footer_copy, .footer_carts, .footer_developer {
  display: inline-block;
  vertical-align: middle;
}

.footer_carts {
  text-align: center;
  width: 50%;
  @include r(768){
    display: block;
    width:100%;
  }
  @include r(420){
   display:none;
  }
  ul li {
    display: inline-block;
    list-style-type: none;
  }

  img {
    padding: 0 2px;
  }
}

.footer_copy {
  font-size: 14px;
  width: 25%;
  float: left;

   @include r(768){
    display: inline-block;
    width:100%;
    text-align: center;
    line-height:3;
    margin-top:20px;
  }

}

.footer_developer {
  font-size: 14px;
  text-align: right;
  float: right;
  width: 25%;
  @include r(768){
    display: inline-block;
    width:100%;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: $red;
    font-weight: bold;
    padding-left: 25px;
    position: relative;
    &:before {
      content: "";
      background: url("../img/promo/FlexMedia.jpg");
      width: 17px;
      height: 19px;
      position: absolute;
      left: 4px;
      top: -1px;
    }
  }
}

/* hidden */

.success_hidden {
  width: 466px;
  margin: 0 auto;
  padding: 54px;
  box-sizing: border-box;
  text-align: center;

  h2 {
    font-size: 28px;
    font-weight: normal;
  }

  p {
    padding: 7px 0px;

    a {
      color: $red;
      text-decoration: none;
    }
  }
}

p.button_close a {
  color: #fff;
}

.success_hidden p.button_close {
  padding: 0;
  background: $red;
  line-height: 40px;
  width: 154px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#success_hidden, #regions_hidden {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(74, 74, 74, 0.34);
  height: 100%;
  padding-top: 65px;
}

.headhesive {
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
  padding:0 10px;
}

.headhesive--stick {
  display: block;
}

.headhesive {
  .wrap-logo, .main-nav, .top-line {
    display: none;
  }

  .wrap-catalog-btn {
    display: block;
    width: 316px;
  }
}

.wrap-catalog-btn p {
  line-height: 46px;
  padding-left: 30px;
}

.headhesive {
  .line {
    padding: 10px 0;
    position: relative;
    z-index: 40;
  }

  .main-nav {
    background: $yellow;
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 2px solid $menuBorder;

  }

  .nav {
    max-width: 1280px;
    margin: 0 auto;
    background: $yellow;
    border-bottom: none;
    .nav-more{
      display: inline-block;
      .icon{
        width:30px;
        height:100%;
      }
    }
    > ul > li {
      &:first-child {
        border-left: 1px solid $yellowLight;
      }

      &:last-child {
        border-right: 1px solid $yellowLight;
      }
    }
  }
}

.line_search_hidden .cart_list_block:after {
  display: none;
}

.search_scroll {
  height: 500px;
}

.search-catalog .cart_list_descr {
  width: 79%;
  padding: 0;
}

.search-text .cart_list_descr {
  width: 70%;
  padding-left: 10px;
}

.search_date {
  color: #9d9c9c;
}

.cart_list_name {
  line-height: 1.3;
}

.search_list_name {
  line-height: 1.3 !important;
  padding: 4px 0 !important;
  font-size: 16px;
  color: #000;
}

.short_descr {
  color: $letters;
  padding-top: 3px;
}
//button hover
.slick-arrow{
  &:hover{
    &:before{
    background-color: $yellow;
    transition: all .3s;
  }
  }
}
.mask-js{
  display: none;
  width:100%;
  height:100%;
  background: rgba(74,74,74,.34);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
}
//utility
.blacktext{
  color:#000;
}
//breadcri=ums
.breadcrums{
  @include x-rem(margin-top,30px);
  display: table;
  list-style:none;

}
.home-btn{
  display: inline-block;
  .home-img{
    @include x-rem(width,14px);
    @include x-rem(height,14px);
    }
}
.bread-item{
  display: table-cell;
  @include x-rem(padding-left,35px);
  position: relative;
  color:$grey;
  position: relative;
    @include r(768){
    display: inline-block;
  }
  &:before{
    content: '';
    display: inline-block;
    position: absolute;
    @include x-rem(width,16px);
    height:1px;
    background: $grey;
    left: 10%;
    top:50%;
  }
  >a{
    color:$grey;
    @include x-rem(font-size,12px);
  }
  &:last-child{
    >a{
      color:$letters;
      font-weight: bold;
    }
  }
  &:hover{
    a{
      color:$red;
    }
    .bread-arrow{
      .bre-arr{
        transform: rotate(180deg);
      transform-origin: 50%;
      fill:red;
      }
    }
    .bread__add-menu-wrap{
      opacity: 1;
      visibility: visible;
      transition: all .3s;
    }
    &:last-child{
    >a{
      color:$letters;
    }
  }
  }
}
.bread__add-menu-wrap{
  position: absolute;
  width:100%;
  top:0;
  left:0;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  transition: all .3s;
  @include x-rem(padding-top,22px);
  @include r(482){
    left:-16%;
  }
  .bread__add-container{
    width:150%;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
}
.add-list{
  list-style:none;
  .add-list-item{
    @include x-rem(padding,10px 10px 10px 20px);
    background: $white;
    transition: background .3s;
    a{
      display: inline-block;
      width:100%;
      color:$letters;
      transition: color .3s;
    }
    &:hover{
      background: $yellowHov;
      transition: background .3s;
      a{
        color:$red;
        transition: color .3s;
      }
    }
    @include r(482){
      @include x-rem(padding,10px 10px 10px 10px);
    }
  }
}
.bread-arrow{
  @include x-rem(width,9px);
  @include x-rem(height,5px);
  display: inline-block;
  float:right;
  margin:0 0 0 8px  ;
}
.section-title{
  color: $letters;
  @include x-rem(margin,22px 0 10px 0);
  @include x-rem(letter-spacing,2px);
  font-weight: 600;
}
.section__wrapper{
  width: 100%;
  @include clearfix;
  border-bottom:1px solid $border;
}
.aside__menu{
  @include x-rem(width,286px);
  @include x-rem(padding-right,45px);
  height:100%;
  display: inline-block;
  float: left;
  @include r(768){
    width:100%;
    padding: 0;
  }
  .moblie_btn{
    display: none;
    @include r(768){
    display: block;
    }
    &:active{
      .bread-arrow{
        svg{
          transform:rotate(180deg);
        }    
      }
    }
  }
  aside{
    border: 2px solid $border;
    border-radius: 3px;
    @include x-rem(padding,10px 23px);
  }
  .aside-list{
    list-style:none;
    @include r(768){
    display: none;
  }
  li{
    a{
      display: inline-block;
      width: 100%;
    }
  }
  }
}
.aside-list_item{
      @include x-rem(padding,10px 0);
      a{
        color:#000;
      }
    }
.section__content{
  display: block;
  overflow:hidden;
  @include x-rem(padding-bottom,140px);
  @include x-rem(margin-bottom,-70px);
  @include r(768){
    display: inline-block;
    width:100%;
  }
  .banners__inner{
    width:100%;
    height:auto;
    @include x-rem(margin-bottom,40px);
    .ban_1{
      width:33%;
      &:first-child{
        padding-left: 0;
      @include r(1040){
        width: 100%;
        @include x-rem(height,350px);
        }
      }
    &:nth-child(2){
        @include r(1040){
          width: 50%;
          margin-top: 10px;
        }
        @include r(768){
          width: 100%;
        }
      }
    }
    .ban_2,.ban_3{
      width:34%;
       @include r(1040){
          width:50%;
        }
    }
    .ban_2{
      @include r(1040){
          margin-top: 10px;
        }
    }
    .ban1,.ban_2,.ban_3{
       @include r(768){
          width:100%;
        }
    }
  }
}
.content-categories{
  display: inline-block;
  width:100%;
  font-size: 0;
   @include x-rem(padding-bottom, 15px);
   border-bottom:1px solid $border;
}
.categoties-name{
  @include x-rem(margin,0 0 40px 0);
  @include x-rem(font-size,22px);
}
.categories_item{
  width:25%;
  display: inline-block;
  vertical-align: top;
  @include x-rem(padding, 0 8px 15px 0);
  float: left;
  &:hover{
    .discount_name{
      background: $yellowHov;
    }
  }
  @include r(1040){
    width:50%;
  }
  @include r(482){
    width:100%;
  }
  .categories_item-price{
    text-align: center;
    @include x-rem(font-size,14px);
    font-weight: 600;
    color:$letters;
    @include x-rem(margin-top,15px);
  }
  .aside-list{
    @include x-rem(margin-top,8px);
    list-style:none; 
    @include x-rem(font-size,14px);
    li{
    a{
      display: inline-block;
      width: 100%;
        @include r(768){
          text-align:center;
        }
      }
    }
  }

}
.categories_item-img{
  text-align: center;
  img{
    display: inline-block;
    max-width:200px;
  }
}
//2-0-inner
.aside__selection{
   @include x-rem(width,262px);
  @include x-rem(padding-right,21px);
  display: inline-block;
  .selection_wrapper{
     width:100%;
     border: 2px solid $border;
      border-radius: 3px;
  }
  .selection_item{
  @include x-rem(padding,20px 18px 25px 16px);
  border-bottom: 1px solid $border;
  border-left: 3px solid transparent;
  &.checked{
    border-left: 3px solid $red;
  }
  .selection_item-title{
    @include x-rem(font-size,14px);
    font-weight: bold;
    @include x-rem(margin-bottom,20px);
    position: relative;
    &:before{
      content: '';
      @include x-rem(width,14px);
      height:100%;
      background-image: url(../img/arrow.svg);
      @include x-rem(background-size,14px 8px); 
      position: absolute;
      right: 0;
      background-position: center;
      background-repeat: no-repeat;
    }
    &.active{
      &:before{
        transform: rotate(180deg);
        transform-origin: 50%;
      }
    }
   }
   .selection_body{
    font-size: 0;
    //max-min price
    .price{
      width:50%;
      display: inline-block;
      outline: 0;
      @include x-rem(padding-left, 25px);
      @include x-rem(font-size, 14px);
      position: relative;
      border:1px solid;
      border-color: $border;
      @include x-rem(border-radius, 4px);
    }
    .price-label{
      @include x-rem(font-size, 14px);
      position: absolute;
      @include x-rem(margin-right, -14px);
      color:#000;
      z-index: 2;
      @include x-rem(padding-left, 5px);
    }
    .price-min{
      border-right-color: transparent!important;
    }
   }
  }
}
.select-u-item{
  display: inline-block;
  width:100%;
  position: relative;
  @include x-rem(margin-bottom, 20px);
  &:last-child{
    margin-bottom: 0;
  }
  .input_label{
    display: inline-block;
     @include x-rem(min-width, 15px)
     cursor: pointer;
     .input_main{
      float: left;
      position: relative;
      display: inline-block;
       }  
    }
  .input-text{
    @include x-rem(font-size, 14px)
    color:#000;
    display: block;
    overflow: hidden;
    cursor: pointer;
    @include x-rem(padding-left, 10px)
  }
  .input-real{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    &:checked +.input-checked:before{
      opacity: 1;
    }
    &:checked +.input-checked{
      border: 1px solid rgba(0,0,0,.8);
    }
  }
  .input-checked{
    width: 18px;
    height: 18px;
    display: block;
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    position: relative;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    &:before{
      content: '';
      width: 17px;
      height: 19px;
      background: url(../img/utility/check.svg) no-repeat;
      display: block;
      position: absolute;
      bottom: -1px;
      left: 1px;
      opacity: 0;
      -o-transition: all .2s ease;
      transition: all .2s ease;
    }
  }
}
.select-u-body.select-radio{
  .input-checked{
    border-radius: 50%;
  }
}
.additional_trigger{
  text-align: center;
  display:inline-block;
  background-image: none;
  margin: 0;
  width:100%;
  padding: 16px 5px!important;
  text-align: center; 
  a{
    color:$red;
    border-bottom: 1px dotted $red;
  }
}
.selection_find-block{
  text-align: center;
  @include x-rem(padding, 20px);
  .selection_find-btn{
    display: inline-block;
    background: $red;
    color:$white;
    border:none;
    outline: 0;
    @include x-rem(padding, 6px 50px);
    border-radius: 4px;
    @include x-rem(letter-spacing, 1px);
    transition: opacity .3s;
    cursor: pointer;
    font-family: $ProximaRegular;
    &:hover{
      opacity: 0.69;
      transition: opacity .3s;
    }
  }
  .selection_find-clear{
    color:#9d9c9c;
    display: inline-block;
    position: relative;
    padding-left: 16px;
    @include x-rem(margin-top, 12px);
    &:before,&:after{
      content: '';
      display: inline-block;
      @include x-rem(width, 12px);
      height: 2px;
      background-color:#9d9c9c; 
      position: absolute;
      top:40%;
      left: 0;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
}