footer
  .footer
    .footer__content-wrapper
      .footer_contacts
        h3
          | Получайте полезную информацию о&nbsp;скидках
        // footer-form
        form(action='', method='post').footer-form.form-subscribe
          input.blacktext(type='email', name='name', placeholder='Ваш e-mail',data-validation="email",data-validation-error-msg="Неверный E-mail")
          input.blacktext(type='submit', value='Подписаться')
        // footer_soc
        .footer_soc
          h3 Мы в соцсетях
          ul
            li
              a(href='#')
                img(src='img/main/facebook.svg', alt='facebook')
            li
              a(href='#')
                img(src='img/main/youtube.svg', alt='youtube')
            li
              a(href='#')
                img(src='img/main/vk.svg', alt='vk')
      .footer__menu-wrapper
        .footer_help
          h3.js-content-trigger Помощь
            .icon
                svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                  style(type='text/css').
                    .ftr-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                  path.ftr-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
          ul
            li
              a(href='#') Об интернет-магазине
            li
              a(href='#') Как заказать
            li
              a(href='#') Доставка и оплата
            li
              a(href='#') Возврат
            li
              a(href='#') Оферта
            li
              a(href='#') Частые вопросы
        // information
        .footer_info
          h3.js-content-trigger Информация
            .icon
                svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                  style(type='text/css').
                    .ftr-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                  path.ftr-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
          ul
            li
              a(href='#') ТЦ «Полесье»
            li
              a(href='#') Новости и акции
            li
              a(href='#') Вакансии
            li
              a(href='#') Поставщикам
            li
              a(href='#') Бренды
            li
              a(href='#') Контакты
        // catalog
        .footer_catalog
          h3.js-content-trigger Каталог
            .icon
              svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                style(type='text/css').
                  .ftr-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                path.ftr-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
          ul
            li
              a(href='#') Товары для детей
            li
              a(href='#') Мода и красота
            li
              a(href='#') Спорт и туризм
            li
              a(href='#') Электроника и техника
            li
              a(href='#') Для дома и сада
            li
              a(href='#') Ремонт и стройка
            li
              a(href='#') Распродажа
      
    // block VK
    .footer_VK
      img(src='img/promo/vk.jpg', alt='vk')
  .footer_line
    // carts
    .footer_carts
      ul
        li
          img(src='img/promo/cart1.jpg', alt='webpay')
        li
          img(src='img/promo/cart2.jpg', alt='dss')
        li
          img(src='img/promo/cart3.jpg', alt='MasterCard')
        li
          img(src='img/promo/cart4.jpg', alt='Maestro')
        li
          img(src='img/promo/cart5.jpg', alt='VISA')
    // copy
    .footer_copy © 2016, СООО «ПП Полесье»
    // developer
    .footer_developer
      a(href="#")
        p
          | Разработка сайта: 
          span Flex Media