.header
  header
    // top line
    .top-line
      .top-line-region
        p
          a.js-modal-trigger(href='#',data-target='.regions_hidden') Минск, Минская область
      .top-line-nav
        nav
          ul
            li.top-item
              a(href='#') Доставка и оплата
            li.top-item
              a(href='#') Частые вопросы
            li.top-item
              a(href='#') Новости и акции
            li.dropdown-btn
              a(href='#') Ещё
                .icon
                  svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 15 3', style='enable-background:new 0 0 15 3;', xml:space='preserve')
                    style(type='text/css').
                      .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#3B3B3B;}
                    g
                      g
                        path.st1(d='M1.5,0C0.7,0,0,0.7,0,1.5C0,2.3,0.7,3,1.5,3C2.3,3,3,2.3,3,1.5C3,0.7,2.3,0,1.5,0z M7.5,0C6.7,0,6,0.7,6,1.5\
                        C6,2.3,6.7,3,7.5,3C8.3,3,9,2.3,9,1.5C9,0.7,8.3,0,7.5,0z M13.5,0C12.7,0,12,0.7,12,1.5C12,2.3,12.7,3,13.5,3\
                        C14.3,3,15,2.3,15,1.5C15,0.7,14.3,0,13.5,0z')
              .drop-menu-wrapper
                ul.drop-line-nav
                  li
                    a(href='#') Как заказать
                  li
                    a(href='#') Возврат
                  li
                    a(href='#') Оферта
                  li
                    a(href='#') Контакты
      .top-line-call
        p
          span +375 29 605 05 05
          |  - или 
          a(href='#') обратный звонок
    // line
    .line
      // logo
      .line-wrap-logo
        .wrap-logo
          img.logo(src='img/logo.svg', alt='Полесье')
          .logo-market
            p.market Market
            p.bigmarket Онлайн-гипермаркет
        .wrap-catalog-btn
          p Каталог продукции
      // search
      .line-search-form
        form(action='', method='post')
          input(type='submit', value='Найти')
          input.search(type='search', name='search', placeholder='Поиск по 200 000 товарам, разделам и артикулам')
          
        .select-container
          a.search_drop(href='#') 
            span По тексту 
            .img
              svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 8 4', style='enable-background:new 0 0 8 4;', xml:space='preserve')
               path(d='M8,0H0l4,4L8,0z')
          .section
            .section-item
              input#dva1(type='radio', checked='checked', name='dva')
              label(for='dva1') По тексту
            .section-item
              input#dva2(type='radio', name='dva')
              label(for='dva2') По каталогу
              
              
        // cart_list_hidden
        .line_search_hidden.search-catalog(style='display: none')
          .cart_list_block_scroll.search_scroll
            .search_list
              ul
                li
                  a(href='#') Детские велосипеды
                li
                  a(href='#') Велосипеды
                li
                  a(href='#') Велосипедные аксессуары
            .cart_list_block
              img(src='img/promo/cart_list.jpg', alt='#')
              .cart_list_descr
                p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                p Цвет: черный
                p Кол-во: 1 шт.
                .cart_list_coast
                  p.hits_coast_new
                    | 10 435,60 р. 
                    span  10 435 600 р
                  p.hits_coast.old
                    | 13 435,60 р. 
                    span  13 435 600 р
            .cart_list_block
              img(src='img/promo/cart_list.jpg', alt='#')
              .cart_list_descr
                p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                p Цвет: черный
                p Кол-во: 1 шт.
                .cart_list_coast
                  p.hits_coast_new
                    | 10 435,60 р. 
                    span  10 435 600 р
                  p.hits_coast.old
                    | 13 435,60 р. 
                    span  13 435 600 р
            .cart_list_block
              img(src='img/promo/cart_list.jpg', alt='#')
              .cart_list_descr
                p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                p Цвет: черный
                p Кол-во: 1 шт.
                .cart_list_coast
                  p.hits_coast_new
                    | 10 435,60 р. 
                    span  10 435 600 р
                  p.hits_coast.old
                    | 13 435,60 р. 
                    span  13 435 600 р
            .cart_list_block
              img(src='img/promo/cart_list.jpg', alt='#')
              .cart_list_descr
                p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                p Цвет: черный
                p Кол-во: 1 шт.
                .cart_list_coast
                  p.hits_coast_new
                    | 10 435,60 р. 
                    span  10 435 600 р
                  p.hits_coast.old
                    | 13 435,60 р. 
                    span  13 435 600 р
        // cart_list_hidden
        .line_search_hidden.search-text(style='display: none')
          .cart_list_block_scroll
            .cart_list_block
              img(src='img/promo/search-text.jpg', alt='#')
              .cart_list_descr
                p.search_date 06 июля 2016 года
                p.search_list_name Новое поступление детских велосипедов
                p.short_descr
                  | В нашем магазине обновление ассорти- мента — более 120 новых моделей детских и подростковых велосипедов...
            .cart_list_block
              img(src='img/promo/search-text.jpg', alt='#')
              .cart_list_descr
                p.search_date 06 июля 2016 года
                p.cart_list_name Новое поступление детских велосипедов
                p.short_descr
                  | В нашем магазине обновление ассорти- мента — более 120 новых моделей детских и подростковых велосипедов...
            .cart_list_block
              img(src='img/promo/search-text.jpg', alt='#')
              .cart_list_descr
                p.search_date 06 июля 2016 года
                p.cart_list_name Новое поступление детских велосипедов
                p.short_descr
                  | В нашем магазине обновление ассорти- мента — более 120 новых моделей детских и подростковых велосипедов...
            .cart_list_block
              img(src='img/promo/search-text.jpg', alt='#')
              .cart_list_descr
                p.search_date 06 июля 2016 года
                p.cart_list_name Новое поступление детских велосипедов
                p.short_descr
                  | В нашем магазине обновление ассорти- мента — более 120 новых моделей детских и подростковых велосипедов...
      .line-cart
        a.cart( href='#')
          | Корзина 
          span 0
        // cart_list_hidden
        .cart_list-wrapper
          .cart_list_hidden
            .cart_list_block_scroll
              .cart_list_block
                img(src='img/promo/cart_list.jpg', alt='#')
                .cart_list_descr
                  p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                  p Цвет: черный
                  p Кол-во: 1 шт.
                  .cart_list_coast
                    p.hits_coast_new
                      | 10 435,60 р. 
                      span  10 435 600 р
                    p.hits_coast.old
                      | 13 435,60 р. 
                      span  13 435 600 р
              .cart_list_block
                img(src='img/promo/cart_list.jpg', alt='#')
                .cart_list_descr
                  p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                  p Цвет: черный
                  p Кол-во: 1 шт.
                  .cart_list_coast
                    p.hits_coast_new
                      | 10 435,60 р. 
                      span  10 435 600 р
                    p.hits_coast.old
                      | 13 435,60 р. 
                      span  13 435 600 р
              .cart_list_block
                img(src='img/promo/cart_list.jpg', alt='#')
                .cart_list_descr
                  p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                  p Цвет: черный
                  p Кол-во: 1 шт.
                  .cart_list_coast
                    p.hits_coast_new
                      | 10 435,60 р. 
                      span  10 435 600 р
                    p.hits_coast.old
                      | 13 435,60 р. 
                      span  13 435 600 р
              .cart_list_block
                img(src='img/promo/cart_list.jpg', alt='#')
                .cart_list_descr
                  p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                  p Цвет: черный
                  p Кол-во: 1 шт.
                  .cart_list_coast
                    p.hits_coast_new
                      | 10 435,60 р. 
                      span  10 435 600 р
                    p.hits_coast.old
                      | 13 435,60 р. 
                      span  13 435 600 р
            .cart_total
              p
                | Итого: 
                span
                  | 4 466,60 р. 
                  span  44 666 000 р
            .cart_buttons
              a.cart_incart(href='#') Перейти в корзину
              a.cart_content(href='#') Оформить заказ
        .cart_list-empty
          .cart_list_hidden
            p Ваша корзина совершенно пуста
      // tools
      .mobile-search
        .mobile_form-wrapper
          form(action="")
            input.mobile-search-input(type="text" placeholder='Поиск пок каталогу')
            input.mobile-search-submit(type="submit")
      .line-tools
        a(href="#",data-title='Список сравнения пуст').tools-comparison
        a(href="#",data-title='Список отложенных товаров пуст').tools-defer
        a(href="#").tools-search.js-search-btn
        a(href='#').account
          span Личный кабинет
      // cart
      
    // main-nav
    .main-nav
      nav.nav
        .js-mobile-menu-btn
          a(href="#") Все разделы каталога
            .icon.arr-r
                svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                  style(type='text/css').
                    .ftr-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                  path.ftr-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
        ul
          //в menu-item лучше использовать неразрывные пробелы
          li.menu-item
            a(href='#') Твары для детей
          li.menu-item
            a(href='#') Мода и красота
          li.menu-item
            a(href='#') Спорт и туризм
            //если внутри есть выпадающее меню - вешаем класс
          li.menu-item.dropdown
            a(href='#') Электроника и техника
            .main-nav-dropmenu
              .nav-main-wrap
                .nav-main
                  ul
                    li
                      a(href='#') Мебель, оборудование для сада
                    li
                      a(href='#') Электрика и освещение
                    li
                      a(href='#') Садоводство и озеленение
                    li
                      a(href='#') Электроинструмент
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки
                          li
                            a(href='#') Шлифовальные станки и машины
                          li
                            a(href='#') Пилы и лобзики
                          li
                            a(href='#') Отрезные станки и ножницы
                          li
                            a(href='#') Рубанки, фрезерные станки
                          li
                            a(href='#')
                              | Фены строительные 
                              span -5%
                          li
                            a(href='#') Лебёдки
                          li
                            a(href='#') Компрессоры, пылесосы
                          li
                            a(href='#') Сварочное оборудование
                          li
                            a(href='#')
                              | Расходные материалы 
                              span -5%
                    li
                      a(href='#') Инструмент ручной
                    li
                      a(href='#') Текстиль для дома, рукоделие
                    li
                      a(href='#') Домашний декор
                    li
                      a(href='#') Бытовая химия, СМС
                    li
                      a(href='#') Хозтовары, садовый инвентарь
                    li
                      a(href='#') Садоводство и озеленение
              .main-nav-featur
                .featur-blocks-wrap
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#', tabindex='0') Мягкая игрушка Hasbro Игривый щенок [B0449]
                    p.themed_cat Мягкие игрушки
                    p.themed_coast 3 798,00 р.
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#', tabindex='0') Мягкая игрушка Hasbro Игривый щенок [B0449]
                    p.themed_cat Мягкие игрушки
                    p.themed_coast 3 798,00 р.
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#', tabindex='0') Мягкая игрушка Hasbro Игривый щенок [B0449]
                    p.themed_cat Мягкие игрушки
                    p.themed_coast 3 798,00 р.
                .featur-brands
                  ul
                    li
                      img(src='img/promo/brand1.jpg', alt='#')
                    li
                      img(src='img/promo/brand2.jpg', alt='#')
                    li
                      img(src='img/promo/brand3.jpg', alt='#')
                    li
                      img(src='img/promo/brand4.jpg', alt='#')
          li.menu-item
            a(href='#') Для дома и сада
          li.menu-item
            a(href='#') Автотовары
          li.menu-item

            a(href='#') Ремонт&nbsp;и&nbsp;стройка
          li.menu-item
            a.sale(href='#') Распродажа	
          .dropdown-btn.js-menu_add-btn
            a(href="") Еще
              .icon
                svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 15 3', style='enable-background:new 0 0 15 3;', xml:space='preserve')
                  style(type='text/css').
                    .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#3B3B3B;}
                  g
                    g
                      path.st1(d='M1.5,0C0.7,0,0,0.7,0,1.5C0,2.3,0.7,3,1.5,3C2.3,3,3,2.3,3,1.5C3,0.7,2.3,0,1.5,0z M7.5,0C6.7,0,6,0.7,6,1.5\
                      C6,2.3,6.7,3,7.5,3C8.3,3,9,2.3,9,1.5C9,0.7,8.3,0,7.5,0z M13.5,0C12.7,0,12,0.7,12,1.5C12,2.3,12.7,3,13.5,3\
                      C14.3,3,15,2.3,15,1.5C15,0.7,14.3,0,13.5,0z')
            .drop-menu-wrapper
              ul.drop-line-nav.js-container
  


