.header.cd-auto-hide-header
  header
    // top line
    .top-line
      .top-line-region
        p
          a.js-modal-trigger(href='#',data-target='.regions_hidden') Минск, Минская область
      .top-line-nav
        nav
          ul
            li.top-item
              a(href='#') Доставка и оплата
            li.top-item
              a(href='#') Частые вопросы
            li.top-item
              a(href='#') Новости и акции1
            li.top-item
              a(href='#') Новости и акции2
            li.top-item
              a(href='#') Новости и акции3
            li.top-item
              a(href='#') Новости и акции4
            li.top-item
              a(href='#') Новости и акции5
            li.top-item
              a(href='#') Новости и акции6
            li.bread-item
              a(href="#") Еще
                .icon
                  svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',width='14px', viewbox='0 0 15 3', style='enable-background:new 0 0 15 3;', xml:space='preserve')
                    style(type='text/css').
                      .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#3B3B3B;}
                    g
                      g
                        path.st1(d='M1.5,0C0.7,0,0,0.7,0,1.5C0,2.3,0.7,3,1.5,3C2.3,3,3,2.3,3,1.5C3,0.7,2.3,0,1.5,0z M7.5,0C6.7,0,6,0.7,6,1.5\
                        C6,2.3,6.7,3,7.5,3C8.3,3,9,2.3,9,1.5C9,0.7,8.3,0,7.5,0z M13.5,0C12.7,0,12,0.7,12,1.5C12,2.3,12.7,3,13.5,3\
                        C14.3,3,15,2.3,15,1.5C15,0.7,14.3,0,13.5,0z')
              .bread__add-menu-wrap
                .bread__add-container
                  ul.add-list
      
              //- .drop-menu-wrapper
              //-   ul.drop-line-nav
      .top-line-call
        p
          span +375 29 605 05 05
          |  — или 
          a(href='#') обратный звонок
    // line
    .line
      // logo
      .line-wrap-logo
        a(href="#").wrap-logo
          img.logo(src='img/logo2x.png', alt='Полесье')
          .logo-market
            p.market Market
            p.bigmarket Онлайн-гипермаркет
        .wrap-catalog-btn
          p Каталог продукции
      // search
      .line-search-form
        form(action='', method='post')
          input(type='submit', value='Найти')     
          input.search(type='search', name='search', placeholder='Поиск по 200 000 товарам, разделам и артикулам')
          .select-container
            .search_drop
              span По тексту 
              .img
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 8 4', width='9px',height='5px',style='enable-background:new 0 0 8 4;', xml:space='preserve')
                 path(d='M8,0H0l4,4L8,0z')
            .section-wrap
              .section
                .section-item
                  input#dva1(type='radio', checked='checked', name='dva')
                  label(for='dva1') По тексту
                .section-item
                  input#dva2(type='radio', name='dva')
                  label(for='dva2') По каталогу
          

              
        // cart_list_hidden
        .line_search_hidden.search-catalog(style='display: none')
          .cart_list_block_scroll.search_scroll
            .search_list
              ul
                li
                  a(href='#') Детские велосипеды
                li
                  a(href='#') Велосипеды
                li
                  a(href='#') Велосипедные аксессуары
            .cart_list_block
              a(href="#")
                img(src='img/promo/bike_hit.jpg', alt='#')
                .cart_list_descr
                  p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                  p Цвет: черный
                  p Кол-во: 1 шт.
                  .cart_list_coast
                    p.hits_coast_new
                      | 10 435,60 р. 
                      span  10 435 600 р
                    p.hits_coast.old
                      | 13 435,60 р. 
                      span  13 435 600 р
            .cart_list_block
              a(href="#")
                img(src='img/promo/bike_hit.jpg', alt='#')
                .cart_list_descr
                  p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                  p Цвет: черный
                  p Кол-во: 1 шт.
                  .cart_list_coast
                    p.hits_coast_new
                      | 10 435,60 р. 
                      span  10 435 600 р
                    p.hits_coast.old
                      | 13 435,60 р. 
                      span  13 435 600 р
            .cart_list_block
              a(href="#")
                img(src='img/promo/bike_hit.jpg', alt='#')
                .cart_list_descr
                  p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                  p Цвет: черный
                  p Кол-во: 1 шт.
                  .cart_list_coast
                    p.hits_coast_new
                      | 10 435,60 р. 
                      span  10 435 600 р
                    p.hits_coast.old
                      | 13 435,60 р. 
                      span  13 435 600 р
            .cart_list_block
              a(href="#")
                img(src='img/promo/cart_list.jpg', alt='#')
                .cart_list_descr
                  p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                  p Цвет: черный
                  p Кол-во: 1 шт.
                  .cart_list_coast
                    p.hits_coast_new
                      | 10 435,60 р. 
                      span  10 435 600 р
                    p.hits_coast.old
                      | 13 435,60 р. 
                      span  13 435 600 р
        // cart_list_hidden
        .line_search_hidden.search-text(style='display: none')
          .cart_list_block_scroll
            .cart_list_block
              a(href="#")
                img(src='img/promo/bike_hit.jpg', alt='#')
                .cart_list_descr
                  p.search_date 06 июля 2016 года
                  p.search_list_name Новое поступление детских велосипедов
                  p.short_descr
                    | В нашем магазине обновление ассорти- мента — более 120 новых моделей детских и подростковых велосипедов...
            .cart_list_block
              a(href="#")
                img(src='img/promo/bike_hit.jpg', alt='#')
                .cart_list_descr
                  p.search_date 06 июля 2016 года
                  p.cart_list_name Новое поступление детских велосипедов
                  p.short_descr
                    | В нашем магазине обновление ассорти- мента — более 120 новых моделей детских и подростковых велосипедов...
            .cart_list_block
              a(href="#")
                img(src='img/promo/search-text.jpg', alt='#')
                .cart_list_descr
                  p.search_date 06 июля 2016 года
                  p.cart_list_name Новое поступление детских велосипедов
                  p.short_descr
                    | В нашем магазине обновление ассорти- мента — более 120 новых моделей детских и подростковых велосипедов...
            .cart_list_block
              a(href="#")
                img(src='img/promo/search-text.jpg', alt='#')
                .cart_list_descr
                  p.search_date 06 июля 2016 года
                  p.cart_list_name Новое поступление детских велосипедов
                  p.short_descr
                    | В нашем магазине обновление ассорти- мента — более 120 новых моделей детских и подростковых велосипедов...
      // tools
      .mobile-search
        .mobile_form-wrapper
          form(action="")
            input.mobile-search-input(type="text" placeholder='Поиск пок каталогу')
            input.mobile-search-submit(type="submit")
      .line-tools
        a(href="#",data-title='Список сравнения пуст').line-tool.tools-comparison
          i.counter 
            span 12
        a(href="#",data-title='Список отложенных товаров пуст').line-tool.tools-defer
          i.counter 
            span 0
        a(href="#").tools-search.js-search-btn
        // Если человек еще не вошел, то на .acc-text вешаем класс .no-login
        //- .bread-item
        //-   a(href="#").acc-text Личный кабинет
        .bread-item
          a(href="#").acc-text Василий Солодарь
          .bread__add-menu-wrap
            .bread__add-container
              ul.add-list
                //на элемент списка, соотв текущей странице вешаем active
                li.add-list-item
                  a(href="#") Помощь
                li.add-list-item
                  a(href="#") История заказов
                li.add-list-item
                  a(href="#") Отложенные
                li.add-list-item
                  a(href="#") Личные данные
                li.add-list-item.active
                  a(href="#") Подписка
                li.add-list-item
                  a(href="#") Выйти
      .line-cart
        a( href='#',data-title = 'Ваша корзина совершенно пуста').product-buy-btn.cart.empty
          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',width='26px',height='20px', viewbox='0 0 23.3 18.1', style='enable-background:new 0 0 23.3 18.1;', xml:space='preserve')
            style(type='text/css').
              .stcart{fill:#3B3B3B;}
            g
              g
                path.stcart(d='M11.3,14c-0.6-0.3-0.6-1.9-0.6-1.9s9.8,0,10,0c0.3,0,0.8,0.1,1-1s1.4-8,1.4-8H8.7c-1.3-3.2-3.2-3-3.2-3H1.6\
                c0,0-1.9,0.2-1.2,2c0.5,0.8,2,0.7,2.3-0.2c0.1-0.4,0-0.8,0-0.8h3c0,0,1.1,0.3,1.5,1.3c1.7,4.2,2.3,9.9,2.7,11.2\
                C10.2,14.8,11,15,11,15h2h1.4h3.5h2.6v-1 M10.5,11.1c-0.3-1.6-1-4.8-1.5-7h12.7l-1,7H10.5z')
            path.stcart(d='M12.5,14.3c-1,0-1.9,0.8-1.9,1.9c0,1,0.8,1.9,1.9,1.9c1,0,1.9-0.8,1.9-1.9C14.3,15.1,13.5,14.3,12.5,14.3z\
            M12.5,17.3c-0.6,0-1.1-0.5-1.1-1.1s0.5-1.1,1.1-1.1s1.1,0.5,1.1,1.1S13.1,17.3,12.5,17.3z')
            path.stcart(d='M19.9,14.3c-1,0-1.9,0.8-1.9,1.9c0,1,0.8,1.9,1.9,1.9c1,0,1.9-0.8,1.9-1.9S21,14.3,19.9,14.3z M19.9,17.3\
            c-0.6,0-1.1-0.5-1.1-1.1s0.5-1.1,1.1-1.1s1.1,0.5,1.1,1.1C21.1,16.8,20.6,17.3,19.9,17.3z')
          | Корзинa
          span 0
        // cart_list_hidden
        .cart_list-wrapper
          .cart_list_hidden
            .cart_list_block_scroll
              .cart_list_block
                a(href="#")
                  img(src='img/promo/bike_hit.jpg', alt='#')
                  .cart_list_descr
                    p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                    p Цвет: черный
                    p Кол-во: 1 шт.
                    .cart_list_coast
                      p.hits_coast_new
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast.old
                        | 13 435,60 р. 
                        span  13 435 600 р
                .cart_list_block_remove
              .cart_list_block
                a(href="#")
                  img(src='img/promo/bike_hit.jpg', alt='#')
                  .cart_list_descr
                    p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                    p Цвет: черный
                    p Кол-во: 1 шт.
                    .cart_list_coast
                      p.hits_coast_new
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast.old
                        | 13 435,60 р. 
                        span  13 435 600 р
                .cart_list_block_remove
              .cart_list_block
                a(href="#")
                  img(src='img/promo/bike_hit.jpg', alt='#')
                  .cart_list_descr
                    p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                    p Цвет: черный
                    p Кол-во: 1 шт.
                    .cart_list_coast
                      p.hits_coast_new
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast.old
                        | 13 435,60 р. 
                        span  13 435 600 р
                .cart_list_block_remove
              .cart_list_block
                a(href="#")
                  img(src='img/promo/bike_hit.jpg', alt='#')
                  .cart_list_descr
                    p.cart_list_name Samsung Galaxy S6 Edge 32Gb
                    p Цвет: черный
                    p Кол-во: 1 шт.
                    .cart_list_coast
                      p.hits_coast_new
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast.old
                        | 13 435,60 р. 
                        span  13 435 600 р
                .cart_list_block_remove
            .cart_total
              p
                | Итого: 
                span
                  | 4 466,60 р. 
                  span  44 666 000 р
            .cart_buttons
              a.cart_incart(href='#') Перейти в корзину
              a.cart_content(href='#') Оформить заказ
        .cart_list-empty
          .cart_list_hidden
            p Ваша корзина совершенно пуста
        script.
          (function(){
              var cart = $('.cart'),
                parent = cart.parent(),
                list = parent.find('.cart_list-wrapper'),
                timeout = 300;

              setTimeout(function(){
                cart.on('mouseenter', function(){
                parent.addClass('active');
                cart.addClass('active');
                list.addClass('active');
              });
              },timeout);
              
              parent.on('mouseleave', function(){
                parent.removeClass('active');
                cart.removeClass('active');
                list.removeClass('active');
                timeout = timeout;
              });
              $(document).mouseup(function (e) {
              var container = $(".cart_list-wrapper");
              if (container.has(e.target).length === 0){
                container.removeClass('active');
              }
            });
            })();
    // main-nav
    .main-nav
      nav.nav
        .js-mobile-menu-btn
          a(href="#") Все разделы каталога
            .icon.arr-r
              svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                style(type='text/css').
                  .ftr-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                path.ftr-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
        .js-mobile-menu-btn.mobile-back.is-hidden
          a(href="#") Назад
            .icon.arr-r
              svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                style(type='text/css').
                  .ftr-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                path.ftr-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
        ul.is-hidden
          //в menu-item лучше использовать неразрывные пробелы
          li.menu-item.dropdown
            a(href='#') Товары для детей
              i.menu-arrow
            .main-nav-dropmenu
              .nav-main-wrap
                .nav-main
                  ul
                    li.sub-item
                      a(href='#') Дети
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки
                          li
                            a(href='#') Шлифовальные станки и машины
                    li.sub-item
                      a(href='#') Игрушки
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрелвыаывавы
                          li
                            a(href='#') Дети Машинки Машинк иМашинки
                          li
                            a(href='#') Пилы и лобзики
                          li
                            a(href='#') Отрезные станки и ножницы
                          li
                            a(href='#') Рубанки, фрезерные станки
                          li
                            a(href='#')
                              | Фены строительные Машинки
                              span -5%
                          li
                            a(href='#')
                              | Расходные материалы 
                              span -5%
                    li.sub-item
                      a(href='#') Текстиль для дома, рукоделие
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки
                          li
                            a(href='#') Машинки
                          li
                            a(href='#') Пилы и лобзики
                          li
                            a(href='#') Турииииизм
                          li
                            a(href='#') Одиннадцатикласница
                          li
                            a(href='#')
                              | Фены строительные 
                              span -5%
                          li
                            a(href='#')
                              | Расходные материалы 
                              span -5%
                    li.sub-item
                      a(href='#') Домашний декор
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки1
                    li.sub-item
                      a(href='#') Бытовая химия, СМС
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки2
                    li.sub-item
                      a(href='#') Хозтовары, садовый инвентарь
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки3
                    li.sub-item
                      a(href='#') Садоводство и озеленение
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки4
                          li
                            a(href='#') Дрели, шуруповёрты, молотки4
              .main-nav-featur
                .featur-blocks-wrap
                  .themed_block
                    a(href="#")
                      img(src='img/main/tov.jpg', alt='#')
                      p.themed_name
                        | Каталка Полесье Боби Котик
                      p.themed_cat Машинки
                      p.themed_coast 435,60 р.
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        |  Полесье Боби  Машинки
                      p.themed_cat Машинки
                      p.themed_coast 435,60 р.
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Каталка Боби КАталка каталка
                      p.themed_cat Машинки
                      p.themed_coast 935,60 р.
                .featur-brands
                  ul
                    li
                      a(href="#")
                        img(src='img/promo/brand1.jpg', alt='#')
                    li
                      a(href="#")
                        img(src='img/promo/brand2.jpg', alt='#')
                    li
                      a(href="#")
                        img(src='img/promo/brand3.jpg', alt='#')
                    li
                      a(href="#")
                        img(src='img/promo/brand4.jpg', alt='#')
          li.menu-item.dropdown
            a(href='#') Мода и красота
              i.menu-arrow
            .main-nav-dropmenu
              .nav-main-wrap
                .nav-main
                  ul
                    li.sub-item
                      a(href='#') Мода
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Машинки Машинки Машинки
                          li
                            a(href='#') Шлифовальные станки и машины
                    li.sub-item
                      a(href='#') Красота
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки
                          li
                            a(href='#') Шлифовальные станки и машины
                          li
                            a(href='#') Пилы и лобзики
                          li
                            a(href='#') Отрезные станки и ножницы
                          li
                            a(href='#') Машинки
                          li
                            a(href='#')
                              | Фены строительные 
                              span -5%
                          li
                            a(href='#')
                              | Расходные материалы 
                              span -5%
                    li.sub-item
                      a(href='#') Текстиль для дома, рукоделие
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки
                          li
                            a(href='#') Шлифовальные станки и машины
                          li
                            a(href='#') Пилы и лобзики
                          li
                            a(href='#') Турииииизм
                          li
                            a(href='#') Одиннадцатикласница
                          li
                            a(href='#')
                              | Фены строительные 
                              span -5%
                          li
                            a(href='#')
                              | Расходные материалы 
                              span -5%
                    li.sub-item
                      a(href='#') Домашний декор
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки1
                    li.sub-item
                      a(href='#') Бытовая химия, СМС
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки2
                    li.sub-item
                      a(href='#') Хозтовары, садовый инвентарь
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки3
                    li.sub-item
                      a(href='#') Садоводство и озеленение
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки4
                          li
                            a(href='#') Дрели, шуруповёрты, молотки4
              .main-nav-featur
                .featur-blocks-wrap
                  .themed_block
                    a(href="#")
                      img(src='img/main/tov.jpg', alt='#')
                      p.themed_name
                        | Каталка Полесье Боби Котик
                      p.themed_cat Машинки
                      p.themed_coast 435,60 р.
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Каталка Полесье Боби 
                      p.themed_cat Машинки
                      p.themed_coast 435,60 р.
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Каталка Полесье Боби КАталка каталка
                      p.themed_cat Машинки
                      p.themed_coast 935,60 р.
                .featur-brands
                  ul
                    li
                      a(href="#")
                        img(src='img/promo/brand1.jpg', alt='#')
                    li
                      a(href="#")
                        img(src='img/promo/brand2.jpg', alt='#')
                    li
                      a(href="#")
                        img(src='img/promo/brand3.jpg', alt='#')
                    li
                      a(href="#")
                        img(src='img/promo/brand4.jpg', alt='#')
          li.menu-item.dropdown
            a(href='#') Спорт и туризм
              i.menu-arrow
            .main-nav-dropmenu
              .nav-main-wrap
                .nav-main
                  ul
                    li.sub-item
                      a(href='#') Спорт
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки
                          li
                            a(href='#') Шлифовальные станки и машины
                    li.sub-item
                      a(href='#') Туризм
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки
                          li
                            a(href='#') Шлифовальные станки и машины
                          li
                            a(href='#') Пилы и лобзики
                          li
                            a(href='#') Отрезные станки и ножницы
                          li
                            a(href='#') Рубанки, фрезерные станки
                          li
                            a(href='#')
                              | Фены строительные 
                              span -5%
                          li
                            a(href='#')
                              | Расходные материалы 
                              span -5%
                    li.sub-item
                      a(href='#') Текстиль для дома, рукоделие
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки
                          li
                            a(href='#') Шлифовальные станки и машины
                          li
                            a(href='#') Пилы и лобзики
                          li
                            a(href='#') Турииииизм
                          li
                            a(href='#') Одиннадцатикласница
                          li
                            a(href='#')
                              | Фены строительные 
                              span -5%
                          li
                            a(href='#')
                              | Расходные материалы 
                              span -5%
                    li.sub-item
                      a(href='#') Домашний декор
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки1
                    li.sub-item
                      a(href='#') Бытовая химия, СМС
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки2
                    li.sub-item
                      a(href='#') Хозтовары, садовый инвентарь
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки3
                    li.sub-item
                      a(href='#') Садоводство и озеленение
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки4
                          li
                            a(href='#') Дрели, шуруповёрты, молотки4
              .main-nav-featur
                .featur-blocks-wrap
                  .themed_block
                    a(href="#")
                      img(src='img/main/tov.jpg', alt='#')
                      p.themed_name
                        | Каталка Полесье Боби Котик
                      p.themed_cat Машинки
                      p.themed_coast 435,60 р.
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Каталка Полесье Боби 
                      p.themed_cat Машинки
                      p.themed_coast 435,60 р.
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Каталка Полесье Боби КАталка каталка
                      p.themed_cat Машинки
                      p.themed_coast 935,60 р.
                .featur-brands
                  ul
                    li
                      a(href="#")
                        img(src='img/promo/brand1.jpg', alt='#')
                    li
                      a(href="#")
                        img(src='img/promo/brand2.jpg', alt='#')
                    li
                      a(href="#")
                        img(src='img/promo/brand3.jpg', alt='#')
                    li
                      a(href="#")
                        img(src='img/promo/brand4.jpg', alt='#')
            //если внутри есть выпадающее меню - вешаем класс
          li.menu-item.dropdown
            a(href='#') Электроника и техника
              i.menu-arrow
            .main-nav-dropmenu
              .nav-main-wrap
                .nav-main
                  ul
                    li.sub-item
                      a(href='#') Мебель, оборудование для сада
                    li.sub-item
                      a(href='#') Электрика и освещение
                    li.sub-item
                      a(href='#') Садоводство и озеленение
                    li.sub-item
                      a(href='#') Электроинструмент
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки
                          li
                            a(href='#') Шлифовальные станки и машины
                          li
                            a(href='#') Пилы и лобзики
                          li
                            a(href='#') Отрезные станки и ножницы
                          li
                            a(href='#') Рубанки, фрезерные станки
                          li
                            a(href='#')
                              | Фены строительные 
                              span -5%
                          li
                            a(href='#') Лебёдки
                          li
                            a(href='#') Компрессоры, пылесосы
                          li
                            a(href='#') Сварочное оборудование
                          li
                            a(href='#')
                              | Расходные материалы 
                              span -5%
                    li.sub-item
                      a(href='#') Инструмент ручной
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки
                          li
                            a(href='#') Шлифовальные станки и машины
                          li
                            a(href='#') Пилы и лобзики
                          li
                            a(href='#') Отрезные станки и ножницы
                          li
                            a(href='#') Рубанки, фрезерные станки
                          li
                            a(href='#')
                              | Фены строительные 
                              span -5%
                          li
                            a(href='#') Лебёдки
                          li
                            a(href='#') Компрессоры, пылесосы
                          li
                            a(href='#') Сварочное оборудование
                          li
                            a(href='#')
                              | Расходные материалы 
                              span -5%
                    li.sub-item
                      a(href='#') Текстиль для дома, рукоделие
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Текстиль для дома, рукоделие
                          li
                            a(href='#') Текстиль для дома, рукоделие
                          li
                            a(href='#') Текстиль для дома, рукоделие
                          li
                            a(href='#') Рубанки, фрезерные станки
                          li
                            a(href='#')
                              | Текстиль для дома, рукоделие 
                              span -5%
                          li
                            a(href='#') Лебёдки
                          li
                            a(href='#') Текстиль для дома, рукоделие
                          li
                            a(href='#') Сварочное оборудование
                          li
                            a(href='#')
                              | Расходные материалы 
                              span -5%
                    li.sub-item
                      a(href='#') Домашний декор
                    li.sub-item
                      a(href='#') Бытовая химия, СМС
                    li.sub-item
                      a(href='#') Хозтовары, садовый инвентарь
                    li.sub-item
                      a(href='#') Садоводство и озеленение
              .main-nav-featur
                .featur-blocks-wrap
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Каталка Полесье Боби Одиннадцатиклассница
                      p.themed_cat Машинки
                      p.themed_coast 435,60 р.
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Каталка Полесье Боби [5434]
                      p.themed_cat Машинки
                      p.themed_coast 435,60 р.
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Каталка Полесье Боби ываыаыва
                      p.themed_cat Машинки
                      p.themed_coast 435,60 р.
                .featur-brands
                  ul
                    li
                      a(href="#")
                        img(src='img/promo/brand1.jpg', alt='#')
                    li
                      a(href="#")
                        img(src='img/promo/brand2.jpg', alt='#')
                    li
                      a(href="#")
                        img(src='img/promo/brand3.jpg', alt='#')
                    li
                      a(href="#")
                        img(src='img/promo/brand4.jpg', alt='#')
          li.menu-item.dropdown
            a(href='#') Для дома и сада
              i.menu-arrow
            .main-nav-dropmenu
              .nav-main-wrap
                .nav-main
                  ul
                    li
                      a(href='#') Мебель, оборудование для сада
                    li
                      a(href='#') Электрика и освещение
                    li
                      a(href='#') Садоводство и озеленение
                    li
                      a(href='#') Электроинструмент
                      .drop-nav-dropmenu
                        ul.menu-item-dropable
                          li
                            a(href='#') Дрели, шуруповёрты, молотки
                          li
                            a(href='#') Шлифовальные станки и машины
                          li
                            a(href='#') Пилы и лобзики
                          li
                            a(href='#') Отрезные станки и ножницы
                          li
                            a(href='#') Рубанки, фрезерные станки
                          li
                            a(href='#')
                              | Фены строительные 
                              span -5%
                          li
                            a(href='#') Лебёдки
                          li
                            a(href='#') Компрессоры, пылесосы
                          li
                            a(href='#') Сварочное оборудование
                          li
                            a(href='#')
                              | Расходные материалы 
                              span -5%
                    li
                      a(href='#') Инструмент ручной
                    li
                      a(href='#') Текстиль для дома, рукоделие
                    li
                      a(href='#') Домашний декор
                    li
                      a(href='#') Бытовая химия, СМС
                    li
                      a(href='#') Хозтовары, садовый инвентарь
                    li
                      a(href='#') Садоводство и озеленение
              .main-nav-featur
                .featur-blocks-wrap
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Каталка Полесье Боби ываыаыва
                      p.themed_cat Машинки
                      p.themed_coast 435,60 р.
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Каталка Полесье Боби ываыаыва
                      p.themed_cat Машинки
                      p.themed_coast 435,60 р.
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Каталка Полесье Боби ываыаыва
                      p.themed_cat Машинки
                      p.themed_coast 435,60 р.
                .featur-brands
                  ul
                    li
                      img(src='img/promo/brand1.jpg', alt='#')
                    li
                      img(src='img/promo/brand2.jpg', alt='#')
                    li
                      img(src='img/promo/brand3.jpg', alt='#')
                    li
                      img(src='img/promo/brand4.jpg', alt='#')
          li.menu-item
            a(href='#') Автотовары
              i.menu-arrow
          li.menu-item

            a(href='#') Ремонт&nbsp;и&nbsp;стройка
              i.menu-arrow
          li.menu-item
            a.sale(href='#') Распродажа	
          .dropdown-btn.js-menu_add-btn
            a(href="") Еще
              .icon
                svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 15 3', style='enable-background:new 0 0 15 3;', xml:space='preserve')
                  style(type='text/css').
                    .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#3B3B3B;}
                  g
                    g
                      path.st1(d='M1.5,0C0.7,0,0,0.7,0,1.5C0,2.3,0.7,3,1.5,3C2.3,3,3,2.3,3,1.5C3,0.7,2.3,0,1.5,0z M7.5,0C6.7,0,6,0.7,6,1.5\
                      C6,2.3,6.7,3,7.5,3C8.3,3,9,2.3,9,1.5C9,0.7,8.3,0,7.5,0z M13.5,0C12.7,0,12,0.7,12,1.5C12,2.3,12.7,3,13.5,3\
                      C14.3,3,15,2.3,15,1.5C15,0.7,14.3,0,13.5,0z')
            .drop-menu-wrapper
              ul.drop-line-nav.js-container
  


