// !!!! ATTENTION !!!!!! hidden blocks !!!! ATTENTION !!!!!!
.regions_hidden.hidden_bg
  .hidden-block
    .hidden-block-close.button_close
    h2.hidden-title Область доставки
    .regions_map
      img(src='img/map2x.png', alt='map-region')
    .regions
      h3 Выберите область, куда необходимо доставить заказ
      form.region_form(action='/', method='/')
        label
          input(name='region', type='radio', value='brest', checked='')
          | Брестская область
        label
          input(name='region', type='radio', value='Vitebsk')
          | Витебская область
        label
          input(name='region', type='radio', value='Gomel')
          | Гомельская область
        label
          input(name='region', type='radio', value='Grodno')
          | Гродненская область
        label
          input(name='region', type='radio', value='Minsk')
          | Минск, Минская область
        label
          input(name='region', type='radio', value='Mogilev')
          | Могилевская область
        input(type='submit', value='Выбрать')
// SUCCSES
.success_hidden.hidden_bg
  .hidden-block
    .hidden-block-close.button_close
    h2.hidden-title Спасибо
    p.title-text
      | Вы успешно подписались на рассылку информации о скидках и распродажах торгового центра «Полесье».
      | Настроить подписку вы можете в 
      a(href='#') Личном кабинете.
    p.btn-wrap.button_close
      a.block-btn(href='#') Закрыть
.product_hidden.hidden_bg
  .hidden-block
    .hidden-block-close.button_close
    .product-galery-wrap
      .product-much-cont.active
        .product-modal-slider
          .product-slider-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-slider-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-slider-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-slider-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-slider-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-slider-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-slider-item
            img(src="img/promo/product.jpg", alt="velasaped")
        .product-madd-slider
          .product-add-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-add-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-add-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-add-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-add-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-add-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-add-item
            img(src="img/promo/product.jpg", alt="velasaped")
        .features__nav-modal
.offer_hidden.hidden_bg
  .hidden-block
    .hidden-block-close.button_close
    h2.modal-title.text-left Товар добавлен в корзину
    p.items-counter В вашей корзине 
      span  1 
      | товар.
    .modal-items-wrapper
      .modal-item
        .modal-item-img
          img(src="img/promo/product.jpg", alt="velasaped")
        .modal-item-info
          p.main-title STELS Navigator 500 V 26 (2016)
          p.product-option
            span Цвет
            |: 
            span  голубой
          p.product-option
            span Размер рамы
            |: 
            span   21”
          p.product-option
            span Кол-во 
            |: 
            span  1 шт.
        .modal-item-price
          .hits_coast
            p.hits_coast
              | 13 435,60 р. 
              span  13 435 600 р
    .modal-add
      a.block-btn(href='#') Перейти к корзине
      a(href="#").product-learn-more.button_close
        svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='18px',height='18px', viewbox='0 0 18 18', style='enable-background:new 0 0 18 18;', xml:space='preserve')
          style(type='text/css').
            .stmore{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}
          g
            g
              path.stmore(d='M9,0C4,0,0,4,0,9c0,5,4,9,9,9c5,0,9-4,9-9C18,4,14,0,9,0z M9,17c-4.4,0-8-3.6-8-8c0-4.4,3.6-8,8-8\
              c4.4,0,8,3.6,8,8C17,13.4,13.4,17,9,17z M10.4,5L6,9l4.4,4l0.6-0.6L7.3,9L11,5.6L10.4,5z')
        |Продолжить покупки


//if lt IE 9
  script(src='libs/html5shiv/es5-shim.min.js')
  script(src='libs/html5shiv/html5shiv.min.js')
  script(src='libs/html5shiv/html5shiv-printshiv.min.js')
  script(src='libs/respond/respond.min.js')