// !!!! ATTENTION !!!!!! hidden blocks !!!! ATTENTION !!!!!!
.regions_hidden.hidden_bg
  .hidden-block
    .hidden-block-close.button_close
    h2. Область доставки
    .regions_map
      img(src='img/map2x.png', alt='map-region')
    .regions
      h3 Выберите область, куда необходимо доставить заказ
      form.region_form(action='/', method='/')
        .form-block-content
          ul.select-u-body
            li.select-u-item
              label.input_label
                span.input_main
                  input.input-real(name = 'who', type="radio", value = 'fiz')
                  span.input-checked
                span.input-text Брестская область
            li.select-u-item
              label.input_label
                span.input_main
                  input.input-real(name = 'who', type="radio", value = 'jur')
                  span.input-checked
                span.input-text Витебская область
            li.select-u-item
              label.input_label
                span.input_main
                  input.input-real(name = 'who', type="radio", value = 'jur')
                  span.input-checked
                span.input-text Гомельская область
            li.select-u-item
              label.input_label
                span.input_main
                  input.input-real(name = 'who', type="radio", value = 'jur')
                  span.input-checked
                span.input-text Гродненская область
            li.select-u-item
              label.input_label
                span.input_main
                  input.input-real(name = 'who', type="radio", value = 'jur')
                  span.input-checked
                span.input-text Минск, Минская область
            li.select-u-item
              label.input_label
                span.input_main
                  input.input-real(name = 'who', type="radio", value = 'jur')
                  span.input-checked
                span.input-text Могилевская область 
        button.hits-stat-more(type="submit") Выбрать   

// SUCCSES
.success_hidden.hidden_bg
  .hidden-block
    .hidden-block-close.button_close
    h2.hidden-title Спасибо
    p.title-text
      | Вы успешно подписались на рассылку информации о скидках и распродажах торгового центра «Полесье».
      | Настроить подписку вы можете в 
      a(href='#') Личном кабинете.
    p.btn-wrap.button_close
      a.block-btn(href='#') Закрыть
.product_hidden.hidden_bg
  .hidden-block
    .hidden-block-close.button_close
    .product-galery-wrap
      .product-much-cont.active
        .product-modal-slider
          .product-slider-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-slider-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-slider-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-slider-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-slider-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-slider-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-slider-item
            img(src="img/promo/product.jpg", alt="velasaped")
        .product-madd-slider
          .product-add-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-add-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-add-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-add-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-add-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-add-item
            img(src="img/promo/product.jpg", alt="velasaped")
          .product-add-item
            img(src="img/promo/product.jpg", alt="velasaped")
        .features__nav-modal
.offer_hidden.hidden_bg
  .hidden-block
    .hidden-block-close.button_close
    h2.modal-title.text-left Товар добавлен в корзину
    p.items-counter В вашей корзине 
      span  1 
      | товар.
    .modal-items-wrapper
      .modal-item
        .modal-item-img
          img(src="img/promo/product.jpg", alt="velasaped")
        .modal-item-info
          p.main-title STELS Navigator 500 V 26 (2016)
          p.product-option
            span Цвет
            |: 
            span  голубой
          p.product-option
            span Размер рамы
            |: 
            span   21”
          p.product-option
            span Кол-во 
            |: 
            span  1 шт.
        .modal-item-price
          .hits_coast
            p.hits_coast
              | 13 435,60 р. 
              span  13 435 600 р
      .modal-item
        .modal-item-img
          img(src="img/promo/product.jpg", alt="velasaped")
        .modal-item-info
          p.main-title STELS Navigator 500 V 26 (2016)
          p.product-option
            span Цвет
            |: 
            span  голубой
          p.product-option
            span Размер рамы
            |: 
            span   21”
          p.product-option
            span Кол-во 
            |: 
            span  1 шт.
        .modal-item-price
          .hits_coast
            p.hits_coast
              | 13 435,60 р. 
              span  13 435 600 р
      .modal-item
        .modal-item-img
          img(src="img/promo/product.jpg", alt="velasaped")
        .modal-item-info
          p.main-title STELS Navigator 500 V 26 (2016)
          p.product-option
            span Цвет
            |: 
            span  голубой
          p.product-option
            span Размер рамы
            |: 
            span   21”
          p.product-option
            span Кол-во 
            |: 
            span  1 шт.
        .modal-item-price
          .hits_coast
            p.hits_coast
              | 13 435,60 р. 
              span  13 435 600 р
        .modal-item
        .modal-item-img
          img(src="img/promo/product.jpg", alt="velasaped")
        .modal-item-info
          p.main-title STELS Navigator 500 V 26 (2016)
          p.product-option
            span Цвет
            |: 
            span  голубой
          p.product-option
            span Размер рамы
            |: 
            span   21”
          p.product-option
            span Кол-во 
            |: 
            span  1 шт.
        .modal-item-price
          .hits_coast
            p.hits_coast
              | 13 435,60 р. 
              span  13 435 600 р
        .modal-item
        .modal-item-img
          img(src="img/promo/product.jpg", alt="velasaped")
        .modal-item-info
          p.main-title STELS Navigator 500 V 26 (2016)
          p.product-option
            span Цвет
            |: 
            span  голубой
          p.product-option
            span Размер рамы
            |: 
            span   21”
          p.product-option
            span Кол-во 
            |: 
            span  1 шт.
        .modal-item-price
          .hits_coast
            p.hits_coast
              | 13 435,60 р. 
              span  13 435 600 р
        .modal-item
        .modal-item-img
          img(src="img/promo/product.jpg", alt="velasaped")
        .modal-item-info
          p.main-title STELS Navigator 500 V 26 (2016)
          p.product-option
            span Цвет
            |: 
            span  голубой
          p.product-option
            span Размер рамы
            |: 
            span   21”
          p.product-option
            span Кол-во 
            |: 
            span  1 шт.
        .modal-item-price
          .hits_coast
            p.hits_coast
              | 13 435,60 р. 
              span  13 435 600 р
        .modal-item
        .modal-item-img
          img(src="img/promo/product.jpg", alt="velasaped")
        .modal-item-info
          p.main-title STELS Navigator 500 V 26 (2016)
          p.product-option
            span Цвет
            |: 
            span  голубой
          p.product-option
            span Размер рамы
            |: 
            span   21”
          p.product-option
            span Кол-во 
            |: 
            span  1 шт.
        .modal-item-price
          .hits_coast
            p.hits_coast
              | 13 435,60 р. 
              span  13 435 600 р
    .modal-add
      a.block-btn(href='#') Перейти к корзине
      a(href="#").product-learn-more.button_close
        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='18px',height='18px', viewbox='0 0 18 18', style='enable-background:new 0 0 18 18;', xml:space='preserve')
          style(type='text/css').
            .stmore{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}
          g
            g
              path.stmore(d='M9,0C4,0,0,4,0,9c0,5,4,9,9,9c5,0,9-4,9-9C18,4,14,0,9,0z M9,17c-4.4,0-8-3.6-8-8c0-4.4,3.6-8,8-8\
              c4.4,0,8,3.6,8,8C17,13.4,13.4,17,9,17z M10.4,5L6,9l4.4,4l0.6-0.6L7.3,9L11,5.6L10.4,5z')
        |Продолжить покупки
.consult_hidden.hidden_bg
  .hidden-block
    .hidden-block-close.button_close
    h2.hidden-title Консультация
    form(action="/").form-feed
      .input-wrapper
        label.input-label 
          span.text Ваше имя
        input.input-main.input-from(type='text',name="", placeholder = 'Иванов Степан Иванович')
      .input-wrapper
        label.input-label 
          span.text E-mail
        input.input-main.input-from(type='email',name="", placeholder = 'info@mail.com')
      .input-wrapper
        label.input-label
          span.text  Отзыв
        input.input-main.input-from(type='tell',name="", placeholder = '+375 29 000-00-00')
      .input-wrapper
        label.input-label 
          span.text Вопрос
        textarea.input-main.input-small(name="", rows="3", placeholder = 'Опишите')
      input.hits-stat-more(type="submit", placeholder = 'Задать вопрос')
.oneclick_hidden.hidden_bg
  .hidden-block
    .hidden-block-close.button_close
    h2.hidden-title Купить в 1 клик
    form(action="/").form-feed
      .input-wrapper
        label.input-label 
          span.text Ваше имя
        input.input-main.input-from(type='text',name="", placeholder = 'Иванов Степан Иванович')
      .input-wrapper
        label.input-label 
          span.text Телефон
        input.input-main.input-from(type='tel',name="", placeholder = '+375 29 000-00-00')
      .input-wrapper
        label.input-label 
          span Сообщение
        textarea.input-main.input-small(name="", rows="3", placeholder = 'Оставьте сообщение')
      input.hits-stat-more(type="submit", placeholder = 'Отправить',data-target=".success_hidden").js-modal-trigger.button_close
.login_hidden.hidden_bg
  .hidden-block
    .hidden-block-close.button_close
    h2.hidden-title Личный кабинет
    .tab-form-wrapper
       form(action="/").form-feed
        .form-block
          .form-block-content
            .input-wrapper
              label.input-label 
                span.text E-mail
              input.input-main.input-from(type='email',name="", placeholder = 'info@mail.com')
            .input-wrapper
              label.input-label 
                span.text Пароль
              input.input-main.input-from(type='password',name="", placeholder = 'Пароль')
              a(href="#",data-target=".password_hidden").forgot-pass.js-modal-trigger.button_close Забыли пароль?
        button.hits-stat-more.enter-btn(type="submit") Войти
.password_hidden.hidden_bg
  .hidden-block
    .hidden-block-close.button_close
    h2.hidden-title Восстановление пароля     
    .tab-form-wrapper
       form(action="", name='pass-forgotten').form-feed.js-form-email
        .form-block
          .form-block-content
            .input-text Изменение пароля будет возможно после того, как вы перейдете по ссылке, которая будет отправлена вам на указанный e-mail
            .input-wrapper
              label.input-label 
                span.text E-mail
              input.input-main.input-from(type='email',name="", placeholder = 'info@mail.com' ,data-validation="email")
        input.hits-stat-more.enter-btn.js-modal-trigger(type="submit", value = 'Отправить',data-target=".password-succes_hidden")
.password-succes_hidden.hidden_bg
  .hidden-block
    .hidden-block-close.button_close
    h2.hidden-title Восстановление пароля   
    .tab-form-wrapper
      .form-feed
        .form-block
          .form-block-content
            .input-text В течение 5 минут на указанный e-mail будет выслано письмо с вашими регистрационными данными
        button.hits-stat-more.button_close Закрыть
.vacancy_hidden.hidden_bg
  .hidden-block
    .hidden-block-close.button_close
    h2.hidden-title Отклик на вакансию
    span.small-title Инженер-проектировщик
    form(action="/").vacancy-form
      .input-wrapper
        label.input-label 
          span.text Ваше имя
        input.input-main.input-from(type='text',name="", placeholder = 'Иванов Степан Иванович')
      .input-wrapper
        label.input-label 
          span.text E-mail
        input.input-main.input-from(type='email',name="", placeholder = 'info@mail.com' ,data-validation="email")
      .input-wrapper
        label.input-label 
          span.text Телефон
        input.input-main.input-from(type='tel',name="", placeholder = '+375 29 000-00-00')
      .input-wrapper
        label.input-label 
          span Прикрепите резюме
        input(type="file")
      input.hits-stat-more(type="submit", placeholder = 'Откликнуться',data-target=".success_hidden").js-modal-trigger.button_close



//if lt IE 9
  script(src='libs/html5shiv/es5-shim.min.js')
  script(src='libs/html5shiv/html5shiv.min.js')
  script(src='libs/html5shiv/html5shiv-printshiv.min.js')
  script(src='libs/respond/respond.min.js')