<!DOCTYPE html>
<!--if lt IE 7 html.ie.ie6(lang='en')  
-->
<!--if IE 7 html.ie.ie7(lang='en')  
-->
<!--if IE 8 html.ie.ie8(lang='en')  
-->
<!-- [if (gte IE 9)|!(IE)] <!-->
<html lang="ru">
	<!-- <![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Полесье Онлайн-гипермаркет</title>
		<meta name="description" content="#">
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="css/screen.css">
		<script src="js/common.js"></script>
	</head>
	<body>
		<div id="wrap">
			<!-- header-->
			<div class="header">
				<header>
					<!-- top line-->
					<div class="top-line">
						<div class="top-line-region">
							<p><a href="#regions_hidden">Минск, Минская область</a></p>
						</div>
						<div class="top-line-nav">
							<nav>
								<ul>
									<li class="top-item"><a href="#">Доставка и оплата</a></li>
									<li class="top-item"><a href="#">Частые вопросы</a></li>
									<li class="top-item"><a href="#">Новости и акции</a></li>
									<li class="dropdown-btn"><a href="#">Ещё
											<div class="icon">
												<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 15 3" style="enable-background:new 0 0 15 3;" xml:space="preserve">
													<style type="text/css">.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#3B3B3B;}</style>
													<g>
														<g>
															<path d="M1.5,0C0.7,0,0,0.7,0,1.5C0,2.3,0.7,3,1.5,3C2.3,3,3,2.3,3,1.5C3,0.7,2.3,0,1.5,0z M7.5,0C6.7,0,6,0.7,6,1.5                        C6,2.3,6.7,3,7.5,3C8.3,3,9,2.3,9,1.5C9,0.7,8.3,0,7.5,0z M13.5,0C12.7,0,12,0.7,12,1.5C12,2.3,12.7,3,13.5,3                        C14.3,3,15,2.3,15,1.5C15,0.7,14.3,0,13.5,0z" class="st1"></path>
														</g>
													</g>
												</svg>
											</div></a>
										<div class="drop-menu-wrapper">
											<ul class="drop-line-nav">
												<li><a href="#">Как заказать</a></li>
												<li><a href="#">Возврат</a></li>
												<li><a href="#">Оферта</a></li>
												<li><a href="#">Контакты</a></li>
											</ul>
										</div>
									</li>
								</ul>
							</nav>
						</div>
						<div class="top-line-call">
							<p><span>+375 29 605 05 05</span> - или <a href="#">обратный звонок</a></p>
						</div>
					</div>
					<!-- line-->
					<div class="line">
						<!-- logo-->
						<div class="line-wrap-logo">
							<div class="wrap-logo"><img src="img/logo.svg" alt="Полесье" class="logo">
								<div class="logo-market">
									<p class="market">Market</p>
									<p class="bigmarket">Онлайн-гипермаркет</p>
								</div>
							</div>
							<div class="wrap-catalog-btn">
								<p>Каталог продукции</p>
							</div>
						</div>
						<!-- search-->
						<div class="line-search-form">
							<form action="" method="post">
								<input type="submit" value="Найти">
								<input type="search" name="search" placeholder="Поиск по 200 000 товарам, разделам и артикулам" class="search">
							</form>
							<div class="select-container"><a href="#" class="search_drop"> <span>По тексту </span>
									<div class="img">
										<svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 8 4" style="enable-background:new 0 0 8 4;" xml:space="preserve">
											<path d="M8,0H0l4,4L8,0z"></path>
										</svg>
									</div></a>
								<div class="section">
									<div class="section-item">
										<input id="dva1" type="radio" checked="checked" name="dva">
										<label for="dva1">По тексту</label>
									</div>
									<div class="section-item">
										<input id="dva2" type="radio" name="dva">
										<label for="dva2">По каталогу</label>
									</div>
								</div>
							</div>
							<!-- cart_list_hidden-->
							<div style="display: none" class="line_search_hidden search-catalog">
								<div class="cart_list_block_scroll search_scroll">
									<div class="search_list">
										<ul>
											<li><a href="#">Детские велосипеды</a></li>
											<li><a href="#">Велосипеды</a></li>
											<li><a href="#">Велосипедные аксессуары</a></li>
										</ul>
									</div>
									<div class="cart_list_block"><img src="img/promo/cart_list.jpg" alt="#">
										<div class="cart_list_descr">
											<p class="cart_list_name">Samsung Galaxy S6 Edge 32Gb</p>
											<p>Цвет: черный</p>
											<p>Кол-во: 1 шт.</p>
											<div class="cart_list_coast">
												<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
												<p class="hits_coast old">13 435,60 р. <span> 13 435 600 р</span></p>
											</div>
										</div>
									</div>
									<div class="cart_list_block"><img src="img/promo/cart_list.jpg" alt="#">
										<div class="cart_list_descr">
											<p class="cart_list_name">Samsung Galaxy S6 Edge 32Gb</p>
											<p>Цвет: черный</p>
											<p>Кол-во: 1 шт.</p>
											<div class="cart_list_coast">
												<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
												<p class="hits_coast old">13 435,60 р. <span> 13 435 600 р</span></p>
											</div>
										</div>
									</div>
									<div class="cart_list_block"><img src="img/promo/cart_list.jpg" alt="#">
										<div class="cart_list_descr">
											<p class="cart_list_name">Samsung Galaxy S6 Edge 32Gb</p>
											<p>Цвет: черный</p>
											<p>Кол-во: 1 шт.</p>
											<div class="cart_list_coast">
												<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
												<p class="hits_coast old">13 435,60 р. <span> 13 435 600 р</span></p>
											</div>
										</div>
									</div>
									<div class="cart_list_block"><img src="img/promo/cart_list.jpg" alt="#">
										<div class="cart_list_descr">
											<p class="cart_list_name">Samsung Galaxy S6 Edge 32Gb</p>
											<p>Цвет: черный</p>
											<p>Кол-во: 1 шт.</p>
											<div class="cart_list_coast">
												<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
												<p class="hits_coast old">13 435,60 р. <span> 13 435 600 р</span></p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- cart_list_hidden-->
							<div style="display: none" class="line_search_hidden search-text">
								<div class="cart_list_block_scroll">
									<div class="cart_list_block"><img src="img/promo/search-text.jpg" alt="#">
										<div class="cart_list_descr">
											<p class="search_date">06 июля 2016 года</p>
											<p class="search_list_name">Новое поступление детских велосипедов</p>
											<p class="short_descr">В нашем магазине обновление ассорти- мента — более 120 новых моделей детских и подростковых велосипедов...</p>
										</div>
									</div>
									<div class="cart_list_block"><img src="img/promo/search-text.jpg" alt="#">
										<div class="cart_list_descr">
											<p class="search_date">06 июля 2016 года</p>
											<p class="cart_list_name">Новое поступление детских велосипедов</p>
											<p class="short_descr">В нашем магазине обновление ассорти- мента — более 120 новых моделей детских и подростковых велосипедов...</p>
										</div>
									</div>
									<div class="cart_list_block"><img src="img/promo/search-text.jpg" alt="#">
										<div class="cart_list_descr">
											<p class="search_date">06 июля 2016 года</p>
											<p class="cart_list_name">Новое поступление детских велосипедов</p>
											<p class="short_descr">В нашем магазине обновление ассорти- мента — более 120 новых моделей детских и подростковых велосипедов...</p>
										</div>
									</div>
									<div class="cart_list_block"><img src="img/promo/search-text.jpg" alt="#">
										<div class="cart_list_descr">
											<p class="search_date">06 июля 2016 года</p>
											<p class="cart_list_name">Новое поступление детских велосипедов</p>
											<p class="short_descr">В нашем магазине обновление ассорти- мента — более 120 новых моделей детских и подростковых велосипедов...</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="line-cart"><a href="#" class="cart">Корзина <span>0</span></a>
							<!-- cart_list_hidden-->
							<div class="cart_list-wrapper">
								<div class="cart_list_hidden">
									<div class="cart_list_block_scroll">
										<div class="cart_list_block"><img src="img/promo/cart_list.jpg" alt="#">
											<div class="cart_list_descr">
												<p class="cart_list_name">Samsung Galaxy S6 Edge 32Gb</p>
												<p>Цвет: черный</p>
												<p>Кол-во: 1 шт.</p>
												<div class="cart_list_coast">
													<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
													<p class="hits_coast old">13 435,60 р. <span> 13 435 600 р</span></p>
												</div>
											</div>
										</div>
										<div class="cart_list_block"><img src="img/promo/cart_list.jpg" alt="#">
											<div class="cart_list_descr">
												<p class="cart_list_name">Samsung Galaxy S6 Edge 32Gb</p>
												<p>Цвет: черный</p>
												<p>Кол-во: 1 шт.</p>
												<div class="cart_list_coast">
													<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
													<p class="hits_coast old">13 435,60 р. <span> 13 435 600 р</span></p>
												</div>
											</div>
										</div>
										<div class="cart_list_block"><img src="img/promo/cart_list.jpg" alt="#">
											<div class="cart_list_descr">
												<p class="cart_list_name">Samsung Galaxy S6 Edge 32Gb</p>
												<p>Цвет: черный</p>
												<p>Кол-во: 1 шт.</p>
												<div class="cart_list_coast">
													<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
													<p class="hits_coast old">13 435,60 р. <span> 13 435 600 р</span></p>
												</div>
											</div>
										</div>
										<div class="cart_list_block"><img src="img/promo/cart_list.jpg" alt="#">
											<div class="cart_list_descr">
												<p class="cart_list_name">Samsung Galaxy S6 Edge 32Gb</p>
												<p>Цвет: черный</p>
												<p>Кол-во: 1 шт.</p>
												<div class="cart_list_coast">
													<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
													<p class="hits_coast old">13 435,60 р. <span> 13 435 600 р</span></p>
												</div>
											</div>
										</div>
									</div>
									<div class="cart_total">
										<p>Итого: <span>4 466,60 р. <span> 44 666 000 р</span></span></p>
									</div>
									<div class="cart_buttons"><a href="#" class="cart_incart">Перейти в корзину</a><a href="#" class="cart_content">Оформить заказ</a></div>
								</div>
							</div>
							<div class="cart_list-empty">
								<div class="cart_list_hidden">
									<p>Ваша корзина совершенно пуста</p>
								</div>
							</div>
						</div>
						<!-- tools-->
						<div class="mobile-search">
							<div class="mobile_form-wrapper">
								<form action="">
									<input type="text" placeholder="Поиск пок каталогу" class="mobile-search-input">
									<input type="submit" class="mobile-search-submit">
								</form>
							</div>
						</div>
						<div class="line-tools"><a href="#" data-title="Список сравнения пуст" class="tools-comparison"></a><a href="#" data-title="Список отложенных товаров пуст" class="tools-defer"></a><a href="#" class="tools-search js-search-btn"></a><a href="#" class="account"><span>Личный кабинет</span></a></div>
						<!-- cart-->
					</div>
					<!-- main-nav-->
					<div class="main-nav">
						<nav class="nav">
							<div class="js-mobile-menu-btn"><a href="#">Все разделы каталога
									<div class="icon arr-r">
										<svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve">
											<style type="text/css">.ftr-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}</style>
											<path d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5" class="ftr-arr"></path>
										</svg>
									</div></a></div>
							<ul>
								<!--в menu-item лучше использовать неразрывные пробелы-->
								<li class="menu-item"><a href="#">Твары для детей</a></li>
								<li class="menu-item"><a href="#">Мода и красота</a></li>
								<li class="menu-item"><a href="#">Спорт и туризм</a>
									<!--если внутри есть выпадающее меню - вешаем класс-->
								</li>
								<li class="menu-item dropdown"><a href="#">Электроника и техника</a>
									<div class="main-nav-dropmenu">
										<div class="nav-main-wrap">
											<div class="nav-main">
												<ul>
													<li><a href="#">Мебель, оборудование для сада</a></li>
													<li><a href="#">Электрика и освещение</a></li>
													<li><a href="#">Садоводство и озеленение</a></li>
													<li><a href="#">Электроинструмент</a>
														<div class="drop-nav-dropmenu">
															<ul class="menu-item-dropable">
																<li><a href="#">Дрели, шуруповёрты, молотки</a></li>
																<li><a href="#">Шлифовальные станки и машины</a></li>
																<li><a href="#">Пилы и лобзики</a></li>
																<li><a href="#">Отрезные станки и ножницы</a></li>
																<li><a href="#">Рубанки, фрезерные станки</a></li>
																<li><a href="#">Фены строительные <span>-5%</span></a></li>
																<li><a href="#">Лебёдки</a></li>
																<li><a href="#">Компрессоры, пылесосы</a></li>
																<li><a href="#">Сварочное оборудование</a></li>
																<li><a href="#">Расходные материалы <span>-5%</span></a></li>
															</ul>
														</div>
													</li>
													<li><a href="#">Инструмент ручной</a></li>
													<li><a href="#">Текстиль для дома, рукоделие</a></li>
													<li><a href="#">Домашний декор</a></li>
													<li><a href="#">Бытовая химия, СМС</a></li>
													<li><a href="#">Хозтовары, садовый инвентарь</a></li>
													<li><a href="#">Садоводство и озеленение</a></li>
												</ul>
											</div>
										</div>
										<div class="main-nav-featur">
											<div class="featur-blocks-wrap">
												<div class="themed_block"><img src="img/promo/themed101.jpg" alt="#">
													<p class="themed_name"><a href="#" tabindex="0">Мягкая игрушка Hasbro Игривый щенок [B0449]</a></p>
													<p class="themed_cat">Мягкие игрушки</p>
													<p class="themed_coast">3 798,00 р.</p>
												</div>
												<div class="themed_block"><img src="img/promo/themed101.jpg" alt="#">
													<p class="themed_name"><a href="#" tabindex="0">Мягкая игрушка Hasbro Игривый щенок [B0449]</a></p>
													<p class="themed_cat">Мягкие игрушки</p>
													<p class="themed_coast">3 798,00 р.</p>
												</div>
												<div class="themed_block"><img src="img/promo/themed101.jpg" alt="#">
													<p class="themed_name"><a href="#" tabindex="0">Мягкая игрушка Hasbro Игривый щенок [B0449]</a></p>
													<p class="themed_cat">Мягкие игрушки</p>
													<p class="themed_coast">3 798,00 р.</p>
												</div>
											</div>
											<div class="featur-brands">
												<ul>
													<li><img src="img/promo/brand1.jpg" alt="#"></li>
													<li><img src="img/promo/brand2.jpg" alt="#"></li>
													<li><img src="img/promo/brand3.jpg" alt="#"></li>
													<li><img src="img/promo/brand4.jpg" alt="#"></li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<li class="menu-item"><a href="#">Для дома и сада</a></li>
								<li class="menu-item"><a href="#">Автотовары</a></li>
								<li class="menu-item"><a href="#">Ремонт&nbsp;и&nbsp;стройка</a></li>
								<li class="menu-item"><a href="#" class="sale">Распродажа	</a></li>
								<div class="dropdown-btn js-menu_add-btn"><a href="">Еще
										<div class="icon">
											<svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 15 3" style="enable-background:new 0 0 15 3;" xml:space="preserve">
												<style type="text/css">.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#3B3B3B;}</style>
												<g>
													<g>
														<path d="M1.5,0C0.7,0,0,0.7,0,1.5C0,2.3,0.7,3,1.5,3C2.3,3,3,2.3,3,1.5C3,0.7,2.3,0,1.5,0z M7.5,0C6.7,0,6,0.7,6,1.5                      C6,2.3,6.7,3,7.5,3C8.3,3,9,2.3,9,1.5C9,0.7,8.3,0,7.5,0z M13.5,0C12.7,0,12,0.7,12,1.5C12,2.3,12.7,3,13.5,3                      C14.3,3,15,2.3,15,1.5C15,0.7,14.3,0,13.5,0z" class="st1"></path>
													</g>
												</g>
											</svg>
										</div></a>
									<div class="drop-menu-wrapper">
										<ul class="drop-line-nav js-container"></ul>
									</div>
								</div>
							</ul>
						</nav>
					</div>
				</header>
			</div>
			<div class="content_main-wrapper">
				<section>
					<ul class="breadcrums"><a href="#" class="home-btn"><i class="home-img">
								<svg id="Layer_home" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="9px" y="5px" viewbox="0 0 14.1 13" style="enable-background:new 0 0 14.1 13;" xml:space="preserve">
									<style type="text/css">.sthome{fill-rule:evenodd;clip-rule:evenodd;fill:#989898;}</style>
									<path d="M7.1,0l4.8,4.1L14,5.8c0,0,0.2,0.4,0,0.7c-0.3,0.4-0.8,0.2-0.8,0.2l-0.5-0.2v5.8c0,0.3-0.3,0.6-0.6,0.6h-3V8h-4                        v5h-3c-0.3,0-0.6-0.3-0.6-0.6V6.6L0.9,6.8c0,0-0.6,0-0.8-0.2c-0.2-0.3,0-0.9,0-0.9l2-1.6L7.1,0z" class="sthome"></path>
								</svg></i></a>
						<li class="bread-item"><a href="#">Спорт и туризм</a>
							<div class="bread-arrow">
								<svg id="Layer_arr" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve">
									<style type="text/css">.bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}</style>
									<path d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5" class="bre-arr"></path>
								</svg>
							</div>
							<div class="bread__add-menu-wrap">
								<div class="bread__add-container">
									<ul class="add-list">
										<li class="add-list-item"><a href="#">Товары для детей</a></li>
										<li class="add-list-item"><a href="#">Мода и красота</a></li>
										<li class="add-list-item"><a href="#">Электроника и техника</a></li>
										<li class="add-list-item"><a href="#">Всякие гадости</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li class="bread-item"><a href="#">Спорт и туризм</a><i class="bread-arrow">
								<svg id="Layer_arr" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve">
									<style type="text/css">.bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}</style>
									<path d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5" class="bre-arr"></path>
								</svg></i>
							<div class="bread__add-menu-wrap">
								<div class="bread__add-container">
									<ul class="add-list">
										<li class="add-list-item"><a href="#">Товары для детей</a></li>
										<li class="add-list-item"><a href="#">Мода и красота</a></li>
										<li class="add-list-item"><a href="#">Электроника и техника</a></li>
										<li class="add-list-item"><a href="#">Ldt jlbyflwfnbrkfccybws rrr</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li class="bread-item"><a href="#">Спорт и туризм</a></li>
					</ul>
				</section>
				<section>
					<h1 class="section-title">Велосипеды</h1>
					<div class="section__wrapper">
						<aside class="aside__selection">
							<div class="moblie_btn selection_item"><span>Показать фильтр товаров</span>
								<div class="bread-arrow">
									<svg id="Layer_arr" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve">
										<style type="text/css">.bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}</style>
										<path d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5" class="bre-arr"></path>
									</svg>
								</div>
							</div>
							<form action="#" metod="post" name="filter" class="selection_wrapper js-toggle-target">
								<div class="selection_item">
									<div class="selection_item-title"><span>Цена, новые рубли</span></div>
									<div class="selection_body">
										<div class="price-wrapper"><span class="price-label">от</span>
											<input type="number" placeholder="100,00 р." class="price price-min"><span class="price-label">до</span>
											<input type="number" placeholder="2000,00 р." class="price price-max">
										</div>
									</div>
								</div>
								<div class="selection_item">
									<div class="selection_item-title"><span>Производитель</span></div>
									<div class="selection_body">
										<ul class="select-u-body">
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="checkbox" checked="checked" value="Samsung" class="input-real"><span class="input-checked"></span></span><span class="input-text">Samsung</span></label>
											</li>
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="checkbox" value="Мороз" class="input-real"><span class="input-checked"> </span></span><span class="input-text">Мороз</span></label>
											</li>
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="checkbox" value="Xiaomi" class="input-real"><span class="input-checked"></span></span><span class="input-text">Xiaomi</span></label>
											</li>
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="checkbox" value="Samsung" class="input-real"><span class="input-checked"></span></span><span class="input-text">Samsung</span></label>
											</li>
										</ul>
									</div>
									<div class="selection_item-hover">
										<div class="sel-how-wrapper">
											<div class="selection_item-hover-container"><span>500 моделей</span></div>
										</div>
									</div>
								</div>
								<div class="selection_item">
									<div class="selection_item-title"><span>Возраст</span></div>
									<div class="selection_body">
										<ul class="select-u-body">
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="checkbox" value="Детский" class="input-real"><span class="input-checked"></span></span><span class="input-text">Детский</span></label>
											</li>
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="checkbox" value="Средний" class="input-real"><span class="input-checked"> </span></span><span class="input-text">Средний</span></label>
											</li>
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="checkbox" value="Взрослый" class="input-real"><span class="input-checked"></span></span><span class="input-text">Взрослый</span></label>
											</li>
										</ul>
									</div>
								</div>
								<div class="selection_item">
									<div class="selection_item-title"><span>Возраст</span></div>
									<div class="selection_body">
										<ul class="select-u-body">
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="checkbox" value="2014" class="input-real"><span class="input-checked"></span></span><span class="input-text">2014</span></label>
											</li>
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="checkbox" value="2015" class="input-real"><span class="input-checked"> </span></span><span class="input-text">2015</span></label>
											</li>
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="checkbox" value="2016" class="input-real"><span class="input-checked"></span></span><span class="input-text">2016</span></label>
											</li>
										</ul>
									</div>
								</div>
								<div class="selection_item">
									<div class="selection_item-title"><span>Класс</span></div>
									<div class="selection_body">
										<ul class="select-u-body">
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="checkbox" checked="checked" value="Горный" class="input-real"><span class="input-checked"></span></span><span class="input-text">Горный</span></label>
											</li>
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="checkbox" value="Городской" class="input-real"><span class="input-checked"> </span></span><span class="input-text">Городской</span></label>
											</li>
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="checkbox" checked="checked" value="Гибридный" class="input-real"><span class="input-checked"></span></span><span class="input-text">Гибридный</span></label>
											</li>
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="checkbox" value="Шоссейный" class="input-real"><span class="input-checked"></span></span><span class="input-text">Шоссейный</span></label>
											</li>
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="checkbox" value="Комфортный" class="input-real"><span class="input-checked"></span></span><span class="input-text">Комфортный</span></label>
											</li>
										</ul>
									</div>
								</div>
								<div class="selection_item">
									<div class="selection_item-title"><span>Задний тормоз</span></div>
									<div class="selection_body">
										<ul class="select-u-body select-radio">
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="radio" name="type" value="Горный" class="input-real"><span class="input-checked"></span></span><span class="input-text">Горный</span></label>
											</li>
											<li class="select-u-item">
												<label class="input_label"><span class="input_main">
														<input type="radio" name="type" value="Городской" class="input-real"><span class="input-checked"> </span></span><span class="input-text">Городской</span></label>
											</li>
										</ul>
									</div>
								</div>
								<!-- если нужны доп параметры-->
								<div class="selection_find-block">
									<button class="selection_find-btn">Подобрать</button><a href="#" class="selection_find-clear">Очистить Фильтр</a>
								</div>
							</form>
						</aside>
						<div class="section__content">
							<div class="sort_wrapper">
								<div class="sort-select">
									<div class="sort-select-title js-select-item"><span>Сначала популярные</span><i class="bread-arrow">
											<svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="8px" y="4px" viewbox="0 0 8 4" style="enable-background:new 0 0 8 4;" xml:space="preserve">
												<path d="M8,0H0l4,4L8,0z"></path>
											</svg></i></div>
									<div class="sort_body-wrap">
										<div class="sort-select-body">
											<div class="sort-select-item"><a href="#" data-text="От А до Я">От А до Я</a></div>
											<div class="sort-select-item"><a href="#" data-text="От Я до А">От Я до А</a></div>
											<div class="sort-select-item"><a href="#" data-text="Популярные">Популярные</a></div>
											<div class="sort-select-item active"><a href="#" data-text="Дешевые">Дешевые</a></div>
											<div class="sort-select-item"><a href="#" data-text="Дорогие">Дорогие</a></div>
											<div class="sort-select-item"><a href="#" data-text="Новинки">Новинки</a></div>
											<div class="sort-select-item"><a href="#" data-text="Хиты продаж">Хиты продаж</a></div>
										</div>
									</div>
								</div>
								<div class="sort-select">
									<div class="sort-select-title js-select-item"><span>Выводить по 20 товаров</span><i class="bread-arrow">
											<svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="8px" y="4px" viewbox="0 0 8 4" style="enable-background:new 0 0 8 4;" xml:space="preserve">
												<path d="M8,0H0l4,4L8,0z"></path>
											</svg></i></div>
									<div class="sort_body-wrap">
										<div class="sort-select-body">
											<div class="sort-select-item"><a href="#" data-text="Выводить по 20 товаров">20 товаров</a></div>
											<div class="sort-select-item"><a href="#" data-text="Выводить по 50 товаров">50 товаров</a></div>
											<div class="sort-select-item"><a href="#" data-text="Выводить по 100 товаров">100 товаров</a></div>
										</div>
									</div>
								</div>
								<div class="sort_view_wrap">
									<div class="sort-view-item sort-row active"><a href="#">
											<svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 14 14" style="enable-background:new 0 0 14 14;" xml:space="preserve">
												<style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;}</style>
												<g>
													<g>
														<path d="M4.5,0h-3C0.7,0,0,0.7,0,1.5v3C0,5.3,0.7,6,1.5,6h3C5.3,6,6,5.3,6,4.5v-3C6,0.7,5.3,0,4.5,0z M4.5,8h-3                              C0.7,8,0,8.7,0,9.5v3C0,13.3,0.7,14,1.5,14h3C5.3,14,6,13.3,6,12.5v-3C6,8.7,5.3,8,4.5,8z M12.5,0h-3C8.7,0,8,0.7,8,1.5v3                              C8,5.3,8.7,6,9.5,6h3C13.3,6,14,5.3,14,4.5v-3C14,0.7,13.3,0,12.5,0z M12.5,8h-3C8.7,8,8,8.7,8,9.5v3C8,13.3,8.7,14,9.5,14h3                              c0.8,0,1.5-0.7,1.5-1.5v-3C14,8.7,13.3,8,12.5,8z" class="st0"></path>
													</g>
												</g>
											</svg></a></div>
									<div class="sort-view-item sort-block"><a href="#">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="15px" y="15px" viewbox="0 0 15 14" style="enable-background:new 0 0 15 14;" xml:space="preserve">
												<style type="text/css">.stview{fill-rule:evenodd;clip-rule:evenodd;}</style>
												<g>
													<g>
														<path d="M5,2h9c0.6,0,1-0.4,1-1c0-0.6-0.4-1-1-1H5C4.4,0,4,0.4,4,1C4,1.6,4.4,2,5,2z M14,8H5C4.4,8,4,8.4,4,9                              c0,0.6,0.4,1,1,1h9c0.6,0,1-0.4,1-1C15,8.4,14.6,8,14,8z M14,12H5c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h9c0.6,0,1-0.4,1-1                              C15,12.4,14.6,12,14,12z M1,0C0.4,0,0,0.4,0,1c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1C2,0.4,1.6,0,1,0z M14,4H5C4.4,4,4,4.4,4,5                              c0,0.6,0.4,1,1,1h9c0.6,0,1-0.4,1-1C15,4.4,14.6,4,14,4z M1,4C0.4,4,0,4.4,0,5c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1C2,4.4,1.6,4,1,4z                              M1,8C0.4,8,0,8.4,0,9c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1C2,8.4,1.6,8,1,8z M1,12c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1                              C2,12.4,1.6,12,1,12z" class="stview"></path>
													</g>
												</g>
											</svg></a></div>
								</div>
							</div>
							<div class="products_wrap">
								<div class="item-grid-wrap">
									<div class="hits_block_wrap">
										<div class="hits_block">
											<div class="hits_status">
												<div class="status_item item-new">
													<div class="status__item-bg"><span>New</span></div>
												</div>
												<div class="status_item item-sale">
													<div class="status__item-bg"><span>-10%</span></div>
												</div>
											</div><img src="img/promo/bike_hit.jpg" alt="#">
											<div class="hits_about">
												<p class="hits_name"><a href="#">STELS Navigator 500 V 26 (2016)</a></p>
												<p class="hits_descr">Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...</p>
											</div>
											<div class="hits_coast">
												<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
												<p class="hits_coast">13 435,60 р. <span> 13 435 600 р</span></p>
											</div>
											<div class="hits_tools">
												<div class="hits-wrap">
													<div class="hits_comparison add active"><a href="#"> </a></div>
													<div class="hits_comparison added"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap">
													<div class="hits_defer add"><a href="#"> </a></div>
													<div class="hits_defer added active"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap review">    
													<div class="hits_review"><a href="#">Отзывы <span>(18)</span></a></div>
												</div>
											</div>
											<div class="hits_stat">
												<p class="stat_yes active">В наличии</p>
												<p class="stat_yes zakaz">Под заказ</p><a href="#">Подробнее</a>
											</div>
										</div>
									</div>
								</div>
								<div class="item-grid-wrap">
									<div class="hits_block_wrap">
										<div class="hits_block">
											<div class="hits_status">
												<div class="status_item item-new">
													<div class="status__item-bg"><span>New</span></div>
												</div>
												<div class="status_item item-sale">
													<div class="status__item-bg"><span>-10%</span></div>
												</div>
											</div><img src="img/promo/bike_hit.jpg" alt="#">
											<div class="hits_about">
												<p class="hits_name"><a href="#">STELS Navigator 500 V 26 (2016)</a></p>
												<p class="hits_descr">Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...</p>
											</div>
											<div class="hits_coast">
												<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
												<p class="hits_coast">13 435,60 р. <span> 13 435 600 р</span></p>
											</div>
											<div class="hits_tools">
												<div class="hits-wrap">
													<div class="hits_comparison add active"><a href="#"> </a></div>
													<div class="hits_comparison added"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap">
													<div class="hits_defer add"><a href="#"> </a></div>
													<div class="hits_defer added active"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap review">    
													<div class="hits_review"><a href="#">Отзывы <span>(18)</span></a></div>
												</div>
											</div>
											<div class="hits_stat">
												<p class="stat_yes active">В наличии</p>
												<p class="stat_yes zakaz">Под заказ</p><a href="#">Подробнее</a>
											</div>
										</div>
									</div>
								</div>
								<div class="item-grid-wrap">
									<div class="hits_block_wrap">
										<div class="hits_block">
											<div class="hits_status">
												<div class="status_item item-new">
													<div class="status__item-bg"><span>New</span></div>
												</div>
												<div class="status_item item-sale">
													<div class="status__item-bg"><span>-10%</span></div>
												</div>
											</div><img src="img/promo/bike_hit.jpg" alt="#">
											<div class="hits_about">
												<p class="hits_name"><a href="#">STELS Navigator 500 V 26 (2016)</a></p>
												<p class="hits_descr">Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...</p>
											</div>
											<div class="hits_coast">
												<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
												<p class="hits_coast">13 435,60 р. <span> 13 435 600 р</span></p>
											</div>
											<div class="hits_tools">
												<div class="hits-wrap">
													<div class="hits_comparison add active"><a href="#"> </a></div>
													<div class="hits_comparison added"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap">
													<div class="hits_defer add"><a href="#"> </a></div>
													<div class="hits_defer added active"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap review">    
													<div class="hits_review"><a href="#">Отзывы <span>(18)</span></a></div>
												</div>
											</div>
											<div class="hits_stat">
												<p class="stat_yes active">В наличии</p>
												<p class="stat_yes zakaz">Под заказ</p><a href="#">Подробнее</a>
											</div>
										</div>
									</div>
								</div>
								<div class="item-grid-wrap">
									<div class="hits_block_wrap">
										<div class="hits_block">
											<div class="hits_status">
												<div class="status_item item-new">
													<div class="status__item-bg"><span>New</span></div>
												</div>
												<div class="status_item item-sale">
													<div class="status__item-bg"><span>-10%</span></div>
												</div>
											</div><img src="img/promo/bike_hit.jpg" alt="#">
											<div class="hits_about">
												<p class="hits_name"><a href="#">STELS Navigator 500 V 26 (2016)</a></p>
												<p class="hits_descr">Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...</p>
											</div>
											<div class="hits_coast">
												<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
												<p class="hits_coast">13 435,60 р. <span> 13 435 600 р</span></p>
											</div>
											<div class="hits_tools">
												<div class="hits-wrap">
													<div class="hits_comparison add active"><a href="#"> </a></div>
													<div class="hits_comparison added"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap">
													<div class="hits_defer add"><a href="#"> </a></div>
													<div class="hits_defer added active"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap review">    
													<div class="hits_review"><a href="#">Отзывы <span>(18)</span></a></div>
												</div>
											</div>
											<div class="hits_stat">
												<p class="stat_yes active">В наличии</p>
												<p class="stat_yes zakaz">Под заказ</p><a href="#">Подробнее</a>
											</div>
										</div>
									</div>
								</div>
								<div class="item-grid-wrap">
									<div class="hits_block_wrap">
										<div class="hits_block">
											<div class="hits_status">
												<div class="status_item item-new">
													<div class="status__item-bg"><span>New</span></div>
												</div>
												<div class="status_item item-sale">
													<div class="status__item-bg"><span>-10%</span></div>
												</div>
											</div><img src="img/promo/bike_hit.jpg" alt="#">
											<div class="hits_about">
												<p class="hits_name"><a href="#">STELS Navigator 500 V 26 (2016)</a></p>
												<p class="hits_descr">Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...</p>
											</div>
											<div class="hits_coast">
												<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
												<p class="hits_coast">13 435,60 р. <span> 13 435 600 р</span></p>
											</div>
											<div class="hits_tools">
												<div class="hits-wrap">
													<div class="hits_comparison add active"><a href="#"> </a></div>
													<div class="hits_comparison added"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap">
													<div class="hits_defer add"><a href="#"> </a></div>
													<div class="hits_defer added active"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap review">    
													<div class="hits_review"><a href="#">Отзывы <span>(18)</span></a></div>
												</div>
											</div>
											<div class="hits_stat">
												<p class="stat_yes active">В наличии</p>
												<p class="stat_yes zakaz">Под заказ</p><a href="#">Подробнее</a>
											</div>
										</div>
									</div>
								</div>
								<div class="item-grid-wrap">
									<div class="hits_block_wrap">
										<div class="hits_block">
											<div class="hits_status">
												<div class="status_item item-new">
													<div class="status__item-bg"><span>New</span></div>
												</div>
												<div class="status_item item-sale">
													<div class="status__item-bg"><span>-10%</span></div>
												</div>
											</div><img src="img/promo/bike_hit.jpg" alt="#">
											<div class="hits_about">
												<p class="hits_name"><a href="#">STELS Navigator 500 V 26 (2016)</a></p>
												<p class="hits_descr">Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...</p>
											</div>
											<div class="hits_coast">
												<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
												<p class="hits_coast">13 435,60 р. <span> 13 435 600 р</span></p>
											</div>
											<div class="hits_tools">
												<div class="hits-wrap">
													<div class="hits_comparison add active"><a href="#"> </a></div>
													<div class="hits_comparison added"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap">
													<div class="hits_defer add"><a href="#"> </a></div>
													<div class="hits_defer added active"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap review">    
													<div class="hits_review"><a href="#">Отзывы <span>(18)</span></a></div>
												</div>
											</div>
											<div class="hits_stat">
												<p class="stat_yes active">В наличии</p>
												<p class="stat_yes zakaz">Под заказ</p><a href="#">Подробнее</a>
											</div>
										</div>
									</div>
								</div>
								<div class="item-grid-wrap">
									<div class="hits_block_wrap">
										<div class="hits_block">
											<div class="hits_status">
												<div class="status_item item-new">
													<div class="status__item-bg"><span>New</span></div>
												</div>
												<div class="status_item item-sale">
													<div class="status__item-bg"><span>-10%</span></div>
												</div>
											</div><img src="img/promo/bike_hit.jpg" alt="#">
											<div class="hits_about">
												<p class="hits_name"><a href="#">STELS Navigator 500 V 26 (2016)</a></p>
												<p class="hits_descr">Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...</p>
											</div>
											<div class="hits_coast">
												<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
												<p class="hits_coast">13 435,60 р. <span> 13 435 600 р</span></p>
											</div>
											<div class="hits_tools">
												<div class="hits-wrap">
													<div class="hits_comparison add active"><a href="#"> </a></div>
													<div class="hits_comparison added"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap">
													<div class="hits_defer add"><a href="#"> </a></div>
													<div class="hits_defer added active"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap review">    
													<div class="hits_review"><a href="#">Отзывы <span>(18)</span></a></div>
												</div>
											</div>
											<div class="hits_stat">
												<p class="stat_yes active">В наличии</p>
												<p class="stat_yes zakaz">Под заказ</p><a href="#">Подробнее</a>
											</div>
										</div>
									</div>
								</div>
								<div class="item-grid-wrap">
									<div class="hits_block_wrap">
										<div class="hits_block">
											<div class="hits_status">
												<div class="status_item item-new">
													<div class="status__item-bg"><span>New</span></div>
												</div>
												<div class="status_item item-sale">
													<div class="status__item-bg"><span>-10%</span></div>
												</div>
											</div><img src="img/promo/bike_hit.jpg" alt="#">
											<div class="hits_about">
												<p class="hits_name"><a href="#">STELS Navigator 500 V 26 (2016)</a></p>
												<p class="hits_descr">Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...</p>
											</div>
											<div class="hits_coast">
												<p class="hits_coast_new">10 435,60 р. <span> 10 435 600 р</span></p>
												<p class="hits_coast">13 435,60 р. <span> 13 435 600 р</span></p>
											</div>
											<div class="hits_tools">
												<div class="hits-wrap">
													<div class="hits_comparison add active"><a href="#"> </a></div>
													<div class="hits_comparison added"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap">
													<div class="hits_defer add"><a href="#"> </a></div>
													<div class="hits_defer added active"><a href="#"> </a></div>
												</div>
												<div class="hits-wrap review">    
													<div class="hits_review"><a href="#">Отзывы <span>(18)</span></a></div>
												</div>
											</div>
											<div class="hits_stat">
												<p class="stat_yes active">В наличии</p>
												<p class="stat_yes zakaz">Под заказ</p><a href="#">Подробнее</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="pagination_wrap">
								<div class="pagination_container"><a href="#" class="pagin_arr arr-left innactive">
										<svg id="Layer_pgn" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve">
											<style type="text/css">.pgn{fill-rule:evenodd;clip-rule:evenodd;fill:#121313;}</style>
											<path d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5" class="pgn"></path>
										</svg></a>
									<div class="pagin_item-wrap">
										<div class="pagin_item"><a href="#" class="pagin-link">1</a></div>
										<div class="pagin_item"><a href="#" class="pagin-link">2</a></div>
										<div class="pagin_item"><a href="#" class="pagin-link">3</a></div>
										<div class="pagin_item"><a href="#" class="pagin-link">4</a></div>
										<div class="pagin_item"><a href="#" class="pagin-link">5</a></div>
										<div class="pagin_item"><a href="#" class="pagin-link">6</a></div>
									</div><a href="#" class="pagin_arr arr-right">
										<svg id="Layer_pgn" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve">
											<style type="text/css">.pgn{fill-rule:evenodd;clip-rule:evenodd;fill:#121313;}</style>
											<path d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5" class="pgn"></path>
										</svg></a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="mask-js"></div>
			<!-- footer-->
			<footer>
				<div class="footer">
					<div class="footer__content-wrapper">
						<div class="footer_contacts">
							<h3>Получайте полезную информацию о&nbsp;скидках</h3>
							<!-- footer-form-->
							<div class="footer-form">
								<form action="" method="post">
									<input type="email" name="name" placeholder="Ваш e-mail" class="blacktext">
									<input type="submit" value="Подписаться" class="blacktext">
								</form>
							</div>
							<!-- footer_soc-->
							<div class="footer_soc">
								<h3>Мы в соцсетях</h3>
								<ul>
									<li><a href="#"><img src="img/main/facebook.svg" alt="facebook"></a></li>
									<li><a href="#"><img src="img/main/youtube.svg" alt="youtube"></a></li>
									<li><a href="#"><img src="img/main/vk.svg" alt="vk"></a></li>
								</ul>
							</div>
						</div>
						<div class="footer__menu-wrapper">
							<div class="footer_help">
								<h3 class="js-content-trigger">Помощь
									<div class="icon">
										<svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve">
											<style type="text/css">.ftr-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}</style>
											<path d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5" class="ftr-arr"></path>
										</svg>
									</div>
								</h3>
								<ul>
									<li><a href="#">Об интернет-магазине</a></li>
									<li><a href="#">Как заказать</a></li>
									<li><a href="#">Доставка и оплата</a></li>
									<li><a href="#">Возврат</a></li>
									<li><a href="#">Оферта</a></li>
									<li><a href="#">Частые вопросы</a></li>
								</ul>
							</div>
							<!-- information-->
							<div class="footer_info">
								<h3 class="js-content-trigger">Информация
									<div class="icon">
										<svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve">
											<style type="text/css">.ftr-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}</style>
											<path d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5" class="ftr-arr"></path>
										</svg>
									</div>
								</h3>
								<ul>
									<li><a href="#">ТЦ «Полесье»</a></li>
									<li><a href="#">Новости и акции</a></li>
									<li><a href="#">Вакансии</a></li>
									<li><a href="#">Поставщикам</a></li>
									<li><a href="#">Бренды</a></li>
									<li><a href="#">Контакты</a></li>
								</ul>
							</div>
							<!-- catalog-->
							<div class="footer_catalog">
								<h3 class="js-content-trigger">Каталог
									<div class="icon">
										<svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve">
											<style type="text/css">.ftr-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}</style>
											<path d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5" class="ftr-arr"></path>
										</svg>
									</div>
								</h3>
								<ul>
									<li><a href="#">Товары для детей</a></li>
									<li><a href="#">Мода и красота</a></li>
									<li><a href="#">Спорт и туризм</a></li>
									<li><a href="#">Электроника и техника</a></li>
									<li><a href="#">Для дома и сада</a></li>
									<li><a href="#">Ремонт и стройка</a></li>
									<li><a href="#">Распродажа</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- block VK-->
					<div class="footer_VK"><img src="img/promo/vk.jpg" alt="vk"></div>
				</div>
				<div class="footer_line">
					<!-- carts-->
					<div class="footer_carts">
						<ul>
							<li><img src="img/promo/cart1.jpg" alt="webpay"></li>
							<li><img src="img/promo/cart2.jpg" alt="dss"></li>
							<li><img src="img/promo/cart3.jpg" alt="MasterCard"></li>
							<li><img src="img/promo/cart4.jpg" alt="Maestro"></li>
							<li><img src="img/promo/cart5.jpg" alt="VISA"></li>
						</ul>
					</div>
					<!-- copy-->
					<div class="footer_copy">© 2016, СООО «ПП Полесье»</div>
					<!-- developer-->
					<div class="footer_developer">
						<p>Разработка сайта: <a href="#">Flex Media</a></p>
					</div>
				</div>
			</footer>
		</div>
		<!-- !!!! ATTENTION !!!!!! hidden blocks !!!! ATTENTION !!!!!!-->
		<div id="regions_hidden" class="hidden_bg">
			<div class="hidden-block regions_wrap">
				<div class="hidden-block-close button_close"></div>
				<h2>Область доставки</h2>
				<div class="regions_map"><img src="img/map2x.png" alt="map-region"></div>
				<div class="regions">
					<h3>Выберите область, куда необходимо доставить заказ</h3>
					<form action="/" method="/" class="region_form">
						<label>
							<input name="region" type="radio" value="brest" checked="">Брестская область
						</label>
						<label>
							<input name="region" type="radio" value="Vitebsk">Витебская область
						</label>
						<label>
							<input name="region" type="radio" value="Gomel">Гомельская область
						</label>
						<label>
							<input name="region" type="radio" value="Grodno">Гродненская область
						</label>
						<label>
							<input name="region" type="radio" value="Minsk">Минск, Минская область
						</label>
						<label>
							<input name="region" type="radio" value="Mogilev">Могилевская область
						</label>
						<input type="submit" value="Выбрать">
					</form>
				</div>
			</div>
		</div>
		<!-- SUCCSES-->
		<div id="success_hidden" class="hidden_bg">
			<div class="hidden-block success_hidden">
				<div class="hidden-block-close button_close"></div>
				<h2>Спасибо</h2>
				<p>
					Вы успешно подписались на рассылку информации о скидках и распродажах торгового центра «Полесье».
					Настроить подписку вы можете в <a href="#">Личном кабинете.</a>
				</p>
				<p class="button_close"><a href="#">Закрыть</a></p>
			</div>
		</div>
		<!--if lt IE 9
		script(src='libs/html5shiv/es5-shim.min.js')
		script(src='libs/html5shiv/html5shiv.min.js')
		script(src='libs/html5shiv/html5shiv-printshiv.min.js')
		script(src='libs/respond/respond.min.js')
		-->
	</body>
</html>