doctype html
//if lt IE 7 
  html.ie.ie6(lang='en')  
//if IE 7 
  html.ie.ie7(lang='en')  
//if IE 8 
  html.ie.ie8(lang='en')  
// [if (gte IE 9)|!(IE)] <!
html(lang='ru')
  // <![endif]
  head
    include ./includes/_head.jade
  body
    #wrap
      // header
      include ./includes/_headmenu.jade

      .content_main-wrapper
        section
          ul.breadcrums
              a.home-btn(href="#")
                  i.home-img
                      svg#Layer_home(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='9px', y='5px', viewbox='0 0 14.1 13', style='enable-background:new 0 0 14.1 13;', xml:space='preserve')
                        style(type='text/css').
                          .sthome{fill-rule:evenodd;clip-rule:evenodd;fill:#989898;}
                        path.sthome(d='M7.1,0l4.8,4.1L14,5.8c0,0,0.2,0.4,0,0.7c-0.3,0.4-0.8,0.2-0.8,0.2l-0.5-0.2v5.8c0,0.3-0.3,0.6-0.6,0.6h-3V8h-4\
                        v5h-3c-0.3,0-0.6-0.3-0.6-0.6V6.6L0.9,6.8c0,0-0.6,0-0.8-0.2c-0.2-0.3,0-0.9,0-0.9l2-1.6L7.1,0z')
              li.bread-item
                  a(href="#") Спорт и туризм
                  .bread-arrow
                      svg#Layer_arr(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                        style(type='text/css').
                          .bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                        path.bre-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
                  .bread__add-menu-wrap
                    .bread__add-container
                      ul.add-list
                        li.add-list-item
                          a(href="#") Товары для детей
                        li.add-list-item
                          a(href="#") Мода и красота
                        li.add-list-item
                          a(href="#") Электроника и техника
                        li.add-list-item
                          a(href="#") Всякие гадости
                  
              li.bread-item
                a(href="#") Спорт и туризм
                i.bread-arrow
                    svg#Layer_arr(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                      style(type='text/css').
                        .bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                      path.bre-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
                .bread__add-menu-wrap
                  .bread__add-container
                    ul.add-list
                      li.add-list-item
                        a(href="#") Товары для детей
                      li.add-list-item
                        a(href="#") Мода и красота
                      li.add-list-item
                        a(href="#") Электроника и техника
                      li.add-list-item
                        a(href="#") Ldt jlbyflwfnbrkfccybws rrr
              li.bread-item
                  a(href="#") Спорт и туризм
        section
          h1.section-title Новости и акции
          .section__wrapper
              .aside__menu
                aside.presonal-aside
                  .moblie_btn.selection_item
                      span Показать меню
                      .bread-arrow
                        svg#Layer_arr(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                          style(type='text/css').
                            .bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                          path.bre-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
                  .selection_wrapper.js-toggle-target
                    .company-list.company-tel
                      span Помощь
                    ul
                      li.aside-menu-item
                        a(href="#") Об интернет-магазине
                      li.aside-menu-item.active  
                        a(href="#") Как заказать
                      li.aside-menu-item 
                        a(href="#") Доставка и оплата
                      li.aside-menu-item 
                        a(href="#") Возврат
                      li.aside-menu-item 
                        a(href="#") Подписка
                      li.aside-menu-item 
                        a(href="#") Оферта
                      li.aside-menu-item 
                        a(href="#") Частые вопросы
                    .company-list.company-tel
                      span Информация
                    ul
                      li.aside-menu-item
                        a(href="#") ТЦ «Полесье»
                      li.aside-menu-item.active  
                        a(href="#") Новости и акции
                      li.aside-menu-item 
                        a(href="#") Вакансии
                      li.aside-menu-item 
                        a(href="#") Поставщикам
                      li.aside-menu-item 
                        a(href="#") Подписка
                      li.aside-menu-item 
                        a(href="#") Бренды
                      li.aside-menu-item 
                        a(href="#") Контакты
              .section__content
                  time.news_date 06 июля, 2016 года
                  section.content-section
                    h2 Новая коллекция итальянских весенних плащей для детей
                    p.gray Плащ — верхняя одежда из непромокаемого материала. Плащ считается очень древней одеждой. Представляет собой непромокаемую одежду в форме лёгкого пальто, предназначенную для ветреной или дождливой погоды. Плащи бывают с рукавами или без рукавов, причём последние надеваются внакидку.
                    figure
                      img(src="img/promo/help.jpg", alt="help")
                      figcaption Стильные и плащи для маленьких модников
                    p Компания Полесье хорошо известна на рынке России, Беларуси, стран СНГ и Европы как производитель высококачественных пластмассовых игрушек из экологически чистых материалов с использованием передовых технологий. Яркие цвета, неповторимый дизайн, гибкая система скидок и индивидуальный подход позволяют нам 
                    h3 Фасоны плащей варьируются от дождевика до дизайнерских моделей. Однако есть некие общие инструкции, как выбрать плащ: 
                    ul.col
                      li Подумайте, как вы собираетесь использовать плащ. Если вы собираетесь носить плащ в повседневной жизни, то выбирайте более высококлассные модели. Если вы турист или путешественник, то выбирайте специальные плащи.
                      li Рассмотрите условия климата, в которых вы собираетесь носить плащ. 
                      li Подумайте о том, какая длина плаща вам необходима. В то время как мужчины носят длинные плащи, женщины предпочитают более короткие модели
                      li Решите, нужен ли вам капюшон. 
                      li Выберите материал. Плащи могут быть выполнены из различных материалов. Однако при выборе плаща отдавайте предпочтение лёгким, дышащим тканям. Это даст вам дополнительный комфорт. 
                      li Подумайте о цвете. Как правило, мужские плащи выполняют в приглушённых чёрных и коричневых тонах. Женские же плащи могут быть более ярких расцветок. 
                      li В качестве дополнения к плащу выберите резиновые сапоги и зонтик, чтобы завершить образ.
                    figure
                      img(src="img/promo/help.jpg", alt="help")
                      figcaption Стильные и плащи для маленьких модников
                    .step-wrapper
                      .step-fact
                        span Интересный факт
                        p В древних цивилизациях (в Египте, Персии и Греции) плащи изготавливали из тонкого льна. Носили их поверх набедренной повязки или туники. В основном, они имели функциональное, а не декора- тивное назначение. Их изготавливали из шерсти с меховой окантовкой. 
                      .step-text
                        p Давайте окунёмся в историю. Всем известно, что первые люди носили шкуры животных, которые защищали их от холода. На основе этого и появились первые плащи, которые выполняли двойную функцию. Они служили и одеждой, и одеялом. Плащи широко использовались римскими солдатами, шотландцами и населением Ближнего Востока. 
                        p Для жителей ближнего Востока плащи были просто незаменимой вещью, поскольку позволяли не замёрзнуть в пустыне холодными ночами. Первые плащи были выполнены из меха. На теле они удерживались с помощью кожаного ремешка, или соединялись на плече. Позже плащ стал выполнять только функцию верхней одежды.  
                        p В шестнадцатом и семнадцатом веках в Европе эта верхняя одежда стала настоящим пунктом моды. Стали изготавливать плащи из красивых тканей, которые обладали изяществом линий.   
                    p Впервые появилась подкладка. В первобытные времена плащи могли быть круглыми, полукруглыми, прямоугольными или квадратными. Это был просто кусок материи. Средневековые плащи имели значительно большие размеры. Они, как правило, крепились брошью или шнурком на плече или шее. С шестнадцатого века плащи стали более разнообразны по размерам и формам.   
                    blockquote Клиент вправе отказаться от заказанного товара ненадлежащего качества в любое время до его получения, а после получения  — в течение 7 дней, не считая дня покупки. 
                    .news-nav-wrap
                      a(href="#").product-learn-more
                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='18px',height='18px', viewbox='0 0 18 18', style='enable-background:new 0 0 18 18;', xml:space='preserve')
                          style(type='text/css').
                            .stmore{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}
                          g
                            g
                              path.stmore(d='M9,0C4,0,0,4,0,9c0,5,4,9,9,9c5,0,9-4,9-9C18,4,14,0,9,0z M9,17c-4.4,0-8-3.6-8-8c0-4.4,3.6-8,8-8\
                              c4.4,0,8,3.6,8,8C17,13.4,13.4,17,9,17z M10.4,5L6,9l4.4,4l0.6-0.6L7.3,9L11,5.6L10.4,5z')
                        |Вернуться назад
                      a(href="#").product-learn-more
                        |Следующая новость
                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='18px',height='18px', viewbox='0 0 18 18', style='enable-background:new 0 0 18 18;', xml:space='preserve')
                          style(type='text/css').
                            .stmore{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}
                          g
                            g
                              path.stmore(d='M9,0C4,0,0,4,0,9c0,5,4,9,9,9c5,0,9-4,9-9C18,4,14,0,9,0z M9,17c-4.4,0-8-3.6-8-8c0-4.4,3.6-8,8-8\
                              c4.4,0,8,3.6,8,8C17,13.4,13.4,17,9,17z M7,5.6L10.7,9L7,12.4L7.6,13L12,9L7.6,5L7,5.6z')


      
      .mask-js
      // footer
      include ./includes/_footer.jade
    include ./includes/_index-modals.jade
