doctype html
//if lt IE 7 
  html.ie.ie6(lang='en')  
//if IE 7 
  html.ie.ie7(lang='en')  
//if IE 8 
  html.ie.ie8(lang='en')  
// [if (gte IE 9)|!(IE)] <!
html(lang='ru')
  // <![endif]
  head
    include ./includes/_head.jade
  body
    #wrap
      // header
      include ./includes/_headmenu.jade

      .content_main-wrapper
        section
          ul.breadcrums
              a.home-btn(href="#")
                  i.home-img
                      svg#Layer_home(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='9px', y='5px', viewbox='0 0 14.1 13', style='enable-background:new 0 0 14.1 13;', xml:space='preserve')
                        style(type='text/css').
                          .sthome{fill-rule:evenodd;clip-rule:evenodd;fill:#989898;}
                        path.sthome(d='M7.1,0l4.8,4.1L14,5.8c0,0,0.2,0.4,0,0.7c-0.3,0.4-0.8,0.2-0.8,0.2l-0.5-0.2v5.8c0,0.3-0.3,0.6-0.6,0.6h-3V8h-4\
                        v5h-3c-0.3,0-0.6-0.3-0.6-0.6V6.6L0.9,6.8c0,0-0.6,0-0.8-0.2c-0.2-0.3,0-0.9,0-0.9l2-1.6L7.1,0z')
              li.bread-item
                  a(href="#") Спорт и туризм
                  .bread-arrow
                      svg#Layer_arr(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                        style(type='text/css').
                          .bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                        path.bre-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
                  .bread__add-menu-wrap
                    .bread__add-container
                      ul.add-list
                        li.add-list-item
                          a(href="#") Товары для детей
                        li.add-list-item
                          a(href="#") Мода и красота
                        li.add-list-item
                          a(href="#") Электроника и техника
                        li.add-list-item
                          a(href="#") Всякие гадости
                  
              li.bread-item
                a(href="#") Спорт и туризм
                i.bread-arrow
                    svg#Layer_arr(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                      style(type='text/css').
                        .bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                      path.bre-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
                .bread__add-menu-wrap
                  .bread__add-container
                    ul.add-list
                      li.add-list-item
                        a(href="#") Товары для детей
                      li.add-list-item
                        a(href="#") Мода и красота
                      li.add-list-item
                        a(href="#") Электроника и техника
                      li.add-list-item
                        a(href="#") Ldt jlbyflwfnbrkfccybws rrr
              li.bread-item
                  a(href="#") Спорт и туризм
        section
          h1.section-title Новости и акции
          .section__wrapper
              .aside__menu
                aside.presonal-aside
                  .moblie_btn.selection_item
                      span Показать меню
                      .bread-arrow
                        svg#Layer_arr(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                          style(type='text/css').
                            .bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                          path.bre-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
                  .selection_wrapper.js-toggle-target
                    .company-list.company-tel
                      span Помощь
                    ul
                      li.aside-menu-item
                        a(href="#") Об интернет-магазине
                      li.aside-menu-item.active  
                        a(href="#") Как заказать
                      li.aside-menu-item 
                        a(href="#") Доставка и оплата
                      li.aside-menu-item 
                        a(href="#") Возврат
                      li.aside-menu-item 
                        a(href="#") Подписка
                      li.aside-menu-item 
                        a(href="#") Оферта
                      li.aside-menu-item 
                        a(href="#") Частые вопросы
                    .company-list.company-tel
                      span Информация
                    ul
                      li.aside-menu-item
                        a(href="#") ТЦ «Полесье»
                      li.aside-menu-item.active  
                        a(href="#") Новости и акции
                      li.aside-menu-item 
                        a(href="#") Вакансии
                      li.aside-menu-item 
                        a(href="#") Поставщикам
                      li.aside-menu-item 
                        a(href="#") Подписка
                      li.aside-menu-item 
                        a(href="#") Бренды
                      li.aside-menu-item 
                        a(href="#") Контакты
              .section__content
                  section.content-section
                    h2.section-title Наши партнёры и бренды
                    .brands-main-wrap
                      .brand_block_wrap
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                      .brand_block_wrap
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Coloma
                      .brand_block_wrap
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Coloma
                      .brand_block_wrap
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand4.jpg', alt='#')
                            p Coloma
                      .brand_block_wrap
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand5.jpg', alt='#')
                            p Coloma
                      .brand_block_wrap
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                      .brand_block_wrap
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    h2.section-title Все бренды
                    .product_tabs-wrapper
                      #brand.wrap_brand
                        .tabs
                          span.tab 0-4
                          span.tab A-Z
                          span.tab А-Я
                        #tab_item.tab_content
                          .tab_item
                            .brand-naw-wrap
                              .nav-item
                                a(href="#").nav-item-link Все
                              .nav-item
                                a(href="#").nav-item-link 0
                              .nav-item.active
                                  a(href="#").nav-item-link 1
                              .nav-item
                                a(href="#").nav-item-link 2
                              .nav-item
                                a(href="#").nav-item-link 3
                              .nav-item
                                a(href="#").nav-item-link 4
                              .nav-item
                                a(href="#").nav-item-link 5
                              .nav-item
                                a(href="#").nav-item-link 6
                              .nav-item
                                a(href="#").nav-item-link 7
                              .nav-item
                                a(href="#").nav-item-link 8
                              .nav-item
                                a(href="#").nav-item-link 9
                            ul.brand-main-list
                              li.main-list-item
                                span.main-letter A
                                ul.inner-list
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name Одинадцатиклассница
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                              li.main-list-item
                                span.main-letter B
                                ul.inner-list
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                          .tab_item 
                            .brand-naw-wrap
                              .nav-item
                                a(href="#").nav-item-link Все
                              .nav-item.active
                                  a(href="#").nav-item-link A
                              .nav-item
                                a(href="#").nav-item-link B
                              .nav-item
                                a(href="#").nav-item-link C
                              .nav-item
                                a(href="#").nav-item-link D
                              .nav-item
                                a(href="#").nav-item-link E
                              .nav-item
                                a(href="#").nav-item-link F
                              .nav-item
                                a(href="#").nav-item-link G
                              .nav-item
                                a(href="#").nav-item-link H
                              .nav-item
                                a(href="#").nav-item-link I
                              .nav-item
                                a(href="#").nav-item-link J
                              .nav-item
                                a(href="#").nav-item-link K
                              .nav-item
                                a(href="#").nav-item-link M
                              .nav-item
                                a(href="#").nav-item-link N
                              .nav-item
                                a(href="#").nav-item-link O
                              .nav-item
                                a(href="#").nav-item-link P
                              .nav-item
                                a(href="#").nav-item-link Q
                              .nav-item
                                a(href="#").nav-item-link R
                              .nav-item
                                a(href="#").nav-item-link S
                              .nav-item
                                a(href="#").nav-item-link T
                              .nav-item
                                a(href="#").nav-item-link U
                              .nav-item
                                a(href="#").nav-item-link V
                              .nav-item
                                a(href="#").nav-item-link W
                              .nav-item
                                a(href="#").nav-item-link X
                              .nav-item
                                a(href="#").nav-item-link Y
                              .nav-item
                                a(href="#").nav-item-link Z
                            ul.brand-main-list
                              li.main-list-item
                                span.main-letter A
                                ul.inner-list
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name Одинадцатиклассница
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                              li.main-list-item
                                span.main-letter B
                                ul.inner-list
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                          .tab_item
                            .brand-naw-wrap
                              .nav-item
                                a(href="#").nav-item-link Все
                              .nav-item
                                a(href="#").nav-item-link А
                              .nav-item
                                a(href="#").nav-item-link Б
                              .nav-item
                                a(href="#").nav-item-link В
                              .nav-item
                                a(href="#").nav-item-link Г
                              .nav-item
                                a(href="#").nav-item-link Д
                              .nav-item
                                a(href="#").nav-item-link Е
                              .nav-item
                                a(href="#").nav-item-link Ё
                              .nav-item
                                a(href="#").nav-item-link Ж
                              .nav-item
                                a(href="#").nav-item-link З
                              .nav-item
                                a(href="#").nav-item-link И
                              .nav-item
                                a(href="#").nav-item-link Й
                              .nav-item
                                a(href="#").nav-item-link К
                              .nav-item
                                a(href="#").nav-item-link Л
                              .nav-item
                                a(href="#").nav-item-link М
                              .nav-item
                                a(href="#").nav-item-link Н
                              .nav-item
                                a(href="#").nav-item-link О
                              .nav-item
                                a(href="#").nav-item-link П
                              .nav-item
                                a(href="#").nav-item-link Р
                              .nav-item
                                a(href="#").nav-item-link С
                              .nav-item
                                a(href="#").nav-item-link Т
                              .nav-item
                                a(href="#").nav-item-link У
                              .nav-item
                                a(href="#").nav-item-link Ф
                              .nav-item
                                a(href="#").nav-item-link Х
                              .nav-item
                                a(href="#").nav-item-link Ш
                              .nav-item
                                a(href="#").nav-item-link Щ
                              .nav-item
                                a(href="#").nav-item-link Ы
                              .nav-item
                                a(href="#").nav-item-link Э
                              .nav-item
                                a(href="#").nav-item-link Ю
                              .nav-item
                                a(href="#").nav-item-link Я
                            ul.brand-main-list
                              li.main-list-item
                                span.main-letter A
                                ul.inner-list
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name Одинадцатиклассница
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                              li.main-list-item
                                span.main-letter B
                                ul.inner-list
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name Aosta
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name A4 tech
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic
                                  li.inner-list-item
                                    a(href="#").brand-name Atlantic

                       

      
      .mask-js
      // footer
      include ./includes/_footer.jade
    include ./includes/_index-modals.jade
