doctype html
//if lt IE 7 
  html.ie.ie6(lang='en')  
//if IE 7 
  html.ie.ie7(lang='en')  
//if IE 8 
  html.ie.ie8(lang='en')  
// [if (gte IE 9)|!(IE)] <!
html(lang='ru')
  // <![endif]
  head
    include ./includes/_head.jade
  body
    #wrap
      // header
      include ./includes/_headmenu.jade

      .content_main-wrapper
        section
          ul.breadcrums
              a.home-btn(href="#")
                  i.home-img
                      svg#Layer_home(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='9px', y='5px', viewbox='0 0 14.1 13', style='enable-background:new 0 0 14.1 13;', xml:space='preserve')
                        style(type='text/css').
                          .sthome{fill-rule:evenodd;clip-rule:evenodd;fill:#989898;}
                        path.sthome(d='M7.1,0l4.8,4.1L14,5.8c0,0,0.2,0.4,0,0.7c-0.3,0.4-0.8,0.2-0.8,0.2l-0.5-0.2v5.8c0,0.3-0.3,0.6-0.6,0.6h-3V8h-4\
                        v5h-3c-0.3,0-0.6-0.3-0.6-0.6V6.6L0.9,6.8c0,0-0.6,0-0.8-0.2c-0.2-0.3,0-0.9,0-0.9l2-1.6L7.1,0z')
              li.bread-item
                  a(href="#") Спорт и туризм
                  .bread-arrow
                      svg#Layer_arr(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                        style(type='text/css').
                          .bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                        path.bre-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
                  .bread__add-menu-wrap
                    .bread__add-container
                      ul.add-list
                        li.add-list-item
                          a(href="#") Товары для детей
                        li.add-list-item
                          a(href="#") Мода и красота
                        li.add-list-item
                          a(href="#") Электроника и техника
                        li.add-list-item
                          a(href="#") Всякие гадости
                  
              li.bread-item
                a(href="#") Спорт и туризм
                i.bread-arrow
                    svg#Layer_arr(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                      style(type='text/css').
                        .bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                      path.bre-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
                .bread__add-menu-wrap
                  .bread__add-container
                    ul.add-list
                      li.add-list-item
                        a(href="#") Товары для детей
                      li.add-list-item
                        a(href="#") Мода и красота
                      li.add-list-item
                        a(href="#") Электроника и техника
                      li.add-list-item
                        a(href="#") Ldt jlbyflwfnbrkfccybws rrr
              li.bread-item
                  a(href="#") Спорт и туризм
        section
          h1.section-title Stels Navigator 500 V (2016)
          .section__wrapper
            .product-content-wrapper
              .product-galery-wrap
                .product-solo-cont
                  .hits_status
                    .status_item.item-new
                      .status__item-bg
                        span New
                  img(src="img/promo/product.jpg", alt="velasaped")
                .product-much-cont.active
                   .hits_status
                      .status_item.item-new
                        .status__item-bg
                          span New
                  .product-much-slider.js-modal-trigger(data-target='.product_hidden')
                    .product-slider-item
                      //- a.fancybox-thumb(rel='fancybox-thumb', href='img/promo/product.jpg')
                      img(src="img/promo/product.jpg", alt="velasaped")
                    .product-slider-item
                      //- a.fancybox-thumb(rel='fancybox-thumb', href='img/promo/product.jpg')
                      img(src="img/promo/product.jpg", alt="velasaped")
                    .product-slider-item
                      //- a.fancybox-thumb(rel='fancybox-thumb', href='img/promo/product.jpg')
                      img(src="img/promo/product.jpg", alt="velasaped")
                    .product-slider-item
                      //- a.fancybox-thumb(rel='fancybox-thumb', href='img/promo/product.jpg')
                      img(src="img/promo/product.jpg", alt="velasaped")
                    .product-slider-item
                      //- a.fancybox-thumb(rel='fancybox-thumb', href='img/promo/product.jpg')
                      img(src="img/promo/product.jpg", alt="velasaped")
                    .product-slider-item
                      //- a.fancybox-thumb(rel='fancybox-thumb', href='img/promo/product.jpg')
                      img(src="img/promo/product.jpg", alt="velasaped")
                    .product-slider-item
                      //- a.fancybox-thumb(rel='fancybox-thumb', href='img/promo/product.jpg')
                      img(src="img/promo/product.jpg", alt="velasaped")
                  .product-add-slider
                    .product-add-item
                      img(src="img/promo/product.jpg", alt="velasaped")
                    .product-add-item
                      img(src="img/promo/product.jpg", alt="velasaped")
                    .product-add-item
                      img(src="img/promo/product.jpg", alt="velasaped")
                    .product-add-item
                      img(src="img/promo/product.jpg", alt="velasaped")
                    .product-add-item
                      img(src="img/promo/product.jpg", alt="velasaped")
                    .product-add-item
                      img(src="img/promo/product.jpg", alt="velasaped")
                    .product-add-item
                      img(src="img/promo/product.jpg", alt="velasaped")
                  .features__nav
              .product-info-wrap
                .loader-wrap
                  .loader-wrap-inner
                    #floatingBarsG
                      #rotateG_01.blockG
                      #rotateG_02.blockG
                      #rotateG_03.blockG
                      #rotateG_04.blockG
                      #rotateG_05.blockG
                      #rotateG_06.blockG
                      #rotateG_07.blockG
                      #rotateG_08.blockG
                    .loader-error-wrap
                      .loader-error
                        | Произошла ошибка, попробуйте перезагрузить страницу
                .product-status-wrap
                  .hits_stat
                    p.stat_yes.active В наличии
                    p.stat_yes.zakaz Под заказ
                  .hits_tools
                    .hits-wrap
                      .hits_comparison.add.active
                        a(href='#') 
                      .hits_comparison.added
                        a(href='#') 
                    .hits-wrap
                      .hits_defer.add
                        a(href='#') 
                      .hits_defer.added.active
                        a(href='#') 
                    .hits-wrap
                      .hits_social
                        a.hits-soc-wrap(href="#")
                          svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 14 18',width='14px',height='18px' style='enable-background:new 0 0 14 18;', xml:space='preserve')
                            style(type='text/css').
                              .stsoc{fill-rule:evenodd;clip-rule:evenodd;fill:#9D9C9C;}
                            g
                              g
                                path.stsoc(d='M11.5,13c-0.7,0-1.2,0.3-1.7,0.7l-4.9-3.5C5,10,5,9.7,5,9.5C5,8.9,4.8,8.4,4.5,8l5.2-3.8\
                                C10.2,4.7,10.8,5,11.5,5C12.9,5,14,3.9,14,2.5C14,1.1,12.9,0,11.5,0C10.1,0,9,1.1,9,2.5c0,0.4,0.1,0.7,0.2,1L3.8,7.4\
                                C3.5,7.1,3,7,2.5,7C1.1,7,0,8.1,0,9.5C0,10.9,1.1,12,2.5,12c0.8,0,1.5-0.4,2-1l4.8,3.3C9.1,14.7,9,15.1,9,15.5\
                                c0,1.4,1.1,2.5,2.5,2.5c1.4,0,2.5-1.1,2.5-2.5C14,14.1,12.9,13,11.5,13z M11.5,1C12.3,1,13,1.7,13,2.5C13,3.3,12.3,4,11.5,4\
                                C10.7,4,10,3.3,10,2.5C10,1.7,10.7,1,11.5,1z M2.5,11C1.7,11,1,10.3,1,9.5C1,8.7,1.7,8,2.5,8C3.3,8,4,8.7,4,9.5\
                                C4,10.3,3.3,11,2.5,11z M11.5,17c-0.8,0-1.5-0.7-1.5-1.5c0-0.8,0.7-1.5,1.5-1.5c0.8,0,1.5,0.7,1.5,1.5C13,16.3,12.3,17,11.5,17z')
                          .soc_wrap
                            .soc_cont


                    .hits-wrap.review     
                      .hits_review
                        a(href='#tab_item',data-tab='#otziv').js-scroll
                          | Отзывы 
                          span (18)
                .product-main-wrap
                  .product-descr.descr-r
                    .hits_coast
                      p.hits_coast_new
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast
                        | 13 435,60 р. 
                        span  13 435 600 р
                    .product-describe-buy
                      form.inner-form(action="").product-select-cont
                        .select-check
                          button.selects.js-select-toggle(data-placeholder = 'Выберите цвет')

                            span 
                            span.btn-text Выберите цвет
                            i.select-img
                              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 7 11', height='12px',width = '8px',style='enable-background:new 0 0 7 11;', xml:space='preserve')
                                g
                                  g
                                    path(d='M3.5,0L0,4h7L3.5,0z M3.5,11L7,7H0L3.5,11z')
                          .select-list
                            .select-list-inner
                              a.selection_find-clear.js-clear(href='#') Сбросить
                              label.option
                                input(type="radio",name='select1',value ='Голубой') 
                                span Голубой
                              label.option
                                input(type="radio",name='select1',value ='Зеленый') 
                                span Зеленый
                              label.option
                                input(type="radio",name='select1',value ='Розовенький') 
                                span Розовенький
                        .select-check
                          button.selects.js-select-toggle(data-placeholder = 'Выберите размер рамы')
                            span
                            span.btn-text Выберите размер рамы
                            i.select-img
                              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 7 11', height='12px',width = '8px',style='enable-background:new 0 0 7 11;', xml:space='preserve')
                                g
                                  g
                                    path(d='M3.5,0L0,4h7L3.5,0z M3.5,11L7,7H0L3.5,11z')
                          .select-list
                            .select-list-inner
                              a.selection_find-clear.js-clear(href='#') Сбросить
                              label.option
                                input(type="radio",name='select1',value ='21"') 
                                span 21"
                              label.option
                                input(type="radio",name='select1',value ='23"') 
                                span 23"
                              label.option
                                input(type="radio",name='select1',value ='20"') 
                                span 20"
                        .select-check
                          button.selects.js-select-toggle(data-placeholder = 'Выберите раз')
                            span
                            span.btn-text Выберите раз
                            i.select-img
                              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 7 11', height='12px',width = '8px',style='enable-background:new 0 0 7 11;', xml:space='preserve')
                                g
                                  g
                                    path(d='M3.5,0L0,4h7L3.5,0z M3.5,11L7,7H0L3.5,11z')
                          .select-list
                            .select-list-inner
                              a.selection_find-clear.js-clear(href='#') Сбросить
                              label.option
                                input(type="radio",name='select2',value ='2s1"') 
                                span 2f"
                              label.option
                                input(type="radio",name='select2',value ='2s3"') 
                                span 23d"
                              label.option
                                input(type="radio",name='select2',value ='2s0"') 
                                span 20d"
                        .product-button-wrap
                          .number.js-number(data-max-number='999')
                            button.number__minus.js-minus-number(type='button', tabindex='0')
                              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',width='12px',height='12px', viewbox='0 0 12 2', style='enable-background:new 0 0 12 2;', xml:space='preserve')
                                style(type='text/css').
                                  .stpl{fill-rule:evenodd;clip-rule:evenodd;}
                                path.stpl(d='M0,0h12v2H0V0z')
                            input.number__input.js-price-input(type='text', value='0', tabindex='0')
                            button.number__plus.js-plus-number(type='button', tabindex='0')
                              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',width='12px',height='12px', viewbox='0 0 12 12', style='enable-background:new 0 0 12 12;', xml:space='preserve')
                                style(type='text/css').
                                  .stpl{fill-rule:evenodd;clip-rule:evenodd;}
                                g
                                  g
                                    polygon.stpl(points='12,5 7,5 7,0 5,0 5,5 0,5 0,7 5,7 5,12 7,12 7,7 12,7')
                          button( type = 'submit',data-target='.offer_hidden').js-modal-trigger.hits-stat-more.product-buy-btn.disabled
                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',width='20px',height='15px', viewbox='0 0 23.3 18.1', style='enable-background:new 0 0 23.3 18.1;', xml:space='preserve')
                              style(type='text/css').
                                .stcart{fill:#3B3B3B;}
                              g
                                g
                                  path.stcart(d='M11.3,14c-0.6-0.3-0.6-1.9-0.6-1.9s9.8,0,10,0c0.3,0,0.8,0.1,1-1s1.4-8,1.4-8H8.7c-1.3-3.2-3.2-3-3.2-3H1.6\
                                  c0,0-1.9,0.2-1.2,2c0.5,0.8,2,0.7,2.3-0.2c0.1-0.4,0-0.8,0-0.8h3c0,0,1.1,0.3,1.5,1.3c1.7,4.2,2.3,9.9,2.7,11.2\
                                  C10.2,14.8,11,15,11,15h2h1.4h3.5h2.6v-1 M10.5,11.1c-0.3-1.6-1-4.8-1.5-7h12.7l-1,7H10.5z')
                              path.stcart(d='M12.5,14.3c-1,0-1.9,0.8-1.9,1.9c0,1,0.8,1.9,1.9,1.9c1,0,1.9-0.8,1.9-1.9C14.3,15.1,13.5,14.3,12.5,14.3z\
                              M12.5,17.3c-0.6,0-1.1-0.5-1.1-1.1s0.5-1.1,1.1-1.1s1.1,0.5,1.1,1.1S13.1,17.3,12.5,17.3z')
                              path.stcart(d='M19.9,14.3c-1,0-1.9,0.8-1.9,1.9c0,1,0.8,1.9,1.9,1.9c1,0,1.9-0.8,1.9-1.9S21,14.3,19.9,14.3z M19.9,17.3\
                              c-0.6,0-1.1-0.5-1.1-1.1s0.5-1.1,1.1-1.1s1.1,0.5,1.1,1.1C21.1,16.8,20.6,17.3,19.9,17.3z')
                            | В корзину
                        a(href="#").disabled.product-oneclick.btn-width Купить в 1 клик
                  .product-descr
                    .hits_raiting
                      .hits_raiting-star-wrap
                        i.star-raiting
                      .hits_raiting-article
                        span.art Актикул
                        span.art-num 46146
                      .hits_raiting-code
                        span.cod Код
                        span.art-num 146
                    h4.product-small-title Краткие характеристики
                    p.hits_descr
                      | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза. У меня сын такой носит, сносу нет. Берите не пожалеете. Ососбенно если у вас ноги короткие.
                    a(href="#tab_item",data-tab='#characteristics').product-learn-more.js-scroll
                      |Узнать больше
                      svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',width='18px',height='18px', x='0px', y='0px', viewbox='0 0 18 18', style='enable-background:new 0 0 18 18;', xml:space='preserve')
                        style(type='text/css').
                          .stmore{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}
                        g
                          g
                            path.stmore(d='M9,0C4,0,0,4,0,9c0,5,4,9,9,9c5,0,9-4,9-9C18,4,14,0,9,0z M9,17c-4.4,0-8-3.6-8-8c0-4.4,3.6-8,8-8\
                            c4.4,0,8,3.6,8,8C17,13.4,13.4,17,9,17z M9,10.7L5.6,7L5,7.6L9,12l4-4.4L12.4,7L9,10.7z')
                    .product-delivery-wrap
                      h4.product-small-title Как получить товар
                      .product-delivery
                        .product-image
                          img(src="img/features/shipping.svg", alt="")

                        .product-content
                          span.name Курьером 
                          .top-line-region
                            p
                              a.js-modal-trigger(href='#',data-target='.regions_hidden') Минск, Минская область
                          p.product-content-text Стоимость доставки 
                            spam 12,00 руб. (120 000 руб.) 
                            |. При заказе от 
                            span 500,00 руб. (5 000 000 руб.) 
                            |доставка бесплатна
                      .product-delivery
                        .product-image
                          img(src="img/features/pickup.svg", alt="")

                        .product-content
                          span.name Самовывоз
                          p.product-content-text Брестская область, г. Кобрин, ул. Советская 141

            .product_tabs-wrapper
              #brand.wrap_brand
                .brand-mobile-wrap
                  .tabs.product-brand
                    span.tab Обзор
                    span#characteristics.tab Характеристики
                    span.tab Видео
                    span.tab Материалы для скачивания
                    span#otziv.tab Отзывы
                     span.counter (18)
                  .brand-mobile-arr
                    .bread-arr
                      svg#Layer_arr(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5',width='14px', height='9px', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                        style(type='text/css').
                          .bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                        path.bre-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
                #tab_item.tab_content
                  .tabs_consult.active
                    span.char-main-name Консультация специалиста
                    p Появились вопросы? Не стесняйтесь напишите нам. Наши специалисты с радостью помогут решить все вопросы
                    a(href="#",data-target='.consult_hidden').hits-stat-more.js-modal-trigger Задать вопрос
                  .tabs_consult(data-tab='5')
                    span.char-main-name Общий рейтинг товара 
                      span.raiting 5,0
                    .hits_raiting
                      .hits_raiting-star-wrap
                        i.star-raiting
                    p Уже приобрели этот товар? Поделитесь вашими впечатлениями о нём и получите бонус 100 руб. (1 000 000 руб.) на следующую покупку
                    a(href="#feedback-form").hits-stat-more.js-scroll Оставить отзыв

                  .tab_item
                    .product-main-characteristic
                      .char-wrapper
                        .char-main-name
                          h4 Stels Navigator 500 V 26 – это  велосипед из новой линейки бюджетной компании Stels 
                        .char-options.col
                          p Велосипед оснащен амортизационной вилкой, которая значительно облегчит экстремальные прыжки по горным рельефам и, конечно, придаст комфорт перемещению при езде в городе. Механическая трансмиссия с внешним переключателем рассчитана на 21 скорость.
                          p Внешне модель выглядит очень симпатично, хотя это довольно большая редкость<br> для<br> бюджетного сегмента. Все элементы выглядят органично, а расцветка спокойная<br> и<br> не бросается в глаза. Визуально такой велосипед выглядит как серьезный<br> экземпляр.

                  .tab_item
                    .product-main-characteristic
                      .char-wrapper
                        .char-main-name
                          h4 Общие характеристики
                        .char-options
                          dl
                            dt.char-name Модель
                            dd.char-descr 2016 года 
                          dl
                            dt.char-name Возраст
                            dd.char-descr для взрослых 
                          dl
                            dt.char-name Тип
                            dd.char-descr горный (MTB), кросс-кантри
                          dl
                            dt.char-name Тип привода
                            dd.char-descr цепной 
                          dl
                            dt.char-name Вес велосипеда
                            dd.char-descr 15.9 кг  
                      .char-wrapper
                        .char-main-name
                          h4 Общие характеристики
                        .char-options
                          dl
                            dt.char-name Модель
                            dd.char-descr 2016 года 
                          dl
                            dt.char-name Возраст
                            dd.char-descr для взрослых 
                          dl
                            dt.char-name Тип
                            dd.char-descr горный (MTB), кросс-кантри
                          dl
                            dt.char-name Тип привода
                            dd.char-descr цепной 
                          dl
                            dt.char-name Вес велосипеда
                            dd.char-descr 15.9 кг  
                      .char-wrapper
                        .char-main-name
                          h4 Общие характеристики
                        .char-options
                          dl
                            dt.char-name Модель
                            dd.char-descr 2016 года
                          dl 
                            dt.char-name Возраст
                            dd.char-descr для взрослых 
                          dl
                            dt.char-name Тип
                            dd.char-descr горный (MTB), кросс-кантри
                          dl
                            dt.char-name Тип привода
                            dd.char-descr цепной 
                          dl
                            dt.char-name Вес велосипеда
                            dd.char-descr 15.9 кг  
                      .char-wrapper
                        .char-main-name
                          h4 Не общие характеристики
                        .char-options
                          dl
                            dt.char-name Модель
                            dd.char-descr 2016 года
                          dl 
                            dt.char-name Возраст
                            dd.char-descr 
                              span.descr-i.yes
                          dl
                            dt.char-name Тип
                            dd.char-descr
                              span.descr-i.no
                          dl
                            dt.char-name Тип привода
                            dd.char-descr цепной 
                          dl
                            dt.char-name Вес велосипеда
                            dd.char-descr 15.9 кг  
                      .char-wrapper
                        .char-main-name
                          h4 Общие характеристики
                        .char-options
                          dl
                            dt.char-name Модель
                            dd.char-descr 2016 года 
                          dl
                            dt.char-name Возраст
                            dd.char-descr для взрослых 
                          dl
                            dt.char-name Тип
                            dd.char-descr горный (MTB), кросс-кантри
                          dl
                            dt.char-name Тип привода
                            dd.char-descr цепной 
                          dl
                            dt.char-name Вес велосипеда
                            dd.char-descr 15.9 кг  
                  .tab_item.video-back
                    //video-back нужен только тут
                    .product-main-characteristic
                      .video-main-cont
                        .video
                          iframe#ytplayer(type='text/html', src='https://www.youtube.com/embed/jZ46cL4_QeQ', frameborder='0', allowfullscreen='')
                      .video-playlist-wrap
                        .video-playlist-cont
                          .video-playlist-inner
                            a(href="https://www.youtube.com/embed/jZ46cL4_QeQ",data-id="jZ46cL4_QeQ").video-item.active
                              .video-item-img
                                img(src="https://img.youtube.com/vi/jZ46cL4_QeQ/mqdefault.jpg", alt="velasaped")
                              .video-item-decribe
                                time.item-date
                                  |06 июля, 2016 года
                                .item-title
                                  |Обзор Stels Navigator 500
                                .item-counter
                                  |15 150 просмотров
                            a(href="https://www.youtube.com/embed/Mg-RPTiVa_Q",data-id="Mg-RPTiVa_Q").video-item
                              .video-item-img
                                img(src="https://img.youtube.com/vi/Mg-RPTiVa_Q/mqdefault.jpg", alt="velasaped")
                              .video-item-decribe
                                time.item-date
                                  |06 июля, 2016 года
                                .item-title
                                  |Обзор Stels Navigator 500
                                .item-counter
                                  |15 150 просмотров
                            a(href="https://www.youtube.com/embed/WtodhmCyFdM",data-id="WtodhmCyFdM").video-item
                              .video-item-img
                                img(src="https://img.youtube.com/vi/WtodhmCyFdM/mqdefault.jpg", alt="velasaped")
                              .video-item-decribe
                                time.item-date
                                  |06 июля, 2016 года
                                .item-title
                                  |Обзор Stels Navigator 500
                                .item-counter
                                  |15 150 просмотров
                            a(href="https://www.youtube.com/embed/gWNHql50zxk",data-id="gWNHql50zxk").video-item
                              .video-item-img
                                img(src="https://img.youtube.com/vi/gWNHql50zxk/mqdefault.jpg", alt="velasaped")
                              .video-item-decribe
                                time.item-date
                                  |06 июля, 2016 года
                                .item-title
                                  |Обзор Stels Navigator 500
                                .item-counter
                                  |15 150 просмотров
                  .tab_item
                    .product-main-characteristic
                      .char-wrapper
                        .char-main-name
                          //confirm
                          h4 Полезные материалы 
                            br 
                            | для скачивания
                        .char-options
                          a(href="#", style='background-image:url(img/doc/zip.svg)').tab-material Брошюра Stels Navigator

                          a(href="#", style='background-image:url(img/doc/doc.svg)' ).tab-material Инструкция по сборке

                          a(href="#", style='background-image:url(img/doc/pdf.svg)').tab-material Руководство по эксплуатации


                  .tab_item
                    .product-main-characteristic
                      .feedback-container
                        .feedback-who
                          span.who-name Сергей
                          span.who-date 20 мая, 2016 года
                        .hits_raiting
                          .hits_raiting-star-wrap
                            i.star-raiting
                        .feedback-content
                          .feedback-opinion Преимущества
                          .feedback-text Соотношение цена-качество. Легкий.
                          .feedback-opinion Недостатки
                          .feedback-text Механизм переключения скоростей не самый надежный.
                          .feedback-opinion Общее впечатление
                          .feedback-text Взял ребенку, но катаюсь пока сам. Очень нравится учитывая цену за новый 9800 руб. За 3 месяца недостатков особых не выявил. Единственное это не совсем четкое переключение скоростей, но это бюджетная модель...
                          .feedback-img-wrap
                            a.fancybox(href='img/promo/product.jpg', rel='gallery1').feedback-img
                              img(src="img/promo/product.jpg", alt="beeeel")
                            a.fancybox(href='img/promo/product.jpg', rel='gallery1').feedback-img
                              img(src="img/promo/product.jpg", alt="beeeel")
                      .feedback-container
                        .feedback-who
                          span.who-name Сергей
                          span.who-date 20 мая, 2016 года
                        .hits_raiting
                          .hits_raiting-star-wrap
                            i.star-raiting
                        .feedback-content
                          .feedback-opinion Преимущества
                          .feedback-text Соотношение цена-качество. Легкий.
                          .feedback-opinion Недостатки
                          .feedback-text Механизм переключения скоростей не самый надежный.
                          .feedback-opinion Общее впечатление
                          .feedback-text Взял ребенку, но катаюсь пока сам. Очень нравится учитывая цену за новый 9800 руб. За 3 месяца недостатков особых не выявил. Единственное это не совсем четкое переключение скоростей, но это бюджетная модель...
                          .feedback-img-wrap
                            a.fancybox(href='img/promo/product.jpg', rel='gallery1').feedback-img
                              img(src="img/promo/product.jpg", alt="beeeel")
                            a.fancybox(href='img/promo/product.jpg', rel='gallery1').feedback-img
                              img(src="img/promo/product.jpg", alt="beeeel")
                      .feedback-container
                        .feedback-who
                          span.who-name Сергега 'серый' aka PROSOsRayOna 
                          span.who-date 20 мая, 2016 года
                        .hits_raiting
                          .hits_raiting-star-wrap
                            i.star-raiting
                        .feedback-content
                          .feedback-opinion Преимущества
                          .feedback-text Соотношение цена-качество. Легкий. Четко.
                          .feedback-opinion Недостатки
                          .feedback-text Механизм переключения скоростей не самый надежный. аываывавыавыавыавыавыавыа выа выавыавыа ыва ыва выа выыва ывавыавыавы Не оч.
                          .feedback-opinion Общее впечатление
                          .feedback-text Взял ребенку, но катаюсь пока сам. Очень нравится учитывая цену за новый 9800 руб. За 3 месяца недостатков особых не выявил. Единственное это не совсем четкое переключение скоростей, но это бюджетная модель...
                          .feedback-img-wrap
                            a.fancybox(href='img/promo/product.jpg', rel='gallery1').feedback-img
                              img(src="img/promo/product.jpg", alt="beeeel")
                            a.fancybox(href='img/promo/product.jpg', rel='gallery1').feedback-img
                              img(src="img/promo/product.jpg", alt="beeeel")
                      .feedback-container
                        .feedback-who
                          span.who-name Сергей
                          span.who-date 20 мая, 2016 года
                        .hits_raiting
                          .hits_raiting-star-wrap
                            i.star-raiting
                        .feedback-content
                          .feedback-opinion Преимущества
                          .feedback-text Соотношение цена-качество. Легкий.
                          .feedback-opinion Недостатки
                          .feedback-text Механизм переключения скоростей не самый надежный.
                          .feedback-opinion Общее впечатление
                          .feedback-text Взял ребенку, но катаюсь пока сам. Очень нравится учитывая цену за новый 9800 руб. За 3 месяца недостатков особых не выявил. Единственное это не совсем четкое переключение скоростей, но это бюджетная модель...
                          .feedback-img-wrap
                            a.fancybox(href='img/promo/product.jpg', rel='gallery1').feedback-img
                              img(src="img/promo/product.jpg", alt="beeeel")
                            a.fancybox(href='img/promo/product.jpg', rel='gallery1').feedback-img
                              img(src="img/promo/product.jpg", alt="beeeel")
                    .themed_more
                      a(href='#') Показать ещё
                    .feedback-form-wrapper
                      .feedback-form-message-cont
                        //active для вывода сообщения
                        .msg.msg-err
                          .message-title 
                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',width='30px', height='30px', x='0px', y='0px', viewbox='0 0 43 43', style='enable-background:new 0 0 43 43;', xml:space='preserve')
                              style(type='text/css').
                                .stfeed{fill-rule:evenodd;clip-rule:evenodd;fill:#E00000;}
                              g
                                g
                                  path.stfeed(d='M21.5,0C9.6,0,0,9.6,0,21.5C0,33.4,9.6,43,21.5,43C33.4,43,43,33.4,43,21.5C43,9.6,33.4,0,21.5,0z M21.5,41\
                                  C10.7,41,2,32.3,2,21.5C2,10.7,10.7,2,21.5,2C32.3,2,41,10.7,41,21.5C41,32.3,32.3,41,21.5,41z M20.6,28.1c-1.3,0-2.3,1-2.3,2.3\
                                  c0,1,0.8,1.9,1.9,1.9c1.2,0,2.3-1,2.3-2.2C22.5,29,21.7,28.1,20.6,28.1z M20,25.9h2.7L26.4,12h-3.8L20,25.9z')
                            |Отзыв не удалось опбликовать
                          .message-text К сожалению ваш отзыв не удалось опубликовать. Это произошло по причине перегруженности сайта или плохого интернет-соединения.
                        .msg.msg-succ.active
                          .message-title
                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',width='30px', height='30px', x='0px', y='0px', viewbox='0 0 44 44', style='enable-background:new 0 0 44 44;', xml:space='preserve')
                              style(type='text/css').
                                .stf{fill-rule:evenodd;clip-rule:evenodd;fill:#49B210;}
                              g
                                g
                                  path.stf(d='M22,0C9.8,0,0,9.8,0,22c0,12.2,9.8,22,22,22c12.2,0,22-9.8,22-22C44,9.8,34.2,0,22,0z M22,42C11,42,2,33,2,22\
                                  C2,11,11,2,22,2s20,9,20,20C42,33,33,42,22,42z M30.7,12.8L18.1,29.1l-4.2-6.9c-0.4-0.5-1-0.6-1.5-0.2c-0.5,0.4-0.6,1-0.2,1.5\
                                  l4.9,8c0.2,0.3,0.6,0.4,0.9,0.4c0.3,0,0.7-0.1,0.9-0.4l13.5-17.4c0.4-0.5,0.3-1.1-0.2-1.5C31.7,12.3,31,12.4,30.7,12.8z')
                            | Спасибо за ваше участие
                          .message-text благодарим вас за оставленный отзыв, вы восхитительны.
                      #feedback-form.feedback-form
                        .char-main-name
                          h4 Отзыв
                          span.fed-talk Расскажите о товаре
                        form(action="/").form-feed.js-form-feed
                          .form-col
                            .input-wrapper
                              label.input-label
                                span.text  Отзыв
                              textarea.input-main.input-big(name="",  rows="10", placeholder = 'Поделитесь впечатлением о товаре',data-validation="length required", data-validation-length="min10",data-validation-error-msg="Текст не должен быть короче 10ти символов")
                            .input-wrapper
                              label.input-label
                                span.text  Оцените товар по 5-ти бальной шкале
                                .rev-stars
                                  a#rev-star-1.innactive.rev-star(href='', data-num='1')
                                  a#rev-star-2.innactive.rev-star(href='', data-num='2')
                                  a#rev-star-3.innactive.rev-star(href='', data-num='3')
                                  a#rev-star-4.innactive.rev-star(href='', data-num='4')
                                  a#rev-star-5.innactive.rev-star(href='', data-num='5')
                                  input.rev-hidden(type="text")
                          .form-col.form-col-special
                            .input-wrapper
                              label.input-label 
                                span.text Преимущества
                              textarea.input-main.input-small(name="",  rows="3", placeholder = 'Опишите достоинства товара',
                              data-validation="length required",data-validation-length="min10",data-validation-error-msg="Текст не должен быть короче 10ти символов")
                            .input-wrapper
                              label.input-label 
                                span.text Недостатки
                              textarea.input-main.input-small(name="", rows="3", placeholder = 'Опишите, что вам в нем не понравилось',data-validation="length required",data-validation-length="min10",data-validation-error-msg="Текст не должен быть короче 10ти символов")
                            .input-wrapper
                              .dropzone.js-img-input


                          span.fed-talk Оставвьте ваши данные
                          .form-row
                            .form-col
                              .input-wrapper
                                label.input-label 
                                  span.text Ваше имя
                                input.input-main.input-from(type='text',name="", placeholder = 'Иванов Степан Иванович',data-validation="length required", data-validation-length="min2",data-validation-error-msg="Имя не должно быть короче 2 букв и не содержать цифры")
                            .form-col
                              .input-wrapper
                                label.input-label 
                                  span.text E-mail
                                input.input-main.input-from(type='email',name="", placeholder = 'info@mail.com',data-validation="email",data-validation-error-msg="E-mail должен содержать @")
                                span.add-info E-mail не публикуется на сайте
                          input.hits-stat-more(type="submit", placeholder = 'Отправить')
              //в корзине будешь вешщать класс актив сам
              script.
                  $("#brand").find('.tab_item').not(":first").hide().find('.tab').first().addClass('active');
                  $("#brand .tab").click(function() {
                    if(!$(this).hasClass('innactive')){
                      $("#brand .tab").removeClass("active").addClass('innactive').eq($(this).index()).addClass("active");
                      setTimeout(function(){
                        $("#brand .tab").removeClass('innactive');
                      },300);

                      $("#brand").find('.tab_item').hide().eq($("#brand .active").index()).fadeIn().find('.slick-slider').slick('setPosition');
                      
                      if($(this).is(':last-child')){
                        $("#brand").find('.tabs_consult').last().addClass('active').siblings().removeClass('active');
                      }else{
                          $("#brand").find('.tabs_consult').first().addClass('active').siblings().removeClass('active');
                        }
                    }
                  });
            section.discount.hits.btop
              h2 Похожие товары
              .discount-slider.discount-hoverable
                .slick-slider-discount-hits
                  // slider - block
                  .slider_block.hits-bg
                    // discount_block hit
                    .hits_block_wrap
                      .hits_block
                        .hits_status
                          .status_item.item-new
                            .status__item-bg
                              span New
                          .status_item.item-sale
                            .status__item-bg
                              span -10%
                        img(src='img/promo/bike_hit.jpg', alt='#')
                        .hits_about
                          p.hits_name
                            a(href='#') STELS Navigator 500 V 26 (2016)
                          p.hits_descr
                            | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                        .hits_coast
                          p.hits_coast_new
                            | 10 435,60 р. 
                            span  10 435 600 р
                          p.hits_coast
                            | 13 435,60 р. 
                            span  13 435 600 р
                        .hits_tools
                          .hits-wrap
                            .hits_comparison.add.active
                              a(href='#') 
                            .hits_comparison.added
                              a(href='#') 
                          .hits-wrap
                            .hits_defer.add
                              a(href='#') 
                            .hits_defer.added.active
                              a(href='#') 
                          .hits-wrap.review     
                            .hits_review
                              a(href='#')
                                | Отзывы 
                                span (18)
                        .hits_stat
                          p.stat_yes.active В наличии
                          p.stat_yes.zakaz Под заказ
                          a(href='#') Подробнее
                  .slider_block.hits-bg
                    .hits_block_wrap
                      .hits_block
                        .hits_status
                          .status_item.item-new
                            .status__item-bg
                              span New
                          .status_item.item-sale
                            .status__item-bg
                              span -10%
                        img(src='img/promo/bike_hit.jpg', alt='#')
                        .hits_about
                          p.hits_name
                            a(href='#') STELS Navigator 500 V 26 (2016)
                          p.hits_descr
                            | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                        .hits_coast
                          p.hits_coast_new
                            | 10 435,60 р. 
                            span  10 435 600 р
                          p.hits_coast
                            | 13 435,60 р. 
                            span  13 435 600 р
                        .hits_tools
                          .hits-wrap
                            .hits_comparison.add.active
                              a(href='#') 
                            .hits_comparison.added
                              a(href='#') 
                          .hits-wrap
                            .hits_defer.add
                              a(href='#') 
                            .hits_defer.added.active
                              a(href='#') 
                          .hits-wrap.review     
                            .hits_review
                              a(href='#')
                                | Отзывы 
                                span (18)
                        .hits_stat
                          p.stat_yes.active В наличии
                          p.stat_yes.zakaz Под заказ
                          a(href='#') Подробнее
                  .slider_block.hits-bg
                    .hits_block_wrap
                      .hits_block
                        .hits_status
                          .status_item.item-new
                            .status__item-bg
                              span New
                          .status_item.item-sale
                            .status__item-bg
                              span -10%
                        img(src='img/promo/bike_hit.jpg', alt='#')
                        .hits_about
                          p.hits_name
                            a(href='#') STELS Navigator 500 V 26 (2016)
                          p.hits_descr
                            | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                        .hits_coast
                          p.hits_coast_new
                            | 10 435,60 р. 
                            span  10 435 600 р
                          p.hits_coast
                            | 13 435,60 р. 
                            span  13 435 600 р
                        .hits_tools
                          .hits-wrap
                            .hits_comparison.add.active
                              a(href='#') 
                            .hits_comparison.added
                              a(href='#') 
                          .hits-wrap
                            .hits_defer.add
                              a(href='#') 
                            .hits_defer.added.active
                              a(href='#') 
                          .hits-wrap.review     
                            .hits_review
                              a(href='#')
                                | Отзывы 
                                span (18)
                        .hits_stat
                          p.stat_yes.active В наличии
                          p.stat_yes.zakaz Под заказ
                          a(href='#') Подробнее
                  .slider_block.hits-bg
                    .hits_block_wrap
                      .hits_block
                        .hits_status
                          .status_item.item-new
                            .status__item-bg
                              span New
                          .status_item.item-sale
                            .status__item-bg
                              span -10%
                        img(src='img/promo/bike_hit.jpg', alt='#')
                        .hits_about
                          p.hits_name
                            a(href='#') STELS Navigator 500 V 26 (2016)
                          p.hits_descr
                            | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                        .hits_coast
                          p.hits_coast_new
                            | 10 435,60 р. 
                            span  10 435 600 р
                          p.hits_coast
                            | 13 435,60 р. 
                            span  13 435 600 р
                        .hits_tools
                          .hits-wrap
                            .hits_comparison.add.active
                              a(href='#') 
                            .hits_comparison.added
                              a(href='#') 
                          .hits-wrap
                            .hits_defer.add
                              a(href='#') 
                            .hits_defer.added.active
                              a(href='#') 
                          .hits-wrap.review     
                            .hits_review
                              a(href='#')
                                | Отзывы 
                                span (18)
                        .hits_stat
                          p.stat_yes.active В наличии
                          p.stat_yes.zakaz Под заказ
                          a(href='#') Подробнее
                  .slider_block.hits-bg
                    .hits_block_wrap
                      .hits_block
                        .hits_status
                          .status_item.item-new
                            .status__item-bg
                              span New
                          .status_item.item-sale
                            .status__item-bg
                              span -10%
                        img(src='img/promo/bike_hit.jpg', alt='#')
                        .hits_about
                          p.hits_name
                            a(href='#') STELS Navigator 500 V 26 (2016)
                          p.hits_descr
                            | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                        .hits_coast
                          p.hits_coast_new
                            | 10 435,60 р. 
                            span  10 435 600 р
                          p.hits_coast
                            | 13 435,60 р. 
                            span  13 435 600 р
                        .hits_tools
                          .hits-wrap
                            .hits_comparison.add.active
                              a(href='#') 
                            .hits_comparison.added
                              a(href='#') 
                          .hits-wrap
                            .hits_defer.add
                              a(href='#') 
                            .hits_defer.added.active
                              a(href='#') 
                          .hits-wrap.review     
                            .hits_review
                              a(href='#')
                                | Отзывы 
                                span (18)
                        .hits_stat
                          p.stat_yes.active В наличии
                          p.stat_yes.zakaz Под заказ
                          a(href='#') Подробнее
                  .slider_block.hits-bg
                    .hits_block_wrap
                      .hits_block
                        .hits_status
                          .status_item.item-new
                            .status__item-bg
                              span New
                          .status_item.item-sale
                            .status__item-bg
                              span -10%
                        img(src='img/promo/bike_hit.jpg', alt='#')
                        .hits_about
                          p.hits_name
                            a(href='#') STELS Navigator 500 V 26 (2016)
                          p.hits_descr
                            | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                        .hits_coast
                          p.hits_coast_new
                            | 10 435,60 р. 
                            span  10 435 600 р
                          p.hits_coast
                            | 13 435,60 р. 
                            span  13 435 600 р
                        .hits_tools
                          .hits-wrap
                            .hits_comparison.add.active
                              a(href='#') 
                            .hits_comparison.added
                              a(href='#') 
                          .hits-wrap
                            .hits_defer.add
                              a(href='#') 
                            .hits_defer.added.active
                              a(href='#') 
                          .hits-wrap.review     
                            .hits_review
                              a(href='#')
                                | Отзывы 
                                span (18)
                        .hits_stat
                          p.stat_yes.active В наличии
                          p.stat_yes.zakaz Под заказ
                          a(href='#') Подробнее
                  .slider_block.hits-bg
                    .hits_block_wrap
                      .hits_block
                        .hits_status
                          .status_item.item-new
                            .status__item-bg
                              span New
                          .status_item.item-sale
                            .status__item-bg
                              span -10%
                        img(src='img/promo/bike_hit.jpg', alt='#')
                        .hits_about
                          p.hits_name
                            a(href='#') STELS Navigator 500 V 26 (2016)
                          p.hits_descr
                            | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                        .hits_coast
                          p.hits_coast_new
                            | 10 435,60 р. 
                            span  10 435 600 р
                          p.hits_coast
                            | 13 435,60 р. 
                            span  13 435 600 р
                        .hits_tools
                          .hits-wrap
                            .hits_comparison.add.active
                              a(href='#') 
                            .hits_comparison.added
                              a(href='#') 
                          .hits-wrap
                            .hits_defer.add
                              a(href='#') 
                            .hits_defer.added.active
                              a(href='#') 
                          .hits-wrap.review     
                            .hits_review
                              a(href='#')
                                | Отзывы 
                                span (18)
                        .hits_stat
                          p.stat_yes.active В наличии
                          p.stat_yes.zakaz Под заказ
                          a(href='#') Подробнее
            section.discount.themed
              h2 Ранее просмотренные
              .discount-slider
                .slick-slider-discount-themed
                  // slider - block
                  .slider_block
                    // block themed
                    .themed_block
                      a(href="#")
                        img(src='img/promo/themed101.jpg', alt='#')
                        p.themed_name
                          | Каталка Полесье Боби [5434]
                        p.themed_cat Машинки
                        p.themed_coast 435,60 р.
                  // slider - block
                  .slider_block
                    // block themed
                    .themed_block
                      a(href="#")
                        img(src='img/promo/themed101.jpg', alt='#')
                        p.themed_name
                          | Каталка Полесье Боби [5434]
                        p.themed_cat Машинки
                        p.themed_coast 435,60 р.
                  // slider - block
                  .slider_block
                    // block themed
                    .themed_block
                      a(href="#")
                        img(src='img/promo/themed101.jpg', alt='#')
                        p.themed_name
                          | Каталка Полесье Боби [5434]
                        p.themed_cat Машинки
                        p.themed_coast 435,60 р.
                  // slider - block
                  .slider_block
                    // block themed
                    .themed_block
                      a(href="#")
                        img(src='img/promo/themed101.jpg', alt='#')
                        p.themed_name
                          | Каталка Полесье Боби [5434]
                        p.themed_cat Машинки
                        p.themed_coast 435,60 р.
                  // slider - block
                  .slider_block
                    // block themed
                    .themed_block
                      a(href="#")
                        img(src='img/promo/themed101.jpg', alt='#')
                        p.themed_name
                          | Каталка Полесье Боби [5434]
                        p.themed_cat Машинки
                        p.themed_coast 435,60 р.
                  // slider - block
                  .slider_block
                    // block themed
                    .themed_block
                      a(href="#")
                        img(src='img/promo/themed101.jpg', alt='#')
                        p.themed_name
                          | Каталка Полесье Боби [5434]
                        p.themed_cat Машинки
                        p.themed_coast 435,60 р.
                  // slider - block
                  .slider_block
                    // block themed
                    .themed_block
                      a(href="#")
                        img(src='img/promo/themed101.jpg', alt='#')
                        p.themed_name
                          | Каталка Полесье Боби [5434]
                        p.themed_cat Машинки
                        p.themed_coast 435,60 р.
                  // slider - block
                  .slider_block
                    // block themed
                    .themed_block
                      a(href="#")
                        img(src='img/promo/themed101.jpg', alt='#')
                        p.themed_name
                          | Каталка Полесье Боби [5434]
                        p.themed_cat Машинки
                        p.themed_coast 435,60 р.
         
      .mask-js
      // footer
      include ./includes/_footer.jade
    include ./includes/_index-modals.jade
