doctype html
//if lt IE 7 
  html.ie.ie6(lang='en')  
//if IE 7 
  html.ie.ie7(lang='en')  
//if IE 8 
  html.ie.ie8(lang='en')  
// [if (gte IE 9)|!(IE)] <!
html(lang='ru')
  // <![endif]
  head
    include ./includes/_head.jade
  body
    #wrap
      // header
      include ./includes/_headmenu.jade

      .content_main-wrapper
        section
          ul.breadcrums
              a.home-btn(href="#")
                  i.home-img
                      svg#Layer_home(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='9px', y='5px', viewbox='0 0 14.1 13', style='enable-background:new 0 0 14.1 13;', xml:space='preserve')
                        style(type='text/css').
                          .sthome{fill-rule:evenodd;clip-rule:evenodd;fill:#989898;}
                        path.sthome(d='M7.1,0l4.8,4.1L14,5.8c0,0,0.2,0.4,0,0.7c-0.3,0.4-0.8,0.2-0.8,0.2l-0.5-0.2v5.8c0,0.3-0.3,0.6-0.6,0.6h-3V8h-4\
                        v5h-3c-0.3,0-0.6-0.3-0.6-0.6V6.6L0.9,6.8c0,0-0.6,0-0.8-0.2c-0.2-0.3,0-0.9,0-0.9l2-1.6L7.1,0z')
              li.bread-item
                  a(href="#") Спорт и туризм
                  .bread-arrow
                      svg#Layer_arr(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                        style(type='text/css').
                          .bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                        path.bre-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
                  .bread__add-menu-wrap
                    .bread__add-container
                      ul.add-list
                        li.add-list-item
                          a(href="#") Товары для детей
                        li.add-list-item
                          a(href="#") Мода и красота
                        li.add-list-item
                          a(href="#") Электроника и техника
                        li.add-list-item
                          a(href="#") Всякие гадости
                  
              li.bread-item
                a(href="#") Спорт и туризм
                i.bread-arrow
                    svg#Layer_arr(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                      style(type='text/css').
                        .bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                      path.bre-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
                .bread__add-menu-wrap
                  .bread__add-container
                    ul.add-list
                      li.add-list-item
                        a(href="#") Товары для детей
                      li.add-list-item
                        a(href="#") Мода и красота
                      li.add-list-item
                        a(href="#") Электроника и техника
                      li.add-list-item
                        a(href="#") Ldt jlbyflwfnbrkfccybws rrr
              li.bread-item
                  a(href="#") Спорт и туризм
        section
          h1.section-title Сравнение
          .section__wrapper
            .compare_tabs
              .compare_tab-item
                a(href="#") Велосипеды
              .compare_tab-item.active
                a(href="#") Компьютеры
              .compare_tab-item
                a(href="#") Каталки
              a.selection_find-clear(href='#') Очистить сравнение
            .compare-main-wrap
              .compare_fakehead
              .compare-wrapper.main__scroller
                table.compare_inner
                  tbody.compare-body
                    tr.compare-row
                      th.compare-item.compare-bg
                      th.compare-item.item-clone
                      th.compare-item
                        .compare-item-main
                          .compare-item-close
                          a(href="#").hits_block
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            p.hits_name
                              a(href='#') STELS Navigator 500 V 26 (2016)
                          .hits_coast
                            p.hits_coast_new
                              | 10 435,60 р. 
                              span  10 435 600 р
                            p
                              | 13 435,60 р. 
                              span  13 435 600 р
                          a(href="#").hits-stat-more Подробнее
                      th.compare-item
                        .compare-item-main
                          .compare-item-close
                          a(href="#").hits_block
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            p.hits_name
                              a(href='#') STELS Navigator 500 V 26 (2016)
                          .hits_coast
                            p.hits_coast_new
                              | 10 435,60 р. 
                              span  10 435 600 р
                            p
                              | 13 435,60 р. 
                              span  13 435 600 р
                          a(href="#").hits-stat-more Подробнее
                      th.compare-item
                        .compare-item-main
                          .compare-item-close
                          a(href="#").hits_block
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            p.hits_name
                              a(href='#') STELS Navigator 500 V 26 (2016)
                          .hits_coast
                            p.hits_coast_new
                              | 10 435,60 р. 
                              span  10 435 600 р
                            p
                              | 13 435,60 р. 
                              span  13 435 600 р
                          a(href="#").hits-stat-more Подробнее
                      th.compare-item
                        .compare-item-main
                          .compare-item-close
                          a(href="#").hits_block
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            p.hits_name
                              a(href='#') STELS Navigator 500 V 26 (2016)
                          .hits_coast
                            p.hits_coast_new
                              | 10 435,60 р. 
                              span  10 435 600 р
                            p
                              | 13 435,60 р. 
                              span  13 435 600 р
                          a(href="#").hits-stat-more Подробнее
                      th.compare-item
                        .compare-item-main
                          .compare-item-close
                          a(href="#").hits_block
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            p.hits_name
                              a(href='#') STELS Navigator 500 V 26 (2016)
                          .hits_coast
                            p.hits_coast_new
                              | 10 435,60 р. 
                              span  10 435 600 р
                            p
                              | 13 435,60 р. 
                              span  13 435 600 р
                          a(href="#").hits-stat-more Подробнее
                  tbody.compare-body
                    tr.compare-row
                      td.compare-item
                        ul.select-u-body
                          li.select-u-item
                            label.input_label
                              span.input_main
                                input.input-real(type="checkbox", value = 'Показать только отличия')
                                span.input-checked
                              span.input-text Показать только отличия
                  tbody.compare-body.compare_group
                    tr.compare-row.table-title
                      td.compare-item(colspan='100')
                          .text
                            | Общие характеристики
                      //2-ой td нужен для правильного отображения
                      td.compare-item
                    tr.compare-row
                      td.compare-item
                        span.compare-item-name Модель
                      td.compare-item.item-clone
                      td.compare-item
                        span.compare-value 2016 года 
                      td.compare-item
                        span.compare-value 2016 года 
                      td.compare-item
                        span.compare-value 2016 года 
                      td.compare-item
                        span.compare-value 2015 года 
                      td.compare-item
                        span.compare-value 2016 года 
                    tr.compare-row
                      td.compare-item
                        span.compare-item-name Возраст
                      td.compare-item.item-clone
                      td.compare-item
                        span.compare-value для взрослых
                      td.compare-item
                        span.compare-value для взрослых
                      td.compare-item
                        span.compare-value для овощей
                      td.compare-item
                        span.compare-value для взрослых
                      td.compare-item
                        span.compare-value для взрослых
                    tr.compare-row
                      td.compare-item
                        span.compare-item-name Тип
                      td.compare-item.item-clone
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                    tr.compare-row
                      td.compare-item
                        span.compare-item-name Тип привода
                      td.compare-item.item-clone
                      td.compare-item
                        span.compare-value горный (MTB), кросс-кантри 
                      td.compare-item
                        span.compare-value горный (MTB
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                  tbody.compare-body.compare_group
                    tr.compare-row.table-title
                      td.compare-item(colspan='100')
                          .text
                            | Рама
                      //2-ой td нужен для правильного отображения
                      td.compare-item
                    tr.compare-row
                      td.compare-item
                        span.compare-item-name Модель
                      td.compare-item.item-clone
                      td.compare-item
                        span.compare-value 2016 года 
                      td.compare-item
                        span.compare-value 2016 года 
                      td.compare-item
                        span.compare-value 2016 года 
                      td.compare-item
                        span.compare-value 2015 года 
                      td.compare-item
                        span.compare-value 2016 года 
                    tr.compare-row
                      td.compare-item
                        span.compare-item-name Возраст
                      td.compare-item.item-clone
                      td.compare-item
                        span.compare-value для взрослых
                      td.compare-item
                        span.descr-i.yes
                      td.compare-item
                        span.compare-value для овощей
                      td.compare-item
                        span.descr-i.yes
                      td.compare-item
                        span.compare-value для взрослых
                    tr.compare-row
                      td.compare-item
                        span.compare-item-name Тип
                      td.compare-item.item-clone
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                    tr.compare-row
                      td.compare-item
                        span.compare-item-name Тип привода
                      td.compare-item.item-clone
                      td.compare-item
                        span.compare-value горный (MTB), кросс-кантри 
                      td.compare-item
                        span.compare-value горный (MTB
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                  tbody.compare-body.compare_group
                    tr.compare-row.table-title
                      td.compare-item(colspan='100')
                          .text
                            | Тормоза
                      //2-ой td нужен для правильного отображения
                      td.compare-item
                    tr.compare-row
                      td.compare-item
                        span.compare-item-name Модель
                      td.compare-item.item-clone
                      td.compare-item
                        span.compare-value 2016 года 
                      td.compare-item
                        span.compare-value 2016 года 
                      td.compare-item
                        span.compare-value 2016 года 
                      td.compare-item
                        span.compare-value 2015 года 
                      td.compare-item
                        span.compare-value 2016 года 
                    tr.compare-row
                      td.compare-item
                        span.compare-item-name Возраст
                      td.compare-item.item-clone
                      td.compare-item
                        span.compare-value для взрослых
                      td.compare-item
                        span.compare-value для взрослых
                      td.compare-item
                        span.compare-value для овощей
                      td.compare-item
                        span.compare-value для взрослых
                      td.compare-item
                        span.compare-value для взрослых
                    tr.compare-row
                      td.compare-item
                        span.compare-item-name Тип
                      td.compare-item.item-clone
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                    tr.compare-row
                      td.compare-item
                        span.compare-item-name Тип привода
                      td.compare-item.item-clone
                      td.compare-item
                        span.compare-value горный (MTB), кросс-кантри 
                      td.compare-item
                        span.compare-value горный (MTB
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                      td.compare-item
                        span.compare-value djledd
                  tbody.compare-body
                    tr.compare-row
                      th.compare-item.compare-bg
                      th.compare-item.item-clone
                      th.compare-item
                        .compare-item-main
                          .compare-item-close
                          a(href="#").hits_block
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            p.hits_name
                              a(href='#') STELS Navigator 500 V 26 (2016)
                          .hits_coast
                            p.hits_coast_new
                              | 10 435,60 р. 
                              span  10 435 600 р
                            p
                              | 13 435,60 р. 
                              span  13 435 600 р
                          a(href="#").hits-stat-more Подробнее
                      th.compare-item
                        .compare-item-main
                          .compare-item-close
                          a(href="#").hits_block
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            p.hits_name
                              a(href='#') STELS Navigator 500 V 26 (2016)
                          .hits_coast
                            p.hits_coast_new
                              | 10 435,60 р. 
                              span  10 435 600 р
                            p
                              | 13 435,60 р. 
                              span  13 435 600 р
                          a(href="#").hits-stat-more Подробнее
                      th.compare-item
                        .compare-item-main
                          .compare-item-close
                          a(href="#").hits_block
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            p.hits_name
                              a(href='#') STELS Navigator 500 V 26 (2016)
                          .hits_coast
                            p.hits_coast_new
                              | 10 435,60 р. 
                              span  10 435 600 р
                            p
                              | 13 435,60 р. 
                              span  13 435 600 р
                          a(href="#").hits-stat-more Подробнее
                      th.compare-item
                        .compare-item-main
                          .compare-item-close
                          a(href="#").hits_block
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            p.hits_name
                              a(href='#') STELS Navigator 500 V 26 (2016)
                          .hits_coast
                            p.hits_coast_new
                              | 10 435,60 р. 
                              span  10 435 600 р
                            p
                              | 13 435,60 р. 
                              span  13 435 600 р
                          a(href="#").hits-stat-more Подробнее
                      th.compare-item
                        .compare-item-main
                          .compare-item-close
                          a(href="#").hits_block
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            p.hits_name
                              a(href='#') STELS Navigator 500 V 26 (2016)
                          .hits_coast
                            p.hits_coast_new
                              | 10 435,60 р. 
                              span  10 435 600 р
                            p
                              | 13 435,60 р. 
                              span  13 435 600 р
                          a(href="#").hits-stat-more Подробнее
                   tbody.compare-body
                    tr.compare-row
                      td.compare-item
                        ul.select-u-body
                          li.select-u-item
                            label.input_label
                              span.input_main
                                input.input-real(type="checkbox", value = 'Показать только отличия')
                                span.input-checked
                              span.input-text Показать только отличияl
                .main__bar


                     









              
         
      .mask-js
      // footer
      include ./includes/_footer.jade
    include ./includes/_index-modals.jade
