doctype html
//if lt IE 7 
  html.ie.ie6(lang='en')  
//if IE 7 
  html.ie.ie7(lang='en')  
//if IE 8 
  html.ie.ie8(lang='en')  
// [if (gte IE 9)|!(IE)] <!
html(lang='ru')
  // <![endif]
  head
    include ./includes/_head.jade
  body
    #wrap
      // header
      include ./includes/_headmenu.jade

      .content_main-wrapper
        section
          ul.breadcrums
              a.home-btn(href="#")
                  i.home-img
                      svg#Layer_home(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='9px', y='5px', viewbox='0 0 14.1 13', style='enable-background:new 0 0 14.1 13;', xml:space='preserve')
                        style(type='text/css').
                          .sthome{fill-rule:evenodd;clip-rule:evenodd;fill:#989898;}
                        path.sthome(d='M7.1,0l4.8,4.1L14,5.8c0,0,0.2,0.4,0,0.7c-0.3,0.4-0.8,0.2-0.8,0.2l-0.5-0.2v5.8c0,0.3-0.3,0.6-0.6,0.6h-3V8h-4\
                        v5h-3c-0.3,0-0.6-0.3-0.6-0.6V6.6L0.9,6.8c0,0-0.6,0-0.8-0.2c-0.2-0.3,0-0.9,0-0.9l2-1.6L7.1,0z')
              li.bread-item
                  a(href="#") Спорт и туризм
                  .bread-arrow
                      svg#Layer_arr(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                        style(type='text/css').
                          .bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                        path.bre-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
                  .bread__add-menu-wrap
                    .bread__add-container
                      ul.add-list
                        li.add-list-item
                          a(href="#") Товары для детей
                        li.add-list-item
                          a(href="#") Мода и красота
                        li.add-list-item
                          a(href="#") Электроника и техника
                        li.add-list-item
                          a(href="#") Всякие гадости
                  
              li.bread-item
                a(href="#") Спорт и туризм
                i.bread-arrow
                    svg#Layer_arr(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                      style(type='text/css').
                        .bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                      path.bre-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
                .bread__add-menu-wrap
                  .bread__add-container
                    ul.add-list
                      li.add-list-item
                        a(href="#") Товары для детей
                      li.add-list-item
                        a(href="#") Мода и красота
                      li.add-list-item
                        a(href="#") Электроника и техника
                      li.add-list-item
                        a(href="#") Ldt jlbyflwfnbrkfccybws rrr
              li.bread-item
                  a(href="#") Спорт и туризм
        section
          .section__wrapper
            .error-msg-wrap
              .error-succ-inner
                .error-img
                  .msg.msg-succ.active
                    .message-title
                      svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',width='44px', height='44px', x='0px', y='0px', viewbox='0 0 44 44', style='enable-background:new 0 0 44 44;', xml:space='preserve')
                        style(type='text/css').
                          .stf{fill-rule:evenodd;clip-rule:evenodd;fill:#49B210;}
                        g
                          g
                            path.stf(d='M22,0C9.8,0,0,9.8,0,22c0,12.2,9.8,22,22,22c12.2,0,22-9.8,22-22C44,9.8,34.2,0,22,0z M22,42C11,42,2,33,2,22\
                            C2,11,11,2,22,2s20,9,20,20C42,33,33,42,22,42z M30.7,12.8L18.1,29.1l-4.2-6.9c-0.4-0.5-1-0.6-1.5-0.2c-0.5,0.4-0.6,1-0.2,1.5\
                            l4.9,8c0.2,0.3,0.6,0.4,0.9,0.4c0.3,0,0.7-0.1,0.9-0.4l13.5-17.4c0.4-0.5,0.3-1.1-0.2-1.5C31.7,12.3,31,12.4,30.7,12.8z')
                      | Заказ успешно сформирован!
                .error-text
                  |Благодарим вас за оформление заказа на нашем сайте. Ваш заказ 
                  span.order-number №450 
                  |от 
                  span 12.06.2016 был успешно создан. Статус исполнения заказа вы можете отследить в 
                  a(href="#", data-target='.login_hidden').js-modal-trigger Личном кабинете. 
                .offer-form-inner.offer-succes
                  .offer-price 4 366,60 р.  
                    span   43 666 000 р. 
                  p.offer-payment Оплата банковской картой
                  .payment-cards
                    .card
                      img(src='img/promo/cart3.jpg', alt='MasterCard')
                    .card
                      img(src='img/promo/cart4.jpg', alt='Maestro')
                    .card
                      img(src='img/promo/cart5.jpg', alt='VISA')
                    .card
                      img(src='img/promo/cart-bel.jpg', alt='BelCard')
                  button.hits-stat-more.enter-btn(type="submit") Оплатить
                .offer-form-inner.offer-succes
                  .offer-price 4 366,60 р.  
                    span   43 666 000 р. 
                  p.offer-payment Оплата наличными
                  .payment-cards
                    .card
                      img(src='img/promo/cart-nal.jpg', alt='Наличные')

                  button.hits-stat-more(type="submit") Вернуться на главную





      .mask-js
      // footer
      include ./includes/_footer.jade
    include ./includes/_index-modals.jade
