doctype html
//if lt IE 7 
  html.ie.ie6(lang='en')  
//if IE 7 
  html.ie.ie7(lang='en')  
//if IE 8 
  html.ie.ie8(lang='en')  
// [if (gte IE 9)|!(IE)] <!
html(lang='ru')
  // <![endif]
  head
    include ./includes/_head.jade
  body
    #wrap
      // header
      include ./includes/_headmenu.jade

      .content_main-wrapper
        section
          ul.breadcrums
              a.home-btn(href="#")
                  i.home-img
                      svg#Layer_home(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='9px', y='5px', viewbox='0 0 14.1 13', style='enable-background:new 0 0 14.1 13;', xml:space='preserve')
                        style(type='text/css').
                          .sthome{fill-rule:evenodd;clip-rule:evenodd;fill:#989898;}
                        path.sthome(d='M7.1,0l4.8,4.1L14,5.8c0,0,0.2,0.4,0,0.7c-0.3,0.4-0.8,0.2-0.8,0.2l-0.5-0.2v5.8c0,0.3-0.3,0.6-0.6,0.6h-3V8h-4\
                        v5h-3c-0.3,0-0.6-0.3-0.6-0.6V6.6L0.9,6.8c0,0-0.6,0-0.8-0.2c-0.2-0.3,0-0.9,0-0.9l2-1.6L7.1,0z')
              li.bread-item
                  a(href="#") Спорт и туризм
                  .bread-arrow
                      svg#Layer_arr(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                        style(type='text/css').
                          .bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                        path.bre-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
                  .bread__add-menu-wrap
                    .bread__add-container
                      ul.add-list
                        li.add-list-item
                          a(href="#") Товары для детей
                        li.add-list-item
                          a(href="#") Мода и красота
                        li.add-list-item
                          a(href="#") Электроника и техника
                        li.add-list-item
                          a(href="#") Всякие гадости
                  
              li.bread-item
                a(href="#") Спорт и туризм
                i.bread-arrow
                    svg#Layer_arr(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 5', style='enable-background:new 0 0 9 5;', xml:space='preserve')
                      style(type='text/css').
                        .bre-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#3b3b3b;}
                      path.bre-arr(d='M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5')
                .bread__add-menu-wrap
                  .bread__add-container
                    ul.add-list
                      li.add-list-item
                        a(href="#") Товары для детей
                      li.add-list-item
                        a(href="#") Мода и красота
                      li.add-list-item
                        a(href="#") Электроника и техника
                      li.add-list-item
                        a(href="#") Ldt jlbyflwfnbrkfccybws rrr
              li.bread-item
                  a(href="#") Спорт и туризм
        section
          h1.section-title Сравнение
          .section__wrapper
            .error-msg-wrap
              .error-msg-inner
                .error-img
                   svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 92 90', width='95px',height='95px', style='enable-background:new 0 0 92 90;', xml:space='preserve')
                    style(type='text/css').
                      .sterror{fill:#E00000;}
                    g
                      g
                        path.sterror(d='M20.7,56H2.3C1,56,0,57,0,58.2v29.7C0,89.1,1,90,2.3,90h18.4c1.3,0,2.3-1,2.3-2.2V58.2C23,57,22,56,20.7,56z\
                        M19,86H4V60h15V86z M54.7,0H36.3C35,0,34,1,34,2.3v85.5c0,1.3,1,2.3,2.3,2.3h18.4c1.3,0,2.3-1,2.3-2.3V2.3C57,1,56,0,54.7,0z\
                        M53,86H38V4h15V86z M89.7,22H71.3c-1.3,0-2.3,1-2.3,2.3v63.4c0,1.3,1,2.3,2.3,2.3h18.4c1.3,0,2.3-1,2.3-2.3V24.3\
                        C92,23.1,91,22,89.7,22z M88,86H73V26h15V86z') 
                .error-text
                  |Список сравнения пуст. Сравнивать товары очень просто: нажмите на иконку 
                  span.err-icon.compare
                  | у выбранного товара. Начните выбора товара с главной страницы.
                .error-btn
                  a(href="#").hits-stat-more Вернуться на главную


      .mask-js
      // footer
      include ./includes/_footer.jade
    include ./includes/_index-modals.jade
