doctype html
//if lt IE 7 
  html.ie.ie6(lang='en')  
//if IE 7 
  html.ie.ie7(lang='en')  
//if IE 8 
  html.ie.ie8(lang='en')  
// [if (gte IE 9)|!(IE)] <!
html(lang='ru')
  // <![endif]
  head
    include ./includes/_head.jade
  body
    #wrap
      // header
      include ./includes/_headmenu.jade
      // promo / slider - banners
      section
        .promo
          // slider
          .promo-slider
            .slick-slider
              // slide #1
              .slide
                h3 Детские игрушкa sds
                h3 «Полесье»
                p Развивайте своё чадо
                a.sale(href='#') Скидки до -30%
                img(src='img/promo/banner1.jpg', alt='#')
              // slide #2
              .slide
                h3 Детские машины
                h3 «Полесье»
                p Развивайте своё чадо
                a.sale(href='#') Скидки до -35%
                img(src='img/promo/banner1.jpg', alt='#')
              // slide #3
              .slide
                h3 Детские пистолеты
                h3 «Полесье»
                p Развивайте своё чадо
                a.sale(href='#') Скидки до -33%
                img(src='img/promo/banner1.jpg', alt='#')
              // slide #4
              .slide
                h3 Детские майки
                h3 «Полесье»
                p Развивайте своё чадо
                a.sale(href='#') Скидки до -20%
                img(src='img/promo/banner1.jpg', alt='#')
              // slide #5
              .slide
                h3 Детские мечты
                h3 «Полесье»
                p Развивайте своё чадо
                a.sale(href='#') Скидки до -70%
                img(src='img/promo/banner1.jpg', alt='#')
          // promo-banners
          .promo-banners
            // banner 1
            .ban_1
              a(href='#')
                h3
                  | Детские автомобили 
                  span -15%
                p Купите электрокар ребёнку
                img(src='img/promo/ban-1.jpg', alt='banner1')
            // banner 2
            .ban_2
              a(href='#')
                h3
                  | Телевизоры 
                  span -3%
                img(src='img/promo/ban-2.jpg', alt='banner2')
            // banner 3
            .ban_3
              a(href='#')
                h3
                  | Масла, жидкости 
                  span -5%
                p Для железного друга так необходимы
                img(src='img/promo/ban-3.jpg', alt='banner1')
      // features
      section
        .features
          ul
            li
              .features_block
                img(src='img/features/icon_1.svg', alt='')
                p Доставка по всей территории Республики Беларусь
            li
              .features_block
                img(src='img/features/icon_2.svg', alt='')
                p Заказывайте круглосуточно, и без выходных
            li
              .features_block
                img(src='img/features/icon_3.svg', alt='')
                p Все возможные способы оплаты, включая онлайн
            li
              .features_block
                img(src='img/features/icon_4.svg', alt='')
                p Сбор заказа в течение 1–3 дней
      // discount %
      section
        .discount
          h2 Разделы со скидками
          .discount-slider
            .slick-slider-discount
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  img(src='img/promo/discount-block.jpg', alt='#')
                  p.discount_name
                    a(href='#')
                      | Детские игрушки 
                      span -5%
                  p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  img(src='img/promo/discount-block.jpg', alt='#')
                  p.discount_name
                    a(href='#')
                      | Детские игрушки 
                      span -5%
                  p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  img(src='img/promo/discount-block.jpg', alt='#')
                  p.discount_name
                    a(href='#')
                      | Детские игрушки 
                      span -5%
                  p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  img(src='img/promo/discount-block.jpg', alt='#')
                  p.discount_name
                    a(href='#')
                      | Детские игрушки 
                      span -5%
                  p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  img(src='img/promo/discount-block.jpg', alt='#')
                  p.discount_name
                    a(href='#')
                      | Детские игрушки 
                      span -5%
                  p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  img(src='img/promo/discount-block.jpg', alt='#')
                  p.discount_name
                    a(href='#')
                      | Детские игрушки 
                      span -5%
                  p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  img(src='img/promo/discount-block.jpg', alt='#')
                  p.discount_name
                    a(href='#')
                      | Детские игрушки 
                      span -5%
                  p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  img(src='img/promo/discount-block.jpg', alt='#')
                  p.discount_name
                    a(href='#')
                      | Детские игрушки 
                      span -5%
                  p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  img(src='img/promo/discount-block.jpg', alt='#')
                  p.discount_name
                    a(href='#')
                      | Детские игрушки 
                      span -5%
                  p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  img(src='img/promo/discount-block.jpg', alt='#')
                  p.discount_name
                    a(href='#')
                      | Детские игрушки 
                      span -5%
                  p.discount_coast от 35,00 р.
      // HITS !
      section
        .discount.hits
          h2 Хиты этой недели
          .discount-slider
            .slick-slider-discount-hits
              // slider - block
              .slider_block.hits-bg
                // discount_block hit
                .hits_block_wrap
                  .hits_block
                    .hits_status
                      ul
                        li.status_new
                          img(src='img/main/new.png', alt='#')
                        li.status_dis(style='display: none')
                          img(src='img/main/discount.png', alt='#')
                          span -10%
                    img(src='img/promo/mobile_hit.jpg', alt='#')
                    .hits_about
                      p.hits_name
                        a(href='#') Samsung Galaxy S6 Edge 32Gb
                      p.hits_descr
                        | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                    .hits_coast
                      p.hits_coast_new
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast.old
                        | 13 435,60 р. 
                        span  13 435 600 р
                    .hits_tools
                      ul
                        li.hits_comparison
                          a(href='#')
                            img(src='img/main/comparison.svg', alt='#')
                        li.hits_defer
                          a(href='#')
                            img(src='img/main/defer.svg', alt='#')
                        li.hits_review
                          a(href='#')
                            | Отзывы 
                            span (18)
                    .hits_stat
                      p.stat_yes В наличии
                      a(href='#') Подробнее
              // slider - block
              .slider_block.hits-bg
                // discount_block hit
                .hits_block_wrap
                  .hits_block
                    .hits_status
                      ul
                        li.status_new(style='display: none')
                          img(src='img/main/new.png', alt='#')
                        li.status_dis
                          img(src='img/main/discount.png', alt='#')
                          span -10%
                    img(src='img/promo/stiralka_hit.jpg', alt='#')
                    .hits_about
                      p.hits_name
                        a(href='#') LG F-1096ND3
                      p.hits_descr
                        | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                    .hits_coast
                      p.hits_coast_new(style='display: none')
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast
                        | 13 435,60 р. 
                        span  13 435 600 р
                    .hits_tools
                      ul
                        li.hits_comparison
                          a(href='#')
                            img(src='img/main/comparison.svg', alt='#')
                        li.hits_defer
                          a(href='#')
                            img(src='img/main/defer.svg', alt='#')
                        li.hits_review
                          a(href='#')
                            | Отзывы 
                            span (18)
                    .hits_stat
                      p.stat_yes В наличии
                      a(href='#') Подробнее
              // slider - block
              .slider_block.hits-bg
                // discount_block hit
                .hits_block_wrap
                  .hits_block
                    .hits_status
                      ul
                        li.status_new
                          img(src='img/main/new.png', alt='#')
                        li.status_dis
                          img(src='img/main/discount.png', alt='#')
                          span -10%
                    img(src='img/promo/bike_hit.jpg', alt='#')
                    .hits_about
                      p.hits_name
                        a(href='#') STELS Navigator 500 V 26 (2016)
                      p.hits_descr
                        | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                    .hits_coast
                      p.hits_coast_new
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast.old
                        | 13 435,60 р. 
                        span  13 435 600 р
                    .hits_tools
                      ul
                        li.hits_comparison
                          a(href='#')
                            img(src='img/main/comparison.svg', alt='#')
                        li.hits_defer
                          a(href='#')
                            img(src='img/main/defer.svg', alt='#')
                        li.hits_review
                          a(href='#')
                            | Отзывы 
                            span (18)
                    .hits_stat
                      p.stat_yes В наличии
                      a(href='#') Подробнее
              // slider - block
              .slider_block.hits-bg
                // discount_block hit
                .hits_block_wrap
                  .hits_block
                    .hits_status
                      ul
                        li.status_new(style='display: none')
                          img(src='img/main/new.png', alt='#')
                        li.status_dis(style='display: none')
                          img(src='img/main/discount.png', alt='#')
                          span -10%
                    img(src='img/promo/mobile_hit.jpg', alt='#')
                    .hits_about
                      p.hits_name
                        a(href='#') Samsung Galaxy S6 Edge 32Gb
                      p.hits_descr
                        | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                    .hits_coast
                      p.hits_coast_new
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast.old
                        | 13 435,60 р. 
                        span  13 435 600 р
                    .hits_tools
                      ul
                        li.hits_comparison
                          a(href='#')
                            img(src='img/main/comparison.svg', alt='#')
                        li.hits_defer
                          a(href='#')
                            img(src='img/main/defer.svg', alt='#')
                        li.hits_review
                          a(href='#')
                            | Отзывы 
                            span (18)
                    .hits_stat
                      p.stat_yes В наличии
                      a(href='#') Подробнее
              // slider - block
              .slider_block.hits-bg
                // discount_block hit
                .hits_block_wrap
                  .hits_block
                    .hits_status
                      ul
                        li.status_new
                          img(src='img/main/new.png', alt='#')
                        li.status_dis
                          img(src='img/main/discount.png', alt='#')
                          span -10%
                    img(src='img/promo/stiralka_hit.jpg', alt='#')
                    .hits_about
                      p.hits_name
                        a(href='#') Samsung Galaxy S6 Edge 32Gb
                      p.hits_descr
                        | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                    .hits_coast
                      p.hits_coast_new(style='display: none')
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast
                        | 13 435,60 р. 
                        span  13 435 600 р
                    .hits_tools
                      ul
                        li.hits_comparison
                          a(href='#')
                            img(src='img/main/comparison.svg', alt='#')
                        li.hits_defer
                          a(href='#')
                            img(src='img/main/defer.svg', alt='#')
                        li.hits_review
                          a(href='#')
                            | Отзывы 
                            span (18)
                    .hits_stat
                      p.stat_yes В наличии
                      a(href='#') Подробнее
              // slider - block
              .slider_block.hits-bg
                // discount_block hit
                .hits_block_wrap
                  .hits_block
                    .hits_status
                      ul
                        li.status_new
                          img(src='img/main/new.png', alt='#')
                        li.status_dis(style='display: none')
                          img(src='img/main/discount.png', alt='#')
                          span -10%
                    img(src='img/promo/mobile_hit.jpg', alt='#')
                    .hits_about
                      p.hits_name
                        a(href='#') Samsung Galaxy S6 Edge 32Gb
                      p.hits_descr
                        | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                    .hits_coast
                      p.hits_coast_new
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast.old
                        | 13 435,60 р. 
                        span  13 435 600 р
                    .hits_tools
                      ul
                        li.hits_comparison
                          a(href='#')
                            img(src='img/main/comparison.svg', alt='#')
                        li.hits_defer
                          a(href='#')
                            img(src='img/main/defer.svg', alt='#')
                        li.hits_review
                          a(href='#')
                            | Отзывы 
                            span (18)
                    .hits_stat
                      p.stat_yes В наличии
                      a(href='#') Подробнее
      // brand - tabs - slider !
      section
        .discount.brand
          // bran - name
          #brand.wrap_brand
            .tabs
              span.tab Детские игрушки
              span.tab Телевизоры
              span.tab Мебель
              span.tab Спортивные товары
              span.tab Кроссовки
              span.tab Пылесосы
              .brand_all
                a(href='#')
                  | Все бренды 
                  span (108)
            .tab_content
              // brand# Детские игрушки
              .tab_item
                // slider in tab#
                .discount-slider
                  .slick-slider-discount-brand
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Полесье
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Mammoet
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand4.jpg', alt='#')
                            p Tematoys
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand5.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Tematoys
              // brand# Телевизоры
              .tab_item
                // slider in tab#
                .discount-slider
                  .slick-slider-discount-brand
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Полесье
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Mammoet
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand4.jpg', alt='#')
                            p Tematoys
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand5.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Tematoys
              // brand# Мебель
              .tab_item
                // slider in tab#
                .discount-slider
                  .slick-slider-discount-brand
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Полесье
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Mammoet
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand4.jpg', alt='#')
                            p Tematoys
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand5.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Tematoys
              // brand# Спортивные товары
              .tab_item
                // slider in tab#
                .discount-slider
                  .slick-slider-discount-brand
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Полесье
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Mammoet
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand4.jpg', alt='#')
                            p Tematoys
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand5.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Tematoys
              // brand# Кроссовки
              .tab_item
                // slider in tab#
                .discount-slider
                  .slick-slider-discount-brand
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Полесье
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Mammoet
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand4.jpg', alt='#')
                            p Tematoys
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand5.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Tematoys
              // brand# Пылесосы
              .tab_item
                // slider in tab#
                .discount-slider
                  .slick-slider-discount-brand
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Полесье
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Mammoet
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand4.jpg', alt='#')
                            p Tematoys
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand5.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Tematoys
            // class="tab_content"
          // class="wrap_brand" id="brand"
      // themed sliders
      section
        .discount.themed
          h2 Тематические подборки
          // THEME @child@
          h3 Детям на праздник
          .discount-slider
            .slick-slider-discount-themed
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Каталка Полесье Боби [5434]
                  p.themed_cat Машинки
                  p.themed_coast 435,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Lego technick
                  p.themed_cat Конструкторы
                  p.themed_coast 1 027,00 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Мягкая игрушка Hasbro Игривый щенок [B0449]
                  p.themed_cat Мягкие игрушки
                  p.themed_coast 3 798,00 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Батут Sundays MOD1 252см - 8ft
                  p.themed_cat Батуты
                  p.themed_coast 6 435,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Кукла Simba Animal Doctor (105737393)
                  p.themed_cat Куклы
                  p.themed_coast 1,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Телескоп Sky-Watcher BK 767AZ1
                  p.themed_cat Телескопы
                  p.themed_coast 35,60 р. 
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Самокат Sundays SA-401
                  p.themed_cat Самокаты
                  p.themed_coast 135,60 р. 
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Каталка Полесье Боби [5434]
                  p.themed_cat Машинки
                  p.themed_coast 435,60 р.
          // THEME @technic@
          h3 Умная техника
          .discount-slider
            .slick-slider-discount-themed
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Каталка Полесье Боби [5434]
                  p.themed_cat Машинки
                  p.themed_coast 435,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Lego technick
                  p.themed_cat Конструкторы
                  p.themed_coast 1 027,00 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Мягкая игрушка Hasbro Игривый щенок [B0449]
                  p.themed_cat Мягкие игрушки
                  p.themed_coast 3 798,00 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Батут Sundays MOD1 252см - 8ft
                  p.themed_cat Батуты
                  p.themed_coast 6 435,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Кукла Simba Animal Doctor (105737393)
                  p.themed_cat Куклы
                  p.themed_coast 1,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Телескоп Sky-Watcher BK 767AZ1
                  p.themed_cat Телескопы
                  p.themed_coast 35,60 р. 
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Самокат Sundays SA-401
                  p.themed_cat Самокаты
                  p.themed_coast 135,60 р. 
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Каталка Полесье Боби [5434]
                  p.themed_cat Машинки
                  p.themed_coast 435,60 р.
          // THEME @in help@
          h3 Маме на кухню
          .discount-slider
            .slick-slider-discount-themed
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Каталка Полесье Боби [5434]
                  p.themed_cat Машинки
                  p.themed_coast 435,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Lego technick
                  p.themed_cat Конструкторы
                  p.themed_coast 1 027,00 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Мягкая игрушка Hasbro Игривый щенок [B0449]
                  p.themed_cat Мягкие игрушки
                  p.themed_coast 3 798,00 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Батут Sundays MOD1 252см - 8ft
                  p.themed_cat Батуты
                  p.themed_coast 6 435,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Кукла Simba Animal Doctor (105737393)
                  p.themed_cat Куклы
                  p.themed_coast 1,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Телескоп Sky-Watcher BK 767AZ1
                  p.themed_cat Телескопы
                  p.themed_coast 35,60 р. 
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Самокат Sundays SA-401
                  p.themed_cat Самокаты
                  p.themed_coast 135,60 р. 
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Каталка Полесье Боби [5434]
                  p.themed_cat Машинки
                  p.themed_coast 435,60 р.
          .themed_more
            a(href='#') Показать ещё
      // news
      section
        .discount.news
          h2 Новости и акции
          .discount-slider
            .slick-slider-discount-news
              // slider - block
              .slider_block
                // block news
                .news_block
                  a(href='#')
                    img(src='img/promo/news1.jpg', alt='#')
                    p.news_date 06 июля, 2016 года
                    p.news_descr Праздник игрушек – мероприятие республи- канского масштаба!
              // slider - block
              .slider_block
                // block news
                .news_block
                  a(href='#')
                    img(src='img/promo/news1.jpg', alt='#')
                    p.news_date 06 июля, 2016 года
                    p.news_descr Праздник игрушек снова в Кобрине!
              // slider - block
              .slider_block
                // block news
                .news_block
                  a(href='#')
                    img(src='img/promo/news1.jpg', alt='#')
                    p.news_date 06 июля, 2016 года
                    p.news_descr Каталки игровые с конструктором
              // slider - block
              .slider_block
                // block news
                .news_block
                  a(href='#')
                    img(src='img/promo/news1.jpg', alt='#')
                    p.news_date 06 июля, 2016 года
                    p.news_descr Праздник игрушек – мероприятие республи- канского масштаба!
              // slider - block
              .slider_block
                // block news
                .news_block
                  a(href='#')
                    img(src='img/promo/news1.jpg', alt='#')
                    p.news_date 06 июля, 2016 года
                    p.news_descr Праздник игрушек снова в Кобрине!
              // slider - block
              .slider_block
                // block news
                .news_block
                  a(href='#')
                    img(src='img/promo/news1.jpg', alt='#')
                    p.news_date 06 июля, 2016 года
                    p.news_descr Каталки игровые с конструктором
      // footer
      include ./includes/_footer.jade
    include ./includes/_index-modals.jade
