doctype html
//if lt IE 7 
  html.ie.ie6(lang='en')  
//if IE 7 
  html.ie.ie7(lang='en')  
//if IE 8 
  html.ie.ie8(lang='en')  
// [if (gte IE 9)|!(IE)] <!
html(lang='ru')
  // <![endif]
  head
    include ./includes/_head.jade
  body
    #wrap
      // header
      include ./includes/_headmenu.jade
      // promo / slider - banners
      section
        .promo
          // slider
          .promo-slider
            .galery__nav
            .slick-slider
              // slide #1
              .slide
                h3 Детские игрушкa sds
                h3 «Полесье»
                p Развивайте своё чадо
                .promo-link__wrapper
                  a.sale(href='#') Скидки до -30%
                img(src='img/promo/banner1.jpg', alt='#')
              // slide #2
              .slide
                h3 Детские машины
                h3 «Полесье»
                p Развивайте своё чадо
                .promo-link__wrapper
                  a.sale(href='#') Скидки до -30%
                img(src='img/promo/banner1.jpg', alt='#')
              // slide #3
              .slide
                h3 Детские пистолеты
                h3 «Полесье»
                p Развивайте своё чадо
                .promo-link__wrapper
                  a.sale(href='#') Скидки до -30%
                img(src='img/promo/banner1.jpg', alt='#')
              // slide #4
              .slide
                h3 Детские майки
                h3 «Полесье»
                p Развивайте своё чадо
                .promo-link__wrapper
                  a.sale(href='#') Скидки до -30%
                img(src='img/promo/banner1.jpg', alt='#')
              // slide #5
              .slide
                h3 Детские мечты
                h3 «Полесье»
                p Развивайте своё чадо
                .promo-link__wrapper
                  a.sale(href='#') Скидки до -30%
                img(src='img/promo/banner1.jpg', alt='#')
          // promo-banners
          .promo-banners
            // banner 1
            .ban_1
              a(href='#')
                h3
                  | Детские автомобили 
                  span -15%
                p Купите электрокар ребёнку
                img(src='img/promo/ban-1.jpg', alt='banner1')
            // banner 2
            .ban_2
              a(href='#')
                h3
                  | Телевизоры 
                  span -3%
                img(src='img/promo/ban-2.jpg', alt='banner2')
            // banner 3
            .ban_3
              a(href='#')
                h3
                  | Масла, жидкости 
                  span -5%
                p Для железного друга так необходимы
                img(src='img/promo/ban-3.jpg', alt='banner1')
      // features
      section
        .features
          ul
            li
              .features_block
                .features--img
                  svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 41.4 25', style='enable-background:new 0 0 41.4 25;', xml:space='preserve')
                    style(type='text/css').
                      .st0{fill:#FF0000;}
                    path.st0(d='M30.8,5.8v6.8H38v-1.5l-2.3-5.3H30.8z M32.2,11.3V7.2h2.7l1.8,4.1H32.2z M37.4,3.8h-7.4V0H0v22.3h2.4\
                    C2.6,23.8,3.9,25,5.5,25c1.4,0,2.5-0.9,2.9-2.1c0.4,1.2,1.6,2.1,2.9,2.1c1.6,0,2.9-1.2,3.1-2.7h16.6c0.2,1.5,1.5,2.7,3.1,2.7\
                    c1.6,0,2.9-1.2,3.1-2.7h4.2v-9.7L37.4,3.8z M5.5,23.6c-1,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7s1.7,0.8,1.7,1.7\
                    C7.3,22.9,6.5,23.6,5.5,23.6z M11.4,23.6c-1,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c1,0,1.7,0.8,1.7,1.7\
                    C13.1,22.9,12.4,23.6,11.4,23.6z M28.7,20.9H14.3c-0.4-1.2-1.6-2.1-2.9-2.1c-1.4,0-2.5,0.9-2.9,2.1c-0.4-1.2-1.6-2.1-2.9-2.1\
                    c-1.4,0-2.5,0.9-2.9,2.1H1.4V1.4h27.3V20.9z M34.2,23.6c-1,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c1,0,1.7,0.8,1.7,1.7\
                    C36,22.9,35.2,23.6,34.2,23.6z M40.1,20.9h-2.9c-0.4-1.2-1.6-2.1-2.9-2.1c-1.4,0-2.5,0.9-2.9,2.1h-1.2V5.1h6.5l3.6,7.7V20.9z')
                p Доставка по всей территории Республики Беларусь
            li
              .features_block
                .features--img
                  svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 40.5 34.5', style='enable-background:new 0 0 40.5 34.5;', xml:space='preserve')
                    style(type='text/css').
                      .st0{fill:#FF0000;}
                    path.st0(d='M13.9,27.8c0.4,0,1.2,0,1.6-0.7c0.2-0.4,0.3-0.7,0.3-2c0-1.6-0.1-2-0.3-2.3c-0.4-0.7-1.1-0.8-1.7-0.8\
                    c-0.4,0-0.9,0.1-1.3,0.3C12,22.7,12,23.5,12,24.6c0,1.5,0,2.1,0.4,2.6C12.9,27.8,13.7,27.8,13.9,27.8z M13.4,23.6\
                    c0-0.1,0.1-0.5,0.5-0.5c0.3,0,0.4,0.2,0.5,0.5c0,0.2,0,0.9,0,1.2c0,0,0,1,0,1.2c0,0.2,0,0.6-0.5,0.6c-0.5,0-0.5-0.5-0.5-0.9\
                    c0-0.3,0-0.5,0-0.8C13.4,24.6,13.4,23.9,13.4,23.6z M17.2,27.8c0.1,0,0.3,0,0.5-0.2c0.2-0.2,0.2-0.5,0.2-0.7v-1.1h0.5\
                    c1,0,1.6-0.1,1.6-1.7c0-1.8-0.6-1.9-1.6-1.9h-1c-0.2,0-0.5,0-0.7,0.2c-0.2,0.2-0.2,0.5-0.2,0.7v3.8c0,0.3,0,0.6,0.2,0.8\
                    C16.9,27.7,17,27.8,17.2,27.8z M18,23.2c0.4,0,0.6,0,0.7,0.2c0,0.1,0.1,0.2,0.1,0.5c0,0.1,0,0.5-0.2,0.6c-0.1,0.1-0.2,0.1-0.5,0.1\
                    V23.2z M24.8,27.7c0,0,0.2,0,0.2,0c0.1,0,0.4,0,0.6-0.4c0.1-0.2,0.1-0.3,0.1-0.5v-1.5c0-0.9,0-1.1-0.2-1.9c0.2,0.7,0.2,0.9,0.4,1.5\
                    l0.6,1.8c0.2,0.6,0.3,0.9,1,0.9c0.3,0,0.4,0,0.6-0.1c0.3-0.2,0.3-0.5,0.3-0.8v-3.9c0-0.3,0-0.7-0.4-0.8c-0.1,0-0.2,0-0.2,0\
                    c-0.2,0-0.4,0.1-0.4,0.1c-0.2,0.2-0.2,0.5-0.2,0.7v1.3c0,0.8,0,1.1,0.2,2L26.3,23c-0.3-0.8-0.3-0.9-1-0.9c-0.3,0-0.7,0-0.8,0.4\
                    c-0.1,0.2-0.1,0.4-0.1,0.8v3.6C24.4,27.2,24.4,27.6,24.8,27.7z M21.5,27.7H23c0.2,0,0.4,0,0.6-0.2c0.1-0.1,0.2-0.2,0.2-0.4\
                    c0-0.1,0-0.2-0.1-0.4c-0.2-0.2-0.4-0.2-0.6-0.2H22v-1.2h0.9c0.2,0,0.6,0,0.7-0.4c0-0.1,0-0.2,0-0.2c0-0.1,0-0.3-0.1-0.4\
                    c-0.2-0.2-0.4-0.2-0.6-0.2H22v-1h1c0.2,0,0.5,0,0.6-0.2c0.1-0.1,0.2-0.2,0.2-0.4c0-0.6-0.6-0.6-0.8-0.6h-1.5c-0.2,0-0.5,0-0.7,0.2\
                    c-0.3,0.2-0.3,0.5-0.3,0.8v3.8c0,0.3,0,0.5,0.2,0.7C21,27.7,21.2,27.7,21.5,27.7z M37.1,19.1H3.4v12h33.6V19.1z M35.7,29.7H4.8v-9.2\
                    h30.9V29.7z M23.9,5.9c0.3-0.5,0.4-1.2,0.4-1.8c0-2.3-1.8-4.1-4.1-4.1c-2.3,0-4.1,1.8-4.1,4.1c0,0.6,0.1,1.2,0.4,1.7L0,16v18.5h40.5\
                    V16L23.9,5.9z M20.3,1.4c1.5,0,2.7,1.2,2.7,2.7c0,1.5-1.2,2.7-2.7,2.7c-1.5,0-2.7-1.2-2.7-2.7C17.5,2.6,18.7,1.4,20.3,1.4z\
                    M17.3,6.9c0.8,0.8,1.8,1.3,3,1.3c1.1,0,2.1-0.4,2.9-1.2l14.3,8.7H3.1L17.3,6.9z M39.1,33.1H1.4V17.1h37.8V33.1z')

                p Заказывайте круглосуточно, и без выходных
            li
              .features_block
                .features--img
                  svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 33 33', style='enable-background:new 0 0 33 33;', xml:space='preserve')
                    style(type='text/css').
                      .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#FF0000;}
                    path.st0(d='M31.9,16.7V9.5h-1.1V4h-5.4l-1.1-4L14,4H3.7v0H3.2C1.5,4,0.1,5.4,0,7.2h0v21.8C0,31.2,1.9,33,4.3,33h27.5v-7.5\
                    H33v-8.7H31.9z M29.6,5.1v4.4H27V7.7h-0.7l-0.7-2.6H29.6z M25.8,8.9v0.6H3.7V8.9H25.8z M23.4,1.5l1.6,6.2H7.4L23.4,1.5z M3.2,5.1\
                    h0.3v0H11L4.2,7.7H2.6v1.6C1.8,9.1,1.2,8.3,1.2,7.3C1.2,6.1,2.1,5.1,3.2,5.1z M30.7,31.8H4.3c-1.8,0-3.2-1.2-3.2-2.9V9.9\
                    c0.4,0.4,0.9,0.6,1.4,0.7v0.1h28.1v6.1h-7.2c-2.4,0-4.3,2-4.3,4.4c0,2.4,1.9,4.4,4.3,4.4h7.2V31.8z M31.9,24.3h-8.3\
                    c-1.7,0-3.2-1.5-3.2-3.2c0-1.7,1.4-3.2,3.2-3.2h8.3V24.3z M21.5,21.1c0,1.1,0.9,2,2,2c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2\
                    C22.4,19.1,21.5,20,21.5,21.1z M24.4,21.1c0,0.5-0.4,0.9-0.9,0.9c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9\
                    C24,20.2,24.4,20.6,24.4,21.1z')

                p Все возможные способы оплаты, включая онлайн
            li
              .features_block
                .features--img
                  svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 37 43', style='enable-background:new 0 0 37 43;', xml:space='preserve')
                    style(type='text/css').
                      .st0{fill:#FF0000;}
                    path.st0(d='M37,11.9l-5.2-5.4l-2.8,3c-2.2-1.6-4.9-2.7-7.7-3.2V6.1H22c1.8,0,3.2-1.3,3.2-3C25.2,1.4,23.8,0,22,0h-7.3\
                    c-1.7,0-3.2,1.4-3.2,3.2c0,1.7,1.4,3,3.2,3h0.8v0.2C6.7,7.8,0,15.4,0,24.6C0,34.7,8.2,43,18.4,43c10.1,0,18.4-8.3,18.4-18.4\
                    c0-3.5-1-6.8-2.7-9.6L37,11.9z M31.8,8.6l3.2,3.3l-1.8,1.8c-0.9-1.2-1.9-2.3-3.1-3.3L31.8,8.6z M14.7,4.7c-0.8,0-1.7-0.5-1.7-1.5\
                    c0-1,0.8-1.7,1.7-1.7H22c1,0,1.7,0.8,1.7,1.7c0,1-0.9,1.5-1.8,1.5h-2.2v1.5c-0.5,0-1-0.1-1.4-0.1c-0.5,0-1,0-1.4,0.1V4.7H14.7z\
                    M35.3,24.6c0,9.4-7.6,17-16.9,17c-9.3,0-16.9-7.6-16.9-17c0-9.4,7.6-17,16.9-17C27.7,7.6,35.3,15.2,35.3,24.6z M18.4,9.4\
                    C10,9.4,3.2,16.2,3.2,24.6c0,8.4,6.8,15.2,15.1,15.2c8.3,0,15.1-6.8,15.1-15.2C33.5,16.2,26.7,9.4,18.4,9.4z M18,23.1v-6.7l0.4-1\
                    l0.4,1v6.7l0.3,0.2c0.3,0.2,0.4,0.5,0.4,0.9c0,0.6-0.5,1.1-1.1,1.1c-0.6,0-1.1-0.5-1.1-1.1c0-0.3,0.2-0.7,0.4-0.9L18,23.1z\
                    M27.8,18.8c0.1,0.2,0.4,0.4,0.6,0.4c0.1,0,0.3,0,0.4-0.1l1.6-1c0.9,1.7,1.5,3.7,1.6,5.8h-3.6c-0.4,0-0.7,0.3-0.7,0.7\
                    c0,0.4,0.3,0.7,0.7,0.7H32c-0.1,1.9-0.6,3.6-1.3,5.2c0,0-0.1,0-0.1-0.1l-1.8-1.1c-0.3-0.2-0.8-0.1-1,0.2c-0.2,0.3-0.1,0.8,0.2,1\
                    l1.8,1.1c0,0,0.1,0,0.1,0.1c-1,1.7-2.4,3.2-4.1,4.3c0-0.1-0.1-0.2-0.1-0.3l-1.1-1.4c-0.2-0.3-0.7-0.4-1-0.1c-0.3,0.2-0.4,0.7-0.1,1\
                    l1.1,1.4c0,0.1,0.1,0.1,0.1,0.1c-1.7,0.9-3.6,1.5-5.7,1.6v-3.2c0-0.4-0.3-0.7-0.7-0.7c-0.4,0-0.7,0.3-0.7,0.7v3.2\
                    c-2-0.1-4-0.7-5.7-1.6c0,0,0.1-0.1,0.1-0.1l1.1-1.4c0.2-0.3,0.2-0.8-0.1-1c-0.3-0.2-0.8-0.2-1,0.1l-1.1,1.4\
                    c-0.1,0.1-0.1,0.2-0.1,0.3c-1.7-1.1-3.1-2.6-4.1-4.3c0,0,0.1,0,0.1-0.1l1.8-1.1c0.3-0.2,0.5-0.6,0.2-1c-0.2-0.3-0.6-0.5-1-0.2\
                    l-1.8,1.1c0,0-0.1,0-0.1,0.1c-0.8-1.6-1.2-3.4-1.3-5.2h3.6C8.7,25.3,9,25,9,24.6c0-0.4-0.3-0.7-0.7-0.7H4.7c0.1-2.1,0.7-4,1.6-5.8\
                    l1.6,1c0.1,0.1,0.2,0.1,0.4,0.1c0.2,0,0.5-0.1,0.6-0.4c0.2-0.3,0.1-0.8-0.2-1l-1.6-1c1.1-1.6,2.4-2.9,4-3.9l0.9,1.2\
                    c0.1,0.2,0.4,0.3,0.6,0.3c0.2,0,0.3,0,0.4-0.1c0.3-0.2,0.4-0.7,0.1-1l-0.8-1.1c1.6-0.8,3.4-1.3,5.3-1.4v2.4l-1.1,2.9v6.3\
                    c-0.5,0.5-0.7,1.1-0.7,1.8c0,1.4,1.1,2.5,2.5,2.5c1.4,0,2.5-1.1,2.5-2.5c0-0.7-0.3-1.3-0.7-1.8v-6.3l-1.1-2.9v-2.4\
                    c1.9,0.1,3.7,0.6,5.3,1.4l-0.8,1.1c-0.2,0.3-0.2,0.8,0.1,1c0.1,0.1,0.3,0.1,0.4,0.1c0.2,0,0.4-0.1,0.6-0.3l0.9-1.2\
                    c1.6,1,3,2.3,4,3.9l-1.6,1C27.7,18,27.6,18.5,27.8,18.8z')
                p Сбор заказа в течение 1–3 дней
      // discount %
      section
        .discount
          h2 Разделы со скидками
          .discount-slider
            .slick-slider-discount
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  a(href='#')
                    img(src='img/promo/discount-block.jpg', alt='#')
                    p.discount_name
                      a(href='#')
                        | Детские игрушки 
                        span -5%
                    p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  a(href='#')
                    img(src='img/promo/discount-block.jpg', alt='#')
                    p.discount_name
                      a(href='#')
                        | Детские игрушки 
                        span -5%
                    p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  a(href='#')
                    img(src='img/promo/discount-block.jpg', alt='#')
                    p.discount_name
                      a(href='#')
                        | Детские игрушки 
                        span -5%
                    p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  a(href='#')
                    img(src='img/promo/discount-block.jpg', alt='#')
                    p.discount_name
                      a(href='#')
                        | Детские игрушки 
                        span -5%
                    p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  a(href='#')
                    img(src='img/promo/discount-block.jpg', alt='#')
                    p.discount_name
                      a(href='#')
                        | Детские игрушки 
                        span -5%
                    p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  a(href='#')
                    img(src='img/promo/discount-block.jpg', alt='#')
                    p.discount_name
                      a(href='#')
                        | Детские игрушки 
                        span -5%
                    p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  a(href='#')
                    img(src='img/promo/discount-block.jpg', alt='#')
                    p.discount_name
                      a(href='#')
                        | Детские игрушки 
                        span -5%
                    p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  a(href='#')
                    img(src='img/promo/discount-block.jpg', alt='#')
                    p.discount_name
                      a(href='#')
                        | Детские игрушки 
                        span -5%
                    p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  a(href='#')
                    img(src='img/promo/discount-block.jpg', alt='#')
                    p.discount_name
                      a(href='#')
                        | Детские игрушки 
                        span -5%
                    p.discount_coast от 35,00 р.
              // slider - block
              .slider_block
                // discount_block
                .discount_block
                  a(href='#')
                    img(src='img/promo/discount-block.jpg', alt='#')
                    p.discount_name
                      a(href='#')
                        | Детские игрушки 
                        span -5%
                    p.discount_coast от 35,00 р.
      // HITS !
      section
        .discount.hits
          h2 Хиты этой недели
          .discount-slider.discount-hoverable
            .slick-slider-discount-hits
              // slider - block
              .slider_block.hits-bg
                // discount_block hit
                .hits_block_wrap
                  .hits_block
                    .hits_status
                      //.item-new и .item-sale добавляем для изменения цвета бэкграунда
                      .status_item.item-new
                        .status__item-bg
                          span New
                      .status_item.item-sale
                        .status__item-bg
                          span -10%
                    img(src='img/promo/mobile_hit.jpg', alt='#')
                    .hits_about
                      p.hits_name
                        a(href='#') Samsung Galaxy S6 Edge 32Gb
                      p.hits_descr
                        | Горный, рама сталь Hi-ten, колеса 26", вилка амортизационная, трансмиссия 21 скор. тормоза,яички, тормоза
                    .hits_coast
                      p.hits_coast_new
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast.old
                        | 13 435,60 р. 
                        span  13 435 600 р
                    .hits_tools
                      ul
                        li.hits_comparison
                          a(href='#')
                            img(src='img/main/comparison.svg', alt='#')
                        li.hits_defer
                          a(href='#')
                            img(src='img/main/defer.svg', alt='#')
                        li.hits_review
                          a(href='#')
                            | Отзывы 
                            span (18)
                    .hits_stat
                      p.stat_yes В наличии
                      a(href='#') Подробнее
              // slider - block
              .slider_block.hits-bg
                // discount_block hit
                .hits_block_wrap
                  .hits_block
                    .hits_status
                      .status_item.item-new
                        .status__item-bg
                          span New
                      .status_item.item-sale
                        .status__item-bg
                          span -10%
                    img(src='img/promo/stiralka_hit.jpg', alt='#')
                    .hits_about
                      p.hits_name
                        a(href='#') LG F-1096ND3
                      p.hits_descr
                        | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                    .hits_coast
                      p.hits_coast_new(style='display: none')
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast
                        | 13 435,60 р. 
                        span  13 435 600 р
                    .hits_tools
                      ul
                        li.hits_comparison
                          a(href='#')
                            img(src='img/main/comparison.svg', alt='#')
                        li.hits_defer
                          a(href='#')
                            img(src='img/main/defer.svg', alt='#')
                        li.hits_review
                          a(href='#')
                            | Отзывы 
                            span (18)
                    .hits_stat
                      p.stat_yes В наличии
                      a(href='#') Подробнее
              // slider - block
              .slider_block.hits-bg
                // discount_block hit
                .hits_block_wrap
                  .hits_block
                    .hits_status
                      .status_item.item-new
                        .status__item-bg
                          span New
                      .status_item.item-sale
                        .status__item-bg
                          span -10%
                    img(src='img/promo/bike_hit.jpg', alt='#')
                    .hits_about
                      p.hits_name
                        a(href='#') STELS Navigator 500 V 26 (2016)
                      p.hits_descr
                        | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                    .hits_coast
                      p.hits_coast_new
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast.old
                        | 13 435,60 р. 
                        span  13 435 600 р
                    .hits_tools
                      ul
                        li.hits_comparison
                          a(href='#')
                            img(src='img/main/comparison.svg', alt='#')
                        li.hits_defer
                          a(href='#')
                            img(src='img/main/defer.svg', alt='#')
                        li.hits_review
                          a(href='#')
                            | Отзывы 
                            span (18)
                    .hits_stat
                      p.stat_yes В наличии
                      a(href='#') Подробнее
              // slider - block
              .slider_block.hits-bg
                // discount_block hit
                .hits_block_wrap
                  .hits_block
                    .hits_status
                      .status_item.item-new
                        .status__item-bg
                          span New
                    img(src='img/promo/mobile_hit.jpg', alt='#')
                    .hits_about
                      p.hits_name
                        a(href='#') Samsung Galaxy S6 Edge 32Gb
                      p.hits_descr
                        | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                    .hits_coast
                      p.hits_coast_new
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast.old
                        | 13 435,60 р. 
                        span  13 435 600 р
                    .hits_tools
                      ul
                        li.hits_comparison
                          a(href='#')
                            img(src='img/main/comparison.svg', alt='#')
                        li.hits_defer
                          a(href='#')
                            img(src='img/main/defer.svg', alt='#')
                        li.hits_review
                          a(href='#')
                            | Отзывы 
                            span (18)
                    .hits_stat
                      p.stat_yes В наличии
                      a(href='#') Подробнее
              // slider - block
              .slider_block.hits-bg
                // discount_block hit
                .hits_block_wrap
                  .hits_block
                    .hits_status
                      .status_item.item-new
                        .status__item-bg
                          span New
                      .status_item.item-sale
                        .status__item-bg
                          span -10%
                    img(src='img/promo/stiralka_hit.jpg', alt='#')
                    .hits_about
                      p.hits_name
                        a(href='#') Samsung Galaxy S6 Edge 32Gb
                      p.hits_descr
                        | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                    .hits_coast
                      p.hits_coast_new(style='display: none')
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast
                        | 13 435,60 р. 
                        span  13 435 600 р
                    .hits_tools
                      ul
                        li.hits_comparison
                          a(href='#')
                            img(src='img/main/comparison.svg', alt='#')
                        li.hits_defer
                          a(href='#')
                            img(src='img/main/defer.svg', alt='#')
                        li.hits_review
                          a(href='#')
                            | Отзывы 
                            span (18)
                    .hits_stat
                      p.stat_yes В наличии
                      a(href='#') Подробнее
              // slider - block
              .slider_block.hits-bg
                // discount_block hit
                .hits_block_wrap
                  .hits_block
                    .hits_status
                      .status_item.item-sale
                        .status__item-bg
                          span -10%
                    img(src='img/promo/mobile_hit.jpg', alt='#')
                    .hits_about
                      p.hits_name
                        a(href='#') Samsung Galaxy S6 Edge 32Gb
                      p.hits_descr
                        | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                    .hits_coast
                      p.hits_coast_new
                        | 10 435,60 р. 
                        span  10 435 600 р
                      p.hits_coast.old
                        | 13 435,60 р. 
                        span  13 435 600 р
                    .hits_tools
                      ul
                        li.hits_comparison
                          a(href='#')
                            img(src='img/main/comparison.svg', alt='#')
                        li.hits_defer
                          a(href='#')
                            img(src='img/main/defer.svg', alt='#')
                        li.hits_review
                          a(href='#')
                            | Отзывы 
                            span (18)
                    .hits_stat
                      p.stat_yes В наличии
                      a(href='#') Подробнее
      // brand - tabs - slider !
      section
        .discount.brand
          // bran - name
          #brand.wrap_brand
            .tabs
              span.tab Детские игрушки
              span.tab Телевизоры
              span.tab Мебель
              span.tab Спортивные товары
              span.tab Кроссовки
              span.tab Пылесосы
              .brand_all
                a(href='#')
                  | Все бренды 
                  span (108)
            .tab_content
              // brand# Детские игрушки
              .tab_item
                // slider in tab#
                .discount-slider
                  .slick-slider-discount-brand
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Полесье
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Mammoet
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand4.jpg', alt='#')
                            p Tematoys
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand5.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Tematoys
              // brand# Телевизоры
              .tab_item
                // slider in tab#
                .discount-slider
                  .slick-slider-discount-brand
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Полесье
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Mammoet
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand4.jpg', alt='#')
                            p Tematoys
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand5.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Tematoys
              // brand# Мебель
              .tab_item
                // slider in tab#
                .discount-slider
                  .slick-slider-discount-brand
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Полесье
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Mammoet
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand4.jpg', alt='#')
                            p Tematoys
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand5.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Tematoys
              // brand# Спортивные товары
              .tab_item
                // slider in tab#
                .discount-slider
                  .slick-slider-discount-brand
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Полесье
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Mammoet
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand4.jpg', alt='#')
                            p Tematoys
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand5.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Tematoys
              // brand# Кроссовки
              .tab_item
                // slider in tab#
                .discount-slider
                  .slick-slider-discount-brand
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Полесье
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Mammoet
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand4.jpg', alt='#')
                            p Tematoys
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand5.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Tematoys
              // brand# Пылесосы
              .tab_item
                // slider in tab#
                .discount-slider
                  .slick-slider-discount-brand
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Полесье
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Mammoet
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand4.jpg', alt='#')
                            p Tematoys
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand5.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand1.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand2.jpg', alt='#')
                            p Coloma
                    // slider - block
                    .slider_block.brand
                      .brand_block_wrap
                        // discount_block brand
                        .brand_block
                          a(href='#')
                            .brand_img
                              img(src='img/promo/brand3.jpg', alt='#')
                            p Tematoys
            // class="tab_content"
          // class="wrap_brand" id="brand"
      // themed sliders
      section
        .discount.themed
          h2 Тематические подборки
          // THEME @child@
          h3 Детям на праздник
          .discount-slider
            .slick-slider-discount-themed
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Каталка Полесье Боби [5434]
                  p.themed_cat Машинки
                  p.themed_coast 435,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Lego technick
                  p.themed_cat Конструкторы
                  p.themed_coast 1 027,00 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Мягкая игрушка Hasbro Игривый щенок [B0449]
                  p.themed_cat Мягкие игрушки
                  p.themed_coast 3 798,00 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Батут Sundays MOD1 252см - 8ft
                  p.themed_cat Батуты
                  p.themed_coast 6 435,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Кукла Simba Animal Doctor (105737393)
                  p.themed_cat Куклы
                  p.themed_coast 1,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Телескоп Sky-Watcher BK 767AZ1
                  p.themed_cat Телескопы
                  p.themed_coast 35,60 р. 
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Самокат Sundays SA-401
                  p.themed_cat Самокаты
                  p.themed_coast 135,60 р. 
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Каталка Полесье Боби [5434]
                  p.themed_cat Машинки
                  p.themed_coast 435,60 р.
          // THEME @technic@
          h3 Умная техника
          .discount-slider
            .slick-slider-discount-themed
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Каталка Полесье Боби [5434]
                  p.themed_cat Машинки
                  p.themed_coast 435,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Lego technick
                  p.themed_cat Конструкторы
                  p.themed_coast 1 027,00 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Мягкая игрушка Hasbro Игривый щенок [B0449]
                  p.themed_cat Мягкие игрушки
                  p.themed_coast 3 798,00 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Батут Sundays MOD1 252см - 8ft
                  p.themed_cat Батуты
                  p.themed_coast 6 435,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Кукла Simba Animal Doctor (105737393)
                  p.themed_cat Куклы
                  p.themed_coast 1,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Телескоп Sky-Watcher BK 767AZ1
                  p.themed_cat Телескопы
                  p.themed_coast 35,60 р. 
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Самокат Sundays SA-401
                  p.themed_cat Самокаты
                  p.themed_coast 135,60 р. 
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Каталка Полесье Боби [5434]
                  p.themed_cat Машинки
                  p.themed_coast 435,60 р.
          // THEME @in help@
          h3 Маме на кухню
          .discount-slider
            .slick-slider-discount-themed
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Каталка Полесье Боби [5434]
                  p.themed_cat Машинки
                  p.themed_coast 435,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Lego technick
                  p.themed_cat Конструкторы
                  p.themed_coast 1 027,00 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Мягкая игрушка Hasbro Игривый щенок [B0449]
                  p.themed_cat Мягкие игрушки
                  p.themed_coast 3 798,00 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Батут Sundays MOD1 252см - 8ft
                  p.themed_cat Батуты
                  p.themed_coast 6 435,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Кукла Simba Animal Doctor (105737393)
                  p.themed_cat Куклы
                  p.themed_coast 1,60 р.
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Телескоп Sky-Watcher BK 767AZ1
                  p.themed_cat Телескопы
                  p.themed_coast 35,60 р. 
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Самокат Sundays SA-401
                  p.themed_cat Самокаты
                  p.themed_coast 135,60 р. 
              // slider - block
              .slider_block
                // block themed
                .themed_block
                  img(src='img/promo/themed101.jpg', alt='#')
                  p.themed_name
                    a(href='#') Каталка Полесье Боби [5434]
                  p.themed_cat Машинки
                  p.themed_coast 435,60 р.
          .themed_more
            a(href='#') Показать ещё
      // news
      section
        .discount.news
          h2 Новости и акции
          .discount-slider
            .slick-slider-discount-news
              // slider - block
              .slider_block
                // block news
                .news_block
                  a(href='#')
                    img(src='img/promo/news1.jpg', alt='#')
                    p.news_date 06 июля, 2016 года
                    p.news_descr Праздник игрушек – мероприятие республи- канского масштаба!
              // slider - block
              .slider_block
                // block news
                .news_block
                  a(href='#')
                    img(src='img/promo/news1.jpg', alt='#')
                    p.news_date 06 июля, 2016 года
                    p.news_descr Праздник игрушек снова в Кобрине!
              // slider - block
              .slider_block
                // block news
                .news_block
                  a(href='#')
                    img(src='img/promo/news1.jpg', alt='#')
                    p.news_date 06 июля, 2016 года
                    p.news_descr Каталки игровые с конструктором
              // slider - block
              .slider_block
                // block news
                .news_block
                  a(href='#')
                    img(src='img/promo/news1.jpg', alt='#')
                    p.news_date 06 июля, 2016 года
                    p.news_descr Праздник игрушек – мероприятие республи- канского масштаба!
              // slider - block
              .slider_block
                // block news
                .news_block
                  a(href='#')
                    img(src='img/promo/news1.jpg', alt='#')
                    p.news_date 06 июля, 2016 года
                    p.news_descr Праздник игрушек снова в Кобрине!
              // slider - block
              .slider_block
                // block news
                .news_block
                  a(href='#')
                    img(src='img/promo/news1.jpg', alt='#')
                    p.news_date 06 июля, 2016 года
                    p.news_descr Каталки игровые с конструктором
      // footer
      include ./includes/_footer.jade
    include ./includes/_index-modals.jade
