doctype html
//if lt IE 7 
  html.ie.ie6(lang='en')  
//if IE 7 
  html.ie.ie7(lang='en')  
//if IE 8 
  html.ie.ie8(lang='en')  
// [if (gte IE 9)|!(IE)] <!
html(lang='ru')
  // <![endif]
  head
    include ./includes/_head.jade
  body
    #wrap
      // header
      include ./includes/_headmenu.jade
      // promo / slider - banners
      .content_main-wrapper
        section
          .promo
            // slider
            .promo-slider
              .galery__nav
              .slick-slider
                // slide #1
                .slide(style = 'background-image:url(img/promo/banner1.jpg)')
                  a(href="#")
                    h3 Детские игрушкa fgf
                      br
                      |«Полесье»
                    p.promo-add-text Развивайте своё чадо
                    p.promo-link__wrapper
                      span.sale(href='#') Скидки до -30%
                .slide(style = 'background-image:url(img/promo/banner1.jpg)')
                  a(href="#")
                    h3 Детские игрушкa fgf «Полесье»
                    p.promo-add-text Развивайте своё чадо
                    p.promo-link__wrapper
                      span.sale(href='#') Скидки до -30%
                .slide(style = 'background-image:url(img/promo/banner1.jpg)')
                  a(href="#")
                    h3 Детские игрушкa fgf «Полесье»
                    p.promo-add-text Развивайте своё чадо
                    p.promo-link__wrapper
                      span.sale(href='#') Скидки до -30%
                .slide(style = 'background-image:url(img/promo/banner1.jpg)')
                  a(href="#")
                    h3 Детские игрушкa fgf «Полесье»
                    p.promo-add-text Развивайте своё чадо
                    p.promo-link__wrapper
                      span.sale(href='#') Скидки до -30%
                .slide(style = 'background-image:url(img/promo/banner1.jpg)')
                  a(href="#")
                    h3 Детские игрушкa fgf «Полесье»
                    p.promo-add-text Развивайте своё чадо
                    p.promo-link__wrapper
                      span.sale(href='#') Скидки до -30%
            // promo-banners
            .promo-banners
              // banner 1
              .ban_1
                a(href='#',style='background-color:#ffead2;')
                  h3
                    | Детские автомобили 
                    span -15%
                  p Купите электрокар ребёнку
                  img(src='img/promo/ban-1.jpg', alt='banner1')
              // banner 2
              .ban_2
                a(href='#',style='background-color:#c1f3e3;')
                  h3
                    | Телевизоры 
                    span -3%
                  img(src='img/promo/ban-2.png', alt='banner2')
              // banner 3
              .ban_3
                a(href='#',style='background-color:#d3fabe;')
                  .text__wrapper
                    h3
                      | Масла, жидкости 
                      span -5%
                    p Для железного друга так необходимы
                  img(src='img/promo/ban-3.png', alt='banner1')
        // features
        section.section-feature
          .features__nav
          .features
            .features_block
              .features--img
                img(src="img/features/icon_1.svg", alt="")
              p Доставка по всей территории Республики Беларусь
            .features_block
              .features--img
                img(src="img/features/icon_2.svg", alt="")
              p Заказывайте круглосуточно, и без выходных
            .features_block
              .features--img
                img(src="img/features/icon_3.svg", alt="")
              p Все возможные способы оплаты, включая онлайн
            .features_block
              .features--img
                img(src="img/features/icon_4.svg", alt="")
              p Сбор заказа в течение 1–3 дней
        // discount %
        section
          .discount
            h2 Разделы со скидками
            .discount-slider
              .slick-slider-discount
                // slider - block
                .slider_block
                  // discount_block
                  .discount_block
                    a(href='#')
                      img(src='img/promo/discount-block.jpg', alt='#')
                      .discount_name
                        span.name Детские игрушки 
                        span.discount -5%
                      p.discount_coast от 35,00 р.
                // slider - block
                .slider_block
                  // discount_block
                  .discount_block
                    a(href='#')
                      img(src='img/promo/discount-block.jpg', alt='#')
                      .discount_name
                        span.name Детские игрушки 
                        span.discount -5%
                      p.discount_coast от 35,00 р.
                // slider - block
                .slider_block
                  // discount_block
                  .discount_block
                    a(href='#')
                      img(src='img/promo/discount-block.jpg', alt='#')
                      .discount_name
                        span.name Детские игрушки 
                        span.discount -5%
                      p.discount_coast от 35,00 р.
                // slider - block
                .slider_block
                  // discount_block
                  .discount_block
                    a(href='#')
                      img(src='img/promo/discount-block.jpg', alt='#')
                      .discount_name
                        span.name Детские игрушки 
                        span.discount -5%
                      p.discount_coast от 35,00 р.
                // slider - block
                .slider_block
                  // discount_block
                  .discount_block
                    a(href='#')
                      img(src='img/promo/discount-block.jpg', alt='#')
                      .discount_name
                        span.name Детские игрушки 
                        span.discount -5%
                      p.discount_coast от 35,00 р.
                // slider - block
                .slider_block
                  // discount_block
                  .discount_block
                    a(href='#')
                      img(src='img/promo/discount-block.jpg', alt='#')
                      .discount_name
                        span.name Детские игрушки 
                        span.discount -5%
                      p.discount_coast от 35,00 р.
                // slider - block
                .slider_block
                  // discount_block
                  .discount_block
                    a(href='#')
                      img(src='img/promo/discount-block.jpg', alt='#')
                      .discount_name
                        span.name Детские игрушки 
                        span.discount -5%
                      p.discount_coast от 35,00 р.
                // slider - block
                .slider_block
                  // discount_block
                  .discount_block
                    a(href='#')
                      img(src='img/promo/discount-block.jpg', alt='#')
                      .discount_name
                        span.name Детские игрушки 
                        span.discount -5%
                      p.discount_coast от 35,00 р.
                // slider - block
                .slider_block
                  // discount_block
                  .discount_block
                    a(href='#')
                      img(src='img/promo/discount-block.jpg', alt='#')
                      .discount_name
                        span.name Детские игрушки 
                        span.discount -5%
                      p.discount_coast от 35,00 р.
                // slider - block
                .slider_block
                  // discount_block
                  .discount_block
                    a(href='#')
                      img(src='img/promo/discount-block.jpg', alt='#')
                      .discount_name
                        span.name Детские игрушки 
                        span.discount -5%
                      p.discount_coast от 35,00 р.
        // HITS !
        section
          .discount.hits
            h2 Хиты этой недели
            .discount-slider.discount-hoverable
              .slick-slider-discount-hits
                  // slider - block
                  .slider_block.hits-bg
                    .item-grid-wrap
                      // discount_block hit
                      .hits_block_wrap
                        a(href="#")
                          .hits_block
                            .hits_status
                              .status_item.item-new
                                .status__item-bg
                                  span New
                              .status_item.item-sale
                                .status__item-bg
                                  span -10%
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            .hits_about
                              p.hits_name
                                a(href='#') STELS Navigator 500 V 26 (2016)
                              p.hits_descr
                                | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                            .hits_coast
                              p.hits_coast_new
                                | 10 435,60 р. 
                                span  10 435 600 р
                              p.hits_coast.old
                                | 13 435,60 р. 
                                span.old  13 435 600 р
                            .hits_tools
                              .hits-wrap
                                .hits_comparison.add.active
                                  a(href='#') 
                                .hits_comparison.added
                                  a(href='#') 
                              .hits-wrap
                                .hits_defer.add
                                  a(href='#') 
                                .hits_defer.added.active
                                  a(href='#') 
                              .hits-wrap.review     
                                .hits_review
                                  a(href='#')
                                    | Отзывы 
                                    span (18)
                            .hits_stat
                              p.stat_yes.active В наличии
                              p.stat_yes.zakaz Под заказ
                              a(href='#') Подробнее
                  .slider_block.hits-bg
                    .item-grid-wrap
                      .hits_block_wrap
                        a(href="#")
                          .hits_block
                            .hits_status
                              .status_item.item-new
                                .status__item-bg
                                  span New
                              .status_item.item-sale
                                .status__item-bg
                                  span -10%
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            .hits_about
                              p.hits_name
                                a(href='#') STELS Navigator 500 V 26 (2016)
                              p.hits_descr
                                | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                            .hits_coast
                              p.hits_coast_new
                                | 10 435,60 р. 
                                span  10 435 600 р
                              p.hits_coast.old
                                | 13 435,60 р. 
                                span.old  13 435 600 р
                            .hits_tools
                              .hits-wrap
                                .hits_comparison.add.active
                                  a(href='#') 
                                .hits_comparison.added
                                  a(href='#') 
                              .hits-wrap
                                .hits_defer.add
                                  a(href='#') 
                                .hits_defer.added.active
                                  a(href='#') 
                              .hits-wrap.review     
                                .hits_review
                                  a(href='#')
                                    | Отзывы 
                                    span (18)
                            .hits_stat
                              p.stat_yes.active В наличии
                              p.stat_yes.zakaz Под заказ
                              a(href='#') Подробнее
                  .slider_block.hits-bg
                    .item-grid-wrap
                      .hits_block_wrap
                        a(href="#")
                          .hits_block
                            .hits_status
                              .status_item.item-new
                                .status__item-bg
                                  span New
                              .status_item.item-sale
                                .status__item-bg
                                  span -10%
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            .hits_about
                              p.hits_name
                                a(href='#') STELS Navigator 500 V 26 (2016)
                              p.hits_descr
                                | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                            .hits_coast
                              p.hits_coast_new
                                | 10 435,60 р. 
                                span  10 435 600 р
                              p.hits_coast
                                | 13 435,60 р. 
                                span  13 435 600 р
                            .hits_tools
                              .hits-wrap
                                .hits_comparison.add.active
                                  a(href='#') 
                                .hits_comparison.added
                                  a(href='#') 
                              .hits-wrap
                                .hits_defer.add
                                  a(href='#') 
                                .hits_defer.added.active
                                  a(href='#') 
                              .hits-wrap.review     
                                .hits_review
                                  a(href='#')
                                    | Отзывы 
                                    span (18)
                            .hits_stat
                              p.stat_yes.active В наличии
                              p.stat_yes.zakaz Под заказ
                              a(href='#') Подробнее
                  .slider_block.hits-bg
                    .item-grid-wrap
                      .hits_block_wrap
                        a(href="#")
                          .hits_block
                            .hits_status
                              .status_item.item-new
                                .status__item-bg
                                  span New
                              .status_item.item-sale
                                .status__item-bg
                                  span -10%
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            .hits_about
                              p.hits_name
                                a(href='#') STELS Navigator 500 V 26 (2016)
                              p.hits_descr
                                | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                            .hits_coast
                              p.hits_coast_new
                                | 10 435,60 р. 
                                span  10 435 600 р
                              p.hits_coast
                                | 13 435,60 р. 
                                span  13 435 600 р
                            .hits_tools
                              .hits-wrap
                                .hits_comparison.add.active
                                  a(href='#') 
                                .hits_comparison.added
                                  a(href='#') 
                              .hits-wrap
                                .hits_defer.add
                                  a(href='#') 
                                .hits_defer.added.active
                                  a(href='#') 
                              .hits-wrap.review     
                                .hits_review
                                  a(href='#')
                                    | Отзывы 
                                    span (18)
                            .hits_stat
                              p.stat_yes.active В наличии
                              p.stat_yes.zakaz Под заказ
                              a(href='#') Подробнее
                  .slider_block.hits-bg
                    .item-grid-wrap
                      .hits_block_wrap
                        a(href="#")
                          .hits_block
                            .hits_status
                              .status_item.item-new
                                .status__item-bg
                                  span New
                              .status_item.item-sale
                                .status__item-bg
                                  span -10%
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            .hits_about
                              p.hits_name
                                a(href='#') STELS Navigator 500 V 26 (2016)
                              p.hits_descr
                                | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                            .hits_coast
                              p.hits_coast_new
                                | 10 435,60 р. 
                                span  10 435 600 р
                              p.hits_coast
                                | 13 435,60 р. 
                                span  13 435 600 р
                            .hits_tools
                              .hits-wrap
                                .hits_comparison.add.active
                                  a(href='#') 
                                .hits_comparison.added
                                  a(href='#') 
                              .hits-wrap
                                .hits_defer.add
                                  a(href='#') 
                                .hits_defer.added.active
                                  a(href='#') 
                              .hits-wrap.review     
                                .hits_review
                                  a(href='#')
                                    | Отзывы 
                                    span (18)
                            .hits_stat
                              p.stat_yes.active В наличии
                              p.stat_yes.zakaz Под заказ
                              a(href='#') Подробнее
                  .slider_block.hits-bg
                    .item-grid-wrap
                      .hits_block_wrap
                        a(href="#")
                          .hits_block
                            .hits_status
                              .status_item.item-new
                                .status__item-bg
                                  span New
                              .status_item.item-sale
                                .status__item-bg
                                  span -10%
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            .hits_about
                              p.hits_name
                                a(href='#') STELS Navigator 500 V 26 (2016)
                              p.hits_descr
                                | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                            .hits_coast
                              p.hits_coast_new
                                | 10 435,60 р. 
                                span  10 435 600 р
                              p.hits_coast
                                | 13 435,60 р. 
                                span  13 435 600 р
                            .hits_tools
                              .hits-wrap
                                .hits_comparison.add.active
                                  a(href='#') 
                                .hits_comparison.added
                                  a(href='#') 
                              .hits-wrap
                                .hits_defer.add
                                  a(href='#') 
                                .hits_defer.added.active
                                  a(href='#') 
                              .hits-wrap.review     
                                .hits_review
                                  a(href='#')
                                    | Отзывы 
                                    span (18)
                            .hits_stat
                              p.stat_yes.active В наличии
                              p.stat_yes.zakaz Под заказ
                              a(href='#') Подробнее
                  .slider_block.hits-bg
                    .item-grid-wrap
                      .hits_block_wrap
                        a(href="#")
                          .hits_block
                            .hits_status
                              .status_item.item-new
                                .status__item-bg
                                  span New
                              .status_item.item-sale
                                .status__item-bg
                                  span -10%
                            img(src='img/promo/bike_hit.jpg', alt='#')
                            .hits_about
                              p.hits_name
                                a(href='#') STELS Navigator 500 V 26 (2016)
                              p.hits_descr
                                | Горный, рама сталь Hi-ten, коле- са 26", вилка амортизационная, трансмиссия 21 скор., тормоза...
                            .hits_coast
                              p.hits_coast_new
                                | 10 435,60 р. 
                                span  10 435 600 р
                              p.hits_coast
                                | 13 435,60 р. 
                                span  13 435 600 р
                            .hits_tools
                              .hits-wrap
                                .hits_comparison.add.active
                                  a(href='#') 
                                .hits_comparison.added
                                  a(href='#') 
                              .hits-wrap
                                .hits_defer.add
                                  a(href='#') 
                                .hits_defer.added.active
                                  a(href='#') 
                              .hits-wrap.review     
                                .hits_review
                                  a(href='#')
                                    | Отзывы 
                                    span (18)
                            .hits_stat
                              p.stat_yes.active В наличии
                              p.stat_yes.zakaz Под заказ
                              a(href='#') Подробнее
        // brand - tabs - slider !
        section
          .discount.brand
            // bran - name
            #brand.wrap_brand.index-brands
              .tabs
                span.tab Детские игрушки
                span.tab Телевизоры
                span.tab Мебель
                span.tab Спортивные товары
                span.tab Кроссовки
                span.tab Пылесосы
                .dropdown-btn
                  a(href='#')
                    .icon
                      svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',width='14px', viewbox='0 0 15 3', style='enable-background:new 0 0 15 3;', xml:space='preserve')
                        style(type='text/css').
                          .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#3B3B3B;}
                        g
                          g
                            path.st1(d='M1.5,0C0.7,0,0,0.7,0,1.5C0,2.3,0.7,3,1.5,3C2.3,3,3,2.3,3,1.5C3,0.7,2.3,0,1.5,0z M7.5,0C6.7,0,6,0.7,6,1.5\
                            C6,2.3,6.7,3,7.5,3C8.3,3,9,2.3,9,1.5C9,0.7,8.3,0,7.5,0z M13.5,0C12.7,0,12,0.7,12,1.5C12,2.3,12.7,3,13.5,3\
                            C14.3,3,15,2.3,15,1.5C15,0.7,14.3,0,13.5,0z')
                  .drop-menu-wrapper
                    .drop-line-nav
                      .tabs
                        span.tab Детские игрушки
                        span.tab Телевизоры
                        span.tab Мебель
                        span.tab Спортивные товары
                        span.tab Кроссовки
                        span.tab Пылесосы
                .brand_all
                  a(href='#')
                    | Все бренды 
                    span (108)
              .tab_content
                // brand# Детские игрушки
                .tab_item
                  // slider in tab#
                  .discount-slider
                    .slick-slider-discount-brand
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand1.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand2.jpg', alt='#')
                              p Полесье
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand3.jpg', alt='#')
                              p Mammoet
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand4.jpg', alt='#')
                              p Tematoys
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand5.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand1.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand2.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand3.jpg', alt='#')
                              p Tematoys
                // brand# Телевизоры
                .tab_item
                  // slider in tab#
                  .discount-slider
                    .slick-slider-discount-brand
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand1.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand2.jpg', alt='#')
                              p Полесье
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand3.jpg', alt='#')
                              p Mammoet
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand4.jpg', alt='#')
                              p Tematoys
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand5.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand1.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand2.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand3.jpg', alt='#')
                              p Tematoys
                // brand# Мебель
                .tab_item
                  // slider in tab#
                  .discount-slider
                    .slick-slider-discount-brand
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand1.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand2.jpg', alt='#')
                              p Полесье
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand3.jpg', alt='#')
                              p Mammoet
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand4.jpg', alt='#')
                              p Tematoys
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand5.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand1.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand2.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand3.jpg', alt='#')
                              p Tematoys
                // brand# Спортивные товары
                .tab_item
                  // slider in tab#
                  .discount-slider
                    .slick-slider-discount-brand
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand1.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand2.jpg', alt='#')
                              p Полесье
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand3.jpg', alt='#')
                              p Mammoet
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand4.jpg', alt='#')
                              p Tematoys
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand5.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand1.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand2.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand3.jpg', alt='#')
                              p Tematoys
                // brand# Кроссовки
                .tab_item
                  // slider in tab#
                  .discount-slider
                    .slick-slider-discount-brand
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand1.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand2.jpg', alt='#')
                              p Полесье
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand3.jpg', alt='#')
                              p Mammoet
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand4.jpg', alt='#')
                              p Tematoys
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand5.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand1.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand2.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand3.jpg', alt='#')
                              p Tematoys
                // brand# Пылесосы
                .tab_item
                  // slider in tab#
                  .discount-slider
                    .slick-slider-discount-brand
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand1.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand2.jpg', alt='#')
                              p Полесье
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand3.jpg', alt='#')
                              p Mammoet
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand4.jpg', alt='#')
                              p Tematoys
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand5.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand1.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand2.jpg', alt='#')
                              p Coloma
                      // slider - block
                      .slider_block.brand
                        .brand_block_wrap
                          // discount_block brand
                          .brand_block
                            a(href='#')
                              .brand_img
                                img(src='img/promo/brand3.jpg', alt='#')
                              p Tematoys
              // class="tab_content"
            // class="wrap_brand" id="brand"
        // themed sliders
        section
          .discount.themed
            h2 Тематические подборки
            // THEME @child@
            h3 Детям на праздник
            .discount-slider
              .slick-slider-discount-themed
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Каталка Полесье Боби [5434]
                      p.themed_cat Машинки
                      p.themed_coast 435,60 р.
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Lego technick
                      p.themed_cat Конструкторы
                      p.themed_coast 1 027,00 р.
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Мягкая игрушка Hasbro Игривый щенок [B0449]
                      p.themed_cat Мягкие игрушки
                      p.themed_coast 3 798,00 р.
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Батут Sundays MOD1 252см - 8ft
                      p.themed_cat Батуты
                      p.themed_coast 6 435,60 р.
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Кукла Simba Animal Doctor (105737393)
                      p.themed_cat Куклы
                      p.themed_coast 1,60 р.
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Телескоп Sky-Watcher BK 767AZ1
                      p.themed_cat Телескопы
                      p.themed_coast 35,60 р. 
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Самокат Sundays SA-401
                      p.themed_cat Самокаты
                      p.themed_coast 135,60 р. 
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    a(href="#")
                      img(src='img/promo/themed101.jpg', alt='#')
                      p.themed_name
                        | Каталка Полесье Боби [5434]
                      p.themed_cat Машинки
                      p.themed_coast 435,60 р.
            // THEME @technic@
            h3 Умная техника
            .discount-slider
              .slick-slider-discount-themed
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#') Каталка Полесье Боби [5434]
                    p.themed_cat Машинки
                    p.themed_coast 435,60 р.
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#') Lego technick
                    p.themed_cat Конструкторы
                    p.themed_coast 1 027,00 р.
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#') Мягкая игрушка Hasbro Игривый щенок [B0449]
                    p.themed_cat Мягкие игрушки
                    p.themed_coast 3 798,00 р.
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#') Батут Sundays MOD1 252см - 8ft
                    p.themed_cat Батуты
                    p.themed_coast 6 435,60 р.
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#') Кукла Simba Animal Doctor (105737393)
                    p.themed_cat Куклы
                    p.themed_coast 1,60 р.
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#') Телескоп Sky-Watcher BK 767AZ1
                    p.themed_cat Телескопы
                    p.themed_coast 35,60 р. 
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#') Самокат Sundays SA-401
                    p.themed_cat Самокаты
                    p.themed_coast 135,60 р. 
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#') Каталка Полесье Боби [5434]
                    p.themed_cat Машинки
                    p.themed_coast 435,60 р.
            // THEME @in help@
            h3 Маме на кухню
            .discount-slider
              .slick-slider-discount-themed
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#') Каталка Полесье Боби [5434]
                    p.themed_cat Машинки
                    p.themed_coast 435,60 р.
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#') Lego technick
                    p.themed_cat Конструкторы
                    p.themed_coast 1 027,00 р.
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#') Мягкая игрушка Hasbro Игривый щенок [B0449]
                    p.themed_cat Мягкие игрушки
                    p.themed_coast 3 798,00 р.
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#') Батут Sundays MOD1 252см - 8ft
                    p.themed_cat Батуты
                    p.themed_coast 6 435,60 р.
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#') Кукла Simba Animal Doctor (105737393)
                    p.themed_cat Куклы
                    p.themed_coast 1,60 р.
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#') Телескоп Sky-Watcher BK 767AZ1
                    p.themed_cat Телескопы
                    p.themed_coast 35,60 р. 
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                      a(href='#') Самокат Sundays SA-401
                    p.themed_cat Самокаты
                    p.themed_coast 135,60 р. 
                // slider - block
                .slider_block
                  // block themed
                  .themed_block
                    img(src='img/promo/themed101.jpg', alt='#')
                    p.themed_name
                 i     a(href='#') Каталка Полесье Боби [5434]
                    p.themed_cat Машинки
                    p.themed_coast 435,60 р.
            .themed_more
              a(href='#') Показать ещё
        // news
        section
          .discount
            h2 Новости и акции
            .discount-slider.news-slider
              .slick-slider-discount-news
                // slider - block
                .slider_block
                  // block news
                  .news_block
                    a(href='#')
                      img(src='img/promo/news1.jpg', alt='#')
                      time.news_date 06 июля, 2016 года
                      p.news_descr Праздник игрушек – мероприятие республи- канского масштаба!
                // slider - block
                .slider_block
                  // block news
                  .news_block
                    a(href='#')
                      img(src='img/promo/news1.jpg', alt='#')
                      time.news_date 06 июля, 2016 года
                      p.news_descr Праздник игрушек снова в Кобрине!
                // slider - block
                .slider_block
                  // block news
                  .news_block
                    a(href='#')
                      img(src='img/promo/news1.jpg', alt='#')
                      time.news_date 06 июля, 2016 года
                      p.news_descr Каталки игровые с конструктором
                // slider - block
                .slider_block
                  // block news
                  .news_block
                    a(href='#')
                      img(src='img/promo/news1.jpg', alt='#')
                      time.news_date 06 июля, 2016 года
                      p.news_descr Праздник игрушек – мероприятие республи- канского масштаба!
                // slider - block
                .slider_block
                  // block news
                  .news_block
                    a(href='#')
                      img(src='img/promo/news1.jpg', alt='#')
                      time.news_date 06 июля, 2016 года
                      p.news_descr Праздник игрушек снова в Кобрине!
                // slider - block
                .slider_block
                  // block news
                  .news_block
                    a(href='#')
                      img(src='img/promo/news1.jpg', alt='#')
                      time.news_date 06 июля, 2016 года
                      p.news_descr Каталки игровые с конструктором
      .mask-js
      // footer
      include ./includes/_footer.jade
    include ./includes/_index-modals.jade
